<div class="page-heading">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">{{'Posting Group' | translate}}</li>
        <li class="breadcrumb-item">{{'Inventory' | translate}}</li>
    </ol>
</div>
<div class="page-header" >
    <div class="ibox ibox-sm">
        <div class="ibox-body">
            <module-ptg-inventory  
                    [layout]='"grid"'
                    [(ngModel)]="acct_id" 
                    (ngModelChange)="acct_id = $event"
                
                ></module-ptg-inventory>
        </div>
    </div>
</div>