<div class="page-heading">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">{{'CRM' | translate}}</li>
    </ol>
</div>
<div class="page-content">
    
            
        
    <div class="-page-header -bg-white mt-2x">
    <div class="row">
        <div class="col-xl-8">
            <div class="ibox">
                <div class="ibox-body">
                    <div class="row row-sm">
                        <div class="col-sm-4 text-center">
                            <div>
                                <div>{{'New Leads' | translate}}</div>
                                <div class="mt-2">
                                    <div class="easypie centered" attr.data-percent="{{dashboard_datav1?.sales_power.lead.value/dashboard_datav1?.sales_power.lead.total*100}}" data-bar-color="#18C5A9" data-size="120" data-line-width="8">
                                        <span class="easypie-data h3 font-strong">{{dashboard_datav1?.sales_power.lead.value}}/{{dashboard_datav1?.sales_power.lead.total}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 text-center">
                            <div>
                                <div>{{'New Opportunities' | translate}}</div>
                                <div class="mt-2">
                                    <div class="easypie centered" attr.data-percent="{{dashboard_datav1?.sales_power.opporttunity.value/dashboard_datav1?.sales_power.opporttunity.total*100}}" data-bar-color="#18C5A9" data-size="120" data-line-width="8">
                                        <span class="easypie-data h3 font-strong">{{dashboard_datav1?.sales_power.opporttunity.value|number}}/{{dashboard_datav1?.sales_power.opporttunity.total|number}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 text-center">
                            <div>
                                <div>{{'Act. vs Est. Revenue' | translate}}</div>
                                <div class="mt-2">
                                    <div class="easypie centered" attr.data-percent="{{dashboard_datav1?.sales_power.revenue.value/dashboard_datav1?.sales_power.revenue.total*100}}" data-bar-color="#18C5A9" data-size="120" data-line-width="8">
                                        <span class="easypie-data font-strong">
                                            <span>{{dashboard_datav1?.sales_power.revenue.value|number}}
                                                <hr class="mt-0 mb-0"/>
                                            {{dashboard_datav1?.sales_power.revenue.total|number}}
                                        </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="ibox">
                <div class="ibox-body">
                    <div class="d-flex justify-content-between mb-4">
                        <div>
                            <h3 class="m-0">{{'Pipeline and Active Opportunities' | translate}}</h3>
                        </div>
                    </div>
                    <div>
                        <canvas id="pieline_and_active_opp" style="height:220px;"></canvas>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-body">
                    <div class="d-flex justify-content-between mb-4">
                        <div>
                            <h3 class="m-0">{{'Number Of Opportunities By Week' | translate}}</h3>
                        </div>
                    </div>
                    <div>
                        <canvas id="number_of_opp_by_week" style="height:320px;"></canvas>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-body">
                    <div class="d-flex justify-content-between mb-4">
                        <div>
                            <h3 class="m-0">{{'PipeLine - By Opportunities Size' | translate}}</h3>
                        </div>
                    </div>
                    <div>
                        <canvas id="pieline_by_opp_size" style="height:320px;"></canvas>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-body">
                    <div class="d-flex justify-content-between mb-4">
                        <div>
                            <h3 class="m-0">{{'Won/Lost Trend - By Month' | translate}}</h3>
                        </div>
                    </div>
                    <div>
                        <canvas id="won_lost_trend" style="height:320px;"></canvas>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-body">
                    <div class="d-flex justify-content-between mb-4">
                        <div>
                            <h3 class="m-0">{{'Sales Qty By Product ( by Month)' | translate}}</h3>
                        </div>
                    </div>
                    <div>
                        <canvas id="total_sale_qty_product" style="height:320px;"></canvas>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-body">
                    <div class="d-flex justify-content-between mb-4">
                        <div>
                            <h3 class="m-0">{{'Pipeline - By Week & Product' | translate}}</h3>
                        </div>
                    </div>
                    <div>
                        <canvas id="pieline_by_week_product" style="height:320px;"></canvas>
                    </div>
                    <div id="pieline_by_week_product_legend" class="legend-chart"></div>
                </div>
            </div><div class="ibox">
                <div class="ibox-body">
                    <div class="d-flex justify-content-between mb-4">
                        <div>
                            <h3 class="m-0">{{'Top Products' | translate}}</h3>
                        </div>
                    </div>
                    <div>
                        <canvas id="top_products" style="height:320px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            
            <div class="card mb-4">
                <div class="card-body">
                    <div class="flexbox">
                        <div class="">{{'Active Opportunities' | translate}}</div>
                        <h2 class="">{{dashboard_datav1?.opporttunity_status.opporttunity_active}}</h2>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="flexbox">
                        <div class="">{{'Total Projected' | translate}}</div>
                        <h2 class="">{{dashboard_datav1?.opporttunity_status.opporttunity_total_project|number}}</h2>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="flexbox">
                        <div class="">{{'Won this month' | translate}}</div>
                        <h2 class="">{{dashboard_datav1?.opporttunity_status.opporttunity_won}}</h2>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="flexbox">
                        <div class="">{{'Lost this month' | translate}}</div>
                        <h2 class="">{{dashboard_datav1?.opporttunity_status.opporttunity_lost}}</h2>
                    </div>
                </div>
            </div>
            <!-- <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Statistics</div>
                    <div class="ibox-tools">
                        <a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item"> <i class="ti-pencil"></i>Create</a>
                            <a class="dropdown-item"> <i class="ti-pencil-alt"></i>Edit</a>
                            <a class="dropdown-item"> <i class="ti-close"></i>Remove</a>
                        </div>
                    </div>
                </div>
                <div class="ibox-body">
                    <div class="h2 m-0">$12,400<sup>.60</sup><i class="ti-stats-up float-right text-success font-40"></i></div>
                    <div class="text-muted m-t-5">MONTH INCOME</div>
                    <div class="my-4">
                        <div class="h4 m-0">120</div>
                        <div class="flexbox"><small>Example data</small>
                            <span class="text-success font-12" style="font-size: 12px;"><i class="fa fa-level-up"></i> +24%</span>
                        </div>
                        <div class="progress mt-1">
                            <div class="progress-bar bg-success" role="progressbar" style="width:52%; height:5px;" aria-valuenow="52" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="h4 m-0">86</div>
                        <div class="flexbox"><small>Example data</small>
                            <span class="text-warning font-12" style="font-size: 12px;"><i class="fa fa-level-down"></i> -12%</span>
                        </div>
                        <div class="progress mt-1">
                            <div class="progress-bar bg-warning" role="progressbar" style="width:45%; height:5px;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="ibox ibox-fullheight">
                <div class="ibox-head">
                    <div class="ibox-title">Active Opportunities</div>
                    
                </div>
                <div class="ibox-body">
                    <div>Active Opportunities</div>
                    <h2>{{dashboard_datav1?.opporttunity_status.opporttunity_active}}</h2>
                </div>
                <div class="ibox-head">
                    <div class="ibox-title">Account Payable</div>
                    
                </div>
                <div class="ibox-body">
                    <div class="mb-5">
                        <div class="flexbox-b mb-2">
                            <span class="badge-point badge-success mr-2"></span>Payabled {{dashboard_data?.cash_flow.accounts_payable.total|number}}
                        </div>
                    </div>
                    <div class="ibox-fullwidth-block">
                        <canvas id="payable_chart" style="height:320px;"></canvas>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    </div>
</div>