
<div class="dropdown dropdown-module" *ngIf="!hidden && !layout">
    <button #dropDownButton class="btn btn-block btn-sm btn-outline-secondary dropdown-toggle dropdown-arrow widget-dropdown" data-toggle="dropdown"
        (click)="initDropdown($event)" (mouseenter)="initEvents()"
        >{{label}}</button>
    <div class="dropdown-menu" style="min-width: 450px">
        <jqxGrid 
            *ngIf="dropDownGridSetting"
            #dropDownGrid 
            [width]="'100%'" 
            [filterable]="true"
            [showfilterrow]="true"
            [sortable]="true"
            [source]="dropDownGridSetting?.source" 
            [columns]="dropDownGridSetting?.columns" 
            [theme]="theme"
            [ready]="dropDownGridSetting?.ready"
            [pageable]="true" 
            [pagesize]="50"
            [pagesizeoptions]="[50, 100, 200, 500]"
            [columnsresize]="false" 
            [autoheight]="false"
            [height]="280"
            style="'border:0'"
            (onRowclick)="dropDownGridSetting?.onRowSelect($event)"
            [virtualmode]="true"
            [rendergridrows]="dropDownGridSetting?.rendergridrows"
            onClick="event.stopPropagation();"
            [handlekeyboardnavigation]="dropDownGridSetting?.handlekeyboardnavigation"
            [localization]="dropDownGridSetting?.localization"
            >
        </jqxGrid>
        <div class="dropdown-foot text-right">
            <a (click)="switchToAdvance()"><i class="fa fa-cogs"></i> {{ 'Advance' | translate}}</a>
        </div>
    </div>
</div>
<jqxWindow 
    *ngIf="layout!='grid'"
    class="widget-window"
    #window 
    [isModal]="true"
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="930" 
    [minHeight]='645'
    [keyboardCloseKey]='""'
    [keyboardNavigation]="false"
    [showCollapseButton]="false"
    [showCloseButton]="true"

    (onClose)="eventWindowClose()"
    (onOpen)="eventWindowOpen()"
    >
    <div #windowHeader>
        <b>
            Inventory 
        </b>
    </div>
    <div style="overflow: hidden;">
        <ul class="ribon-menu">
            <!-- <li><a (click)="addNewItem()"><i class="fa fa-plus"></i><span>Add</span></a></li> -->
            <li><a (click)="clickAdd()"><i class="fa fa-plus"></i><span>{{ 'Add' | translate}}</span></a></li>
            <li><a (click)="clickEdit()"><i class="fa fa-pencil"></i><span>{{ 'Edit' | translate}}</span></a></li>
            <li><a (click)="clickDelete()"><i class="fa fa-times"></i><span>{{ 'Delete' | translate}}</span></a></li>
            <!-- <li class="disabled"><a><i class="fa fa-fa-empty-set"></i><span>Clear Selection</span></a></li> -->
            <li class="driver"></li>
            <li><a  (click)="reloadGrid()"><i class="ti-reload"></i><span>{{ 'Refresh' | translate}}</span></a></li>
            

        </ul>
        <jqxGrid 
            *ngIf="gridSetting"
            #grid
            [width]='910'
            [height]='480'
            [filterable]="true"
            [showfilterrow]="true"
            [sortable]="true"
            [ready]="gridSetting?.ready"
            [localization]="gridSetting?.localization"

            [pageable]="true"
            [pagesize]="50"
            [pagesizeoptions]="[50, 100, 500, 1000]"


            [theme]="theme"
            [source]="gridSetting?.source" 
            [columns]="gridSetting?.columns" 

            [showtoolbar]="false"

            [virtualmode]="true"
            [rendergridrows]="gridSetting?.rendergridrows"
            

            [editable]="true"
            [editmode]='"selectedrow"'
            [selectionmode]='"singlerow"'
            (onCellbeginedit)="gridSetting?.onCellBeginEdit($event)" 
            (onCellendedit)="gridSetting?.onCellEndEdit($event)" 
            ></jqxGrid>
            <!-- 
            (onRowdoubleclick)="gridSetting?.onRowdoubleclick($event)" 
            -->
            <div class="mt-1x text-center">
                <button class="btn btn-sm btn-danger" (click)="close()"><span class="fa fa-remove"></span> {{ 'Close' | translate}}</button>
                <button class="btn btn-sm btn-primary" (click)="done()"><span class="fa fa-check"></span> {{ 'Done' | translate}}</button>
            </div>
    </div>
</jqxWindow>
<div *ngIf="layout=='grid'">
    <ul class="ribon-menu">
            <!-- <li><a (click)="addNewItem()"><i class="fa fa-plus"></i><span>Add</span></a></li> -->
            <li><a (click)="clickAdd()"><i class="fa fa-plus"></i><span>{{ 'Add' | translate}}</span></a></li>
            <li><a (click)="clickEdit()"><i class="fa fa-pencil"></i><span>{{ 'Edit' | translate}}</span></a></li>
            <li><a (click)="clickDelete()"><i class="fa fa-times"></i><span>{{ 'Delete' | translate}}</span></a></li>
            <!-- <li class="disabled"><a><i class="fa fa-fa-empty-set"></i><span>Clear Selection</span></a></li> -->
            <li class="driver"></li>
            <li><a  (click)="reloadGrid()"><i class="ti-reload"></i><span>{{ 'Refresh' | translate}}</span></a></li>
            

        </ul>
    <jqxGrid 
            *ngIf="gridSetting"
            #grid
            [width]='"100%"'
            [height]='580'
            [filterable]="true"
            [showfilterrow]="true"
            [sortable]="true"
            [ready]="gridSetting?.ready"
            [localization]="gridSetting?.localization"

            [virtualmode]="true"
            [rendergridrows]="gridSetting?.rendergridrows"

            [pageable]="true"
            [pagesize]="50"
            [pagesizeoptions]="[50, 100, 500, 1000]"

            [theme]="theme"
            [source]="gridSetting?.source" 
            [columns]="gridSetting?.columns" 

            [showtoolbar]="false"
            [editable]="true"
            [editmode]='"selectedrow"'
            [selectionmode]='"singlerow"'
            (onCellbeginedit)="gridSetting?.onCellBeginEdit($event)" 
            (onCellendedit)="gridSetting?.onCellEndEdit($event)" 
            ></jqxGrid>
            <!-- 
            (onRowdoubleclick)="gridSetting?.onRowdoubleclick($event)" 
            -->
</div>
<jqxWindow 
    class="widget-window"
    #detailWindow 
    [isModal]="true"
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="780" 
    [height]="'auto'"
    [keyboardCloseKey]='""'
    [keyboardNavigation]="false"
    [showCollapseButton]="false"
    [showCloseButton]="true"
    (onOpen)="initDetailWindow()"
    >
    <div #windowHeader>
        <b>
            Item Card 
        </b>
    </div>
    <div style="overflow: visible;padding:0">
        <ul class="nav tabs bordered-tabs" >
            <li><a class="active nav-link " data-toggle="tab" href="#tab-{{windowId}}-master-data">{{ 'General' | translate}}</a></li>
            <li><a class="nav-link" data-toggle="tab" href="#tab-{{windowId}}-price-list">{{ 'Price Lists' | translate}}</a></li>
            <li><a class="nav-link" data-toggle="tab" href="#tab-{{windowId}}-attachments">{{ 'Attachments' | translate}}</a></li>
        </ul>
        <div style="height: 410px;overflow:visible;padding: 30px 30px 0 30px">
            <jqxValidator 
                #validator  
                [rules]="rules" 
                [focus]="false"
                (onValidationSuccess)="onValidationSuccess()"
                (onValidationError)="onValidationError()"
                >
                <form>
                    <input type="hidden" name="id" [ngModel]="editingItem?.id" >
                    <div class="tab-content">
                        <div id="tab-{{windowId}}-master-data" class="tab-pane active">
                            <div class="row row-sm">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class=" text-right">{{ 'Item Code' | translate}}</label>
                                        <div class="">
                                            <input 
                                                class="form-control form-control-sm txt_product_code text-uppercase"
                                                type="text"
                                                name="product_code" 
                                                [ngModel]="editingItem?.product_code"
                                                (ngModelChange)="editingItem.product_code = $event"
                                                >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class=" text-right">{{ 'Barcode' | translate}}</label>
                                        <div class="">
                                            <input 
                                                class="form-control form-control-sm txt_barcode"
                                                type="text"
                                                name="barcode" 
                                                [ngModel]="editingItem?.barcode"
                                                (ngModelChange)="editingItem.barcode = $event"
                                                >
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class=" text-right">{{ 'Description' | translate}}</label>
                                        <div class="">
                                            <input 
                                                class="form-control form-control-sm txt_description"
                                                type="text"
                                                name="description" 
                                                [ngModel]="editingItem?.description"
                                                (ngModelChange)="editingItem.description = $event"
                                                >
                                        </div>
                                    </div>
                                <!-- </div> -->
                                
                                <!-- <div class="col-sm-6"> -->
                                    <div class="form-group ">
                                        <label class="">{{ 'Item Group' | translate}}</label>
                                        <div class="cbx_item_group_id">
                                            <module-item-group  
                                                #itemGroupCbx
                                                [key]="'id'"
                                                *ngIf="itemGroupSetting"
                                                [ngModel]="editingItem?.item_group_id" 
                                                (ngModelChange)="editingItem.item_group_id = $event"
                                                [ngModelOptions]="{standalone: true}"
                                                (onChange)="itemGroupSetting.onChange($event)"
                                                (onOpen)="itemGroupSetting.onOpen()"
                                                (onClose)="itemGroupSetting.onClose()"
                                            ></module-item-group>
                                        </div>
                                    </div>
                                <!-- </div> -->
                                <!-- <div class="col-sm-6"> -->
                                    <div class="form-group">
                                        <label class=" text-right">{{ 'Suppliers' | translate}}</label>
                                        <div class="cbx_supplier_id">
                                            <module-partner  
                                                #supplierCbx
                                                [key]="'id'"
                                                [type]="2"
                                                *ngIf="supplierSetting"
                                                [ngModel]="editingItem?.supplier_id" 
                                                (ngModelChange)="editingItem.supplier_id = $event"
                                                [ngModelOptions]="{standalone: true}"
                                                (onChange)="supplierSetting.onChange($event)"
                                                (onOpen)="supplierSetting.onOpen()"
                                                (onClose)="supplierSetting.onClose()"
                                            ></module-partner>
                                        </div>
                                    </div>
                                <!-- </div> -->
                                <!-- <div class="col-sm-6"> -->
                                    <div class="form-group ">
                                        <label class="">{{ 'Gen. Prod. Post. Group' | translate}}</label>
                                        <div class="cbx_gen_product_ptg_code">
                                            <module-ptg-gen-product  
                                                #genProdPtgCbx
                                                [key]="'code'"
                                                *ngIf="genProdPtgSetting"
                                                [ngModel]="editingItem?.gen_product_ptg_code" 
                                                (ngModelChange)="editingItem.gen_product_ptg_code = $event"
                                                [ngModelOptions]="{standalone: true}"
                                                (onOpen)="genProdPtgSetting.onOpen()"
                                                (onClose)="genProdPtgSetting.onClose()"
                                                (onChange)="genProdPtgSetting.onChange($event)"
                                            ></module-ptg-gen-product>
                                        </div>
                                    </div>
                                    <!-- <div class="col-sm-6"> -->
                                        <div class="form-group ">
                                            <label class="">{{ 'Inventory Posting Group' | translate}}</label>
                                            <div class="cbx_invt_ptg_code">
                                                <module-ptg-inventory  
                                                    #invtPtgCbx
                                                    [key]="'code'"
                                                    *ngIf="invtPtgSetting"
                                                    [ngModel]="editingItem?.invt_ptg_code" 
                                                    (ngModelChange)="editingItem.invt_ptg_code = $event"
                                                    [ngModelOptions]="{standalone: true}"
                                                    (onOpen)="invtPtgSetting.onOpen()"
                                                    (onClose)="invtPtgSetting.onClose()"
                                                    (onChange)="invtPtgSetting.onChange($event)"
                                                ></module-ptg-inventory>
                                            </div>
                                        </div>
                                    <!-- </div> -->
                                </div>
                                <!-- <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="">Unit Price</label>
                                        <div class="">
                                            <jqxNumberInput
                                                [ngModel]="editingItem?.unit_price"
                                                (ngModelChange)="editingItem.unit_price = $event"
                                                [ngModelOptions]="{standalone: true}"
                                                [min]="0"
                                                [width]="'100%'" 
                                                [height]="32" 
                                                [spinButtons]="true"
                                                [theme]='theme'
                                                [inputMode]="'simple'"
                                                ></jqxNumberInput>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- </div> -->
                                
                                <div class="col-sm-6">
                                    <!-- <fieldset class="fieldset"> -->
                                        <!-- <legend>UOM</legend> -->
                                        <div class="row row-sm">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class=" text-right">{{ 'Base UOM' | translate}}</label>
                                                    <div class="cbx_base_uom_id">
                                                        <module-uom  
                                                            #baseUomCbx
                                                            [key]="'id'"
                                                            *ngIf="uomSetting"
                                                            [ngModel]="editingItem?.uom_id" 
                                                            (ngModelChange)="editingItem.uom_id = $event"
                                                            [ngModelOptions]="{standalone: true}"
                                                            (onOpen)="uomSetting.onOpen()"
                                                            (onClose)="uomSetting.onClose()"
                                                            (onChange)="uomSetting.onBaseUomChange($event)"
                                                        ></module-uom>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class=" text-right">{{ 'Item UOM' | translate}}</label>
                                                    <div class="cbx_item_uom_id">
                                                        <module-uom  
                                                            #itemUomCbx
                                                            [key]="'id'"
                                                            *ngIf="uomSetting"
                                                            [ngModel]="editingItem?.item_uom" 
                                                            (ngModelChange)="editingItem.item_uom = $event"
                                                            [ngModelOptions]="{standalone: true}"
                                                            (onOpen)="uomSetting.onOpen()"
                                                            (onClose)="uomSetting.onClose()"
                                                            (onChange)="uomSetting.onItemUomChange($event)"
                                                        ></module-uom>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class=" text-right">{{ 'Case' | translate}}</label>
                                                    <div class="">
                                                        <input 
                                                            class="form-control form-control-sm txt_case"
                                                            type="text"
                                                            name="case" 
                                                            [ngModel]="editingItem?.case"
                                                            (ngModelChange)="editingItem.case = $event"
                                                            >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- </fieldset> -->
                                <!-- </div> -->
                                <!-- <div class="col-sm-6"> -->
                                    <!-- <fieldset class="fieldset"> -->
                                        <!-- <legend>Inventory</legend> -->
                                        <div class="row row-sm">
                                            
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="">{{ 'Unit Cost' | translate}}</label>
                                                    <div class="">
                                                        <jqxNumberInput
                                                            [ngModel]="editingItem?.unit_cost"
                                                            (ngModelChange)="editingItem.unit_cost = $event"
                                                            [ngModelOptions]="{standalone: true}"
                                                            [min]="0"
                                                            [width]="'100%'" 
                                                            [height]="32" 
                                                            [spinButtons]="true"
                                                            [theme]='theme'
                                                            [inputMode]="'simple'"
                                                            ></jqxNumberInput>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- </fieldset> -->
                                </div>
                                
                            </div>
                        </div>
                        <div id="tab-{{windowId}}-price-list" class="tab-pane">
                            <!-- <div class="row row-sm"> -->
                                <!-- <div class="col-sm-6"> -->
                                    <fieldset class="fieldset">
                                        <legend>{{'Sales' | translate}}</legend>
                                        <div class="row row-sm">
                                            <div class="col-sm-6">

                                                
                                                <div class="form-group ">
                                                    <label class="">{{ 'Sales TAX' | translate}}</label>
                                                    <div class="cbx_vat_product_ptg_code">
                                                        <module-ptg-vat-product  
                                                            #salesTaxGroupCbx
                                                            [key]="'id'"
                                                            [type]="1"
                                                            *ngIf="vatProdPtgSetting"
                                                            [ngModel]="editingItem?.sale_tax_group_id" 
                                                            (ngModelChange)="editingItem.sale_tax_group_id = $event"
                                                            [ngModelOptions]="{standalone: true}"
                                                            (onOpen)="vatProdPtgSetting.onOpen()"
                                                            (onClose)="vatProdPtgSetting.onClose()"
                                                            (onChange)="vatProdPtgSetting.onChange($event)"
                                                        ></module-ptg-vat-product>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="">{{ 'Sales Price' | translate}}</label>
                                                    <div class="">
                                                        
                                                        <jqxNumberInput
                                                            [ngModel]="editingItem?.sale_price_exclude_tax"
                                                            (ngModelChange)="editingItem.sale_price_exclude_tax = $event"
                                                            [ngModelOptions]="{standalone: true}"
                                                            [min]="0"
                                                            [width]="'100%'" 
                                                            [height]="32" 
                                                            [spinButtons]="true"
                                                            [theme]='theme'
                                                            [inputMode]="'simple'"
                                                            ></jqxNumberInput>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 text-right">
                                                {{ 'Sales Price Incl. Tax' | translate}} : {{(((1+editingItem?.vat_product_ptg?.value/100) * editingItem?.sale_price_exclude_tax) || 0) | currency}}
                                            </div>
                                        </div>
                                    </fieldset>
                                <!-- </div> -->
                                
                                <!-- <div class="col-sm-6"> -->
                                    <fieldset class="fieldset">
                                        <legend>{{ 'Purchase' | translate}}</legend>
                                        <div class="row row-sm">
                                            <div class="col-sm-6">
                                                <div class="form-group ">
                                                    <label class="">{{ 'Purchase TAX' | translate}} </label>
                                                    <div class="cbx_purchase_tax_group_id">
                                                        <module-ptg-vat-product  
                                                            #purchaseTaxGroupCbx
                                                            [key]="'id'"
                                                            [type]="2"
                                                            *ngIf="vatProdPtgSetting"
                                                            [ngModel]="editingItem?.purchase_tax_group_id" 
                                                            (ngModelChange)="editingItem.purchase_tax_group_id = $event"
                                                            [ngModelOptions]="{standalone: true}"
                                                            (onOpen)="vatProdPtgSetting.onOpen()"
                                                            (onClose)="vatProdPtgSetting.onClose()"
                                                            (onChange)="vatProdPtgSetting.onPurchaseTaxChange($event)"
                                                        ></module-ptg-vat-product>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="">{{ 'Purchase Price' | translate}}</label>
                                                    <div class="">
                                                        
                                                        <jqxNumberInput
                                                            [ngModel]="editingItem?.purchase_price_exclude_tax"
                                                            (ngModelChange)="editingItem.purchase_price_exclude_tax = $event"
                                                            [ngModelOptions]="{standalone: true}"
                                                            [min]="0"
                                                            [width]="'100%'" 
                                                            [height]="32" 
                                                            [spinButtons]="true"
                                                            [theme]='theme'
                                                            [inputMode]="'simple'"
                                                            ></jqxNumberInput>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 text-right">
                                                {{ 'Purchase Price Incl. Tax' | translate}} : {{(((1+editingItem?.purchase_tax_group?.value/100) * editingItem?.purchase_price_exclude_tax) || 0) | currency}}
                                            </div>
                                        </div>
                                    </fieldset>
                                    
                                <!-- </div> -->
                            <!-- </div> -->
                        </div>
                        <div id="tab-{{windowId}}-attachments" class="tab-pane">
                            <div class="">
                                <div class="cover big-thumb float-left mr-1 mb-1" 
                                    [ngClass]="{'active': item.udid == editingItem?.default_image}"
                                    *ngFor="let item of editingItem?.images || []; let i = index"
                                    [ngStyle]="{'background-image': 'url(' + item.url + ')'}"
                                    (click)="onSetDefaultPhoto(item.udid)"
                                    ></div>
                                <div class="cover big-thumb float-left mr-1 mb-1" 
                                    [ngClass]="{'active': item.udid == editingItem?.default_image}"
                                    *ngFor="let item of editingItem?.newImages || []; let i = index"
                                    [ngStyle]="{'background-image': 'url(' + item.photo + ')'}"
                                    (click)="onSetDefaultPhoto(item.udid)"
                                    ></div>
                                <!-- <div class="clearfix"></div> -->
                                <jqxFileUpload 
                                    #fileUpload 
                                    class="custom-upload-thumb"
                                    [accept]="'image/*'"
                                    [theme]="theme"
                                    [width]="'110px'" 
                                    [height]="'110px'"
                                    [uploadUrl]="'/'" 
                                    [fileInputName]="'fileToUpload'"
                                    (onSelect)="onSelectPhoto($event)"
                                    ></jqxFileUpload>
                            </div>
                        </div>
                    </div>
                </form>
            </jqxValidator>
        </div>
        <div class="jqx-window-footer">
            <div class="p-2x">
                <button class="btn btn-sm btn-danger" (click)="closeDetail()"><span class="fa fa-remove"></span> {{ 'Close' | translate}}</button>
                <button class="btn btn-sm btn-primary" (click)="checkValidate()">
                    <span class="fa fa-save"></span> {{(editingItem?.id?'Update':'Create') | translate}}
                </button>
            </div>
        </div>
    </div>
</jqxWindow>