<div id="sidebar-collapse">
  <ul class="side-menu metismenu" >
    <!-- <li class="heading">Finances</li> -->
    <!-- <li class="heading">Receipts-Payments</li>
    <li>
      <a routerLink="/re-pay/receipt" routerLinkActive="active">
        <i class="sidebar-item-icon ti-folder"></i> <span class="nav-label">Receipts</span>
      </a>
    </li>
    <li>
      <a routerLink="/re-pay/payment" routerLinkActive="active">
        <i class="sidebar-item-icon ti-folder"></i> <span class="nav-label">Payments</span>
      </a>
    </li> -->


    



    <li routerLinkActive="active" >
      <a href="href=&quot;javascript:;&quot;"><i class="sidebar-item-icon ti-settings"></i><span class="nav-label">{{translate_data?translate_data['Posting Group Setting']:''}}</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li routerLinkActive="active">
          <a href="href=&quot;javascript:;&quot;"><span class="nav-label">{{translate_data?translate_data['Posting Group']:''}}</span><i class="fa fa-angle-left arrow"></i></a>
          <ul class="nav-3-level " routerLinkActive="in">
            <li>
                <a href="href=&quot;javascript:;&quot;"><span class="nav-label">{{translate_data?.General}}</span><i class="fa fa-angle-left arrow"></i></a>
                <ul class="nav-4-level">
                  <li><a routerLink="/posting-group/general/business" routerLinkActive="active">{{translate_data?.Business}}</a></li>
                  <li><a routerLink="/posting-group/general/product" routerLinkActive="active">{{translate_data?.Product}}</a></li>
                  <li><a routerLink="/posting-group/general/setup" routerLinkActive="active">{{translate_data?translate_data['Posting Setup']:''}}</a></li>
                </ul>
            </li>
            <li><a routerLink="/posting-group/customer" routerLinkActive="active">{{translate_data?.Customer}}</a></li>
            <li><a routerLink="/posting-group/vender" routerLinkActive="active">{{translate_data?.Vendor}}</a></li>
            <li><a routerLink="/posting-group/bank" routerLinkActive="active">{{translate_data?.Bank}}</a></li>
            <li><a routerLink="/posting-group/inventory" routerLinkActive="active">{{translate_data?.Inventory}}</a></li>
            <li><a routerLink="/posting-group/inventory-setup" routerLinkActive="active">{{translate_data?translate_data['Inventory Setup']:''}}</a></li>
          </ul>
        </li>
        <li routerLinkActive="active">
          <a href="href=&quot;javascript:;&quot;"><span class="nav-label">{{translate_data?translate_data['TAX Posting Group']:''}}</span><i class="fa fa-angle-left arrow"></i></a>
          <ul class="nav-3-level " routerLinkActive="in">
            
            <li><a routerLink="/posting-group/vat/business" routerLinkActive="active">{{translate_data?.Business}}</a></li>
            <li><a routerLink="/posting-group/vat/product" routerLinkActive="active">{{translate_data?.Product}}</a></li>
            <li><a routerLink="/posting-group/vat/setup" routerLinkActive="active">{{translate_data?translate_data['Posting Setup']:''}}</a></li>
          </ul>
        </li>
        <li >
          <a routerLink="/posting-group/general/none-item-setup" routerLinkActive="active"><span class="nav-label">{{translate_data?translate_data['None Item Setup']:''}}</span></a>
        </li>
        <li >
          <a routerLink="/activity" routerLinkActive="active"><span class="nav-label">{{translate_data?translate_data['Expense Activity Setting']:''}}</span></a>
        </li>
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="href=&quot;javascript:;&quot;"><i class="sidebar-item-icon ti-import"></i><span class="nav-label">{{translate_data?translate_data['Data Migration']:''}}</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        
        <li >
          <a routerLink="/migration/business-partner" routerLinkActive="active"><span class="nav-label">{{translate_data?translate_data['Business Partner']:''}}</span></a>
        </li>
        <li >
          <a routerLink="/migration/sales" routerLinkActive="active"><span class="nav-label">{{translate_data?translate_data['Business Partner OB']:''}}</span></a>
        </li>
        <li >
          <a routerLink="/migration/product" routerLinkActive="active"><span class="nav-label">{{translate_data?.Product}}</span></a>
        </li>
      </ul>
    </li>
  </ul>
  <!-- <div class="sidebar-footer">
    <a href="javascript:;"><i class="ti-announcement"></i></a>
    <a routerLink="/calendar"><i class="ti-calendar"></i></a>
    <a routerLink="/mailbox"><i class="ti-comments"></i></a>
    <a href="login.html"><i class="ti-power-off"></i></a>
  </div> -->
</div>
