<div class="page-heading">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item" routerLink="/finance">{{'Finances' | translate}}</li>
        <li class="breadcrumb-item">{{'Bank' | translate}}</li>
    </ol>
</div>
<div class="page-header" >
    <div class="ibox ibox-sm">
        <div class="ibox-body">
            <div style="-height: calc(100vh - 260px);">
                <div class="flexbox mb-3">
                    <div class="flexbox">
                        <!-- <button class="btn btn-sm btn-primary" (click)="showGroupPopup()"><span class="fa fa-bars"></span> Item Group</button> -->
                    </div>
                    <div class="flexbox">
                        
                        <button class="btn btn-sm btn-primary" (click)="showDetailForm(0)"><span class="fa fa-plus"></span> {{'Add' | translate}}</button>
                    </div>
                </div>
                <jqxGrid 
                    *ngIf="gridSetting"
                    #grid
                    [width]='"100%"'
                    [height]='560'
                    [filterable]="true"
                    [showfilterrow]="true"
                    [autoshowfiltericon]="false"
                    [sortable]="true"
                    [pageable]="true"
                    [pagesize]="100"
                    [pagesizeoptions]="[100, 500, 1000]"
                    [localization]="gridSetting?.localization"
                    
                    [virtualmode]="true"
                    [rendergridrows]="gridSetting?.rendergridrows"

                    [theme]="theme"
                    [source]="gridSetting?.source" 
                    [columns]="gridSetting?.columns" 

                    [showtoolbar]="false"
                    (onCellclick)="gridSetting?.onCellClick($event)"
                    ></jqxGrid>
            </div>
        </div>
    </div>
</div>
<jqxWindow 
    #window 
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="480" 
    [minHeight]='380'
    [showCollapseButton]="true"
    (onOpen)="initDetailWindow()"
    [title]="'Bank' | translate"
    >
    <div style="overflow: visible;" #windowContent>
        <jqxValidator 
            #validator  [rules]="rules" 
            [focus]="false"
            (onValidationSuccess)="onValidationSuccess()"
            >
            <form>
                <div class="row row-sm">
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label class="text-muted">{{'Code' | translate}}</label>
                            <div class="">
                                <input 
                                    class="form-control form-control-sm txt_code"
                                    type="text"
                                    name="code" 
                                    [ngModel]="editingItem?.code"
                                    (ngModelChange)="editingItem.code = $event"
                                    >
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="text-muted">{{'Bank Posting Group' | translate}}</label>
                            <div class="cbx_bank_ptg_code">
                                <module-ptg-bank  
                                    #bankPtgCbx
                                    [key]="'code'"
                                    *ngIf="bankSetting"
                                    [ngModel]="editingItem?.bank_ptg_code" 
                                    (ngModelChange)="editingItem.bank_ptg_code = $event"
                                    [ngModelOptions]="{standalone: true}"
                                    (onChange)="bankSetting.onChange($event)"
                                    (onOpen)="bankSetting.onOpen()"
                                    (onClose)="bankSetting.onClose()"
                                ></module-ptg-bank>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label class="text-muted">{{'Description' | translate}}</label>
                            <div class="">
                                <input 
                                    class="form-control form-control-sm txt_description"
                                    type="text"
                                    name="description" 
                                    [ngModel]="editingItem?.description"
                                    (ngModelChange)="editingItem.description = $event"
                                    >
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label class="text-muted">{{'Branch' | translate}}</label>
                            <div class="">
                                <input 
                                    class="form-control form-control-sm txt_branch"
                                    type="text"
                                    name="branch" 
                                    [ngModel]="editingItem?.branch"
                                    (ngModelChange)="editingItem.branch = $event"
                                    >
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label class="text-muted">{{'Account' | translate}}</label>
                            <div class="">
                                <input 
                                    class="form-control form-control-sm txt_account"
                                    type="text"
                                    name="account" 
                                    [ngModel]="editingItem?.account"
                                    (ngModelChange)="editingItem.account = $event"
                                    >
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label class="text-muted">{{'Swift Code' | translate}}</label>
                            <div class="">
                                <input 
                                    class="form-control form-control-sm txt_swift_code"
                                    type="text"
                                    name="swift_code" 
                                    [ngModel]="editingItem?.swift_code"
                                    (ngModelChange)="editingItem.swift_code = $event"
                                    >
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="text-muted">{{'Iban' | translate}}</label>
                            <div>
                                <input 
                                    class="form-control form-control-sm txt_iban"
                                    type="text"
                                    name="iban" 
                                    [ngModel]="editingItem?.iban"
                                    (ngModelChange)="editingItem.iban = $event"
                                    >
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="form-group text-center">
                    <button class="btn  btn-primary" (click)="checkValidate()"><span class="fa fa-save"></span> {{'Save' | translate}}</button>
                    <button class="btn  btn-danger" (click)="onCancel()"><span class="fa fa-remove"></span> {{'Cancel' | translate}}</button>
                </div>
            </form>
        </jqxValidator>
    </div>
</jqxWindow>