<div class="page-heading">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">360</li>
        <li class="breadcrumb-item">{{setting.title}}</li>
    </ol>
</div>

<div class="page-header" >
    <ul class="tabs">
            <li routerLink="/360/my-activity" routerLinkActive="active">
                <a class="nav-link ">My Transactions</a>
            </li>
            <li routerLink="/360/all-activity" routerLinkActive="active">
                <a class="nav-link ">All Transactions</a>
            </li>
        </ul>
    <div class="ibox flex-1 none-shadow ibox-sm">
        <div class="ibox-body">
            <div class="activities normal" >
                <div class="item" routerLink="/360/customers/{{router_params.my?'my':''}}">
                    <div >
                        <h4 class="font-strong text-warning">Customers</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.partner.aggregated.customers.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.partner.my_aggregated.customers.count}}</div>
                        <img src="/assets/img/icons/icon-contact.png">
                    </div>
                </div>
                <div class="item" routerLink="/360/sales/quotes/{{setting.page}}">
                    <div >
                        <h4 class="font-strong text-info">Sales<br/>Quotes</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.sales.open_aggregated.quotes.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.sales.my_open_aggregated.quotes.count}}</div>
                        <img src="/assets/img/icons/icon-quote.png">
                    </div>
                </div>

                <div class="item" routerLink="/360/sales/orders/{{setting.page}}">
                    <div >
                        <h4 class="font-strong text-success">Sales<br/>Orders</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.sales.open_aggregated.orders.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.sales.my_open_aggregated.orders.count}}</div>
                         <img src="/assets/img/icons/icon-order.png">
                    </div>
                </div>
                <div class="item" routerLink="/360/sales/invoices/{{setting.page}}">
                    <div >
                        <h4 class="font-strong text-warning">Sales<br/>Invoices</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.sales.open_aggregated.invoices.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.sales.my_open_aggregated.invoices.count}}</div>
                        <img src="/assets/img/icons/icon-invoice.png">
                    </div>
                </div>
                <div class="item" routerLink="/360/sales/credit-notes/{{setting.page}}">
                    <div >
                        <h4 class="font-strong text-danger">Sales<br/>Credit Notes</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.sales.open_aggregated.credit_notes.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.sales.my_open_aggregated.credit_notes.count}}</div>
                        <img src="/assets/img/icons/icon-sales-credit.png">
                    </div>
                </div>

                <div class="item" routerLink="/360/suppliers/{{router_params.my?'my':''}}">
                    <div >
                        <h4 class="font-strong text-info">Suppliers</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.partner.aggregated.suppliers.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.partner.my_aggregated.suppliers.count}}</div>
                        <img src="/assets/img/icons/icon-company.png">
                    </div>
                </div>
                <div class="item" routerLink="/360/purchases/orders/{{setting.page}}">
                    <div >
                        <h4 class="font-strong text-success">Purchase<br/>Orders</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.purchases.open_aggregated.orders.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.purchases.my_open_aggregated.orders.count}}</div>
                        <img src="/assets/img/icons/icon-order.png">
                    </div>
                </div>
                <div class="item" routerLink="/360/purchases/invoices/{{setting.page}}">
                    <div >
                        <h4 class="font-strong text-warning">Purchase<br/>Invoices</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.purchases.open_aggregated.invoices.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.purchases.my_open_aggregated.invoices.count}}</div>
                        <img src="/assets/img/icons/icon-invoice.png">
                    </div>
                </div>
                <div class="item" routerLink="/360/purchases/credit-notes/{{setting.page}}">
                    <div >
                        <h4 class="font-strong text-danger">Purchase<br/>Credit Notes</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.purchases.open_aggregated.credit_notes.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.purchases.my_open_aggregated.credit_notes.count}}</div>
                        <img src="/assets/img/icons/icon-purchase-credit.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

