<div class="page-heading">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item" routerLink="/finance">{{'Migration' | translate}}</li>
        <li class="breadcrumb-item">{{'Opening Balance' | translate}}</li>
    </ol>
</div>
<div class="page-header" >
    <div class="ibox ibox-sm">
        <div class="ibox-body">
            <div style="-height: calc(100vh - 260px);">
                    <!-- <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
                        Select image to upload:
                        <input type="file" name="business_partner" id="fileToUpload" formControlName="file1" (change)="fileEvent($event)">
                        <input type="submit" value="Upload Image" name="submit">
                    </form>
                        <div class="form-group mb-4">
                            <label class="btn btn-primary file-input mr-2">
                                <span class="btn-icon"><i class="la la-cloud-upload"></i>Browse file</span>
                                <input type="file" id="file"
           (change)="handleFileInput($event.target.files)">
                            </label>
                        </div> -->
                        <h3 class="mb-4x">{{'Migration' | translate}} {{'Opening Balance' | translate}}</h3>
                        <jqxFileUpload 
                            #fileUpload 
                            class="custom-upload-thumb"
                            [theme]="theme"
                            [width]="'240px'" 
                            [uploadUrl]="'/'" 
                            [fileInputName]="'fileToUpload'"
                            (onSelect)="onSelectFile($event)"
                            ></jqxFileUpload>
                        <div class="m-2x">
                            <a href="/OpeningBalance.xlsx" target="_blank">{{'Download Template' | translate}} "{{'Opening Balance' | translate}}.xlsx"</a>
                        </div>
                        <div style="overflow: auto;" *ngIf="preview_data">
                            <table class="table table-bordered table-sm preview-migration">
                                <tr>
                                    <th><div class="nowrap"></div></th>
                                    <th><div class="nowrap">Document Type</div></th>
                                    <th><div class="nowrap">Document No.</div></th>
                                    <th><div class="nowrap">Partner Code</div></th>
                                    <th><div class="nowrap">Document Date</div></th>
                                    <th><div class="nowrap">Document Due Date   </div></th>
                                    <th><div class="nowrap">Balance </div></th>
                                    <th><div class="nowrap">Description</div></th>
                                    <th><div class="nowrap">Type</div></th>
                                    <th><div class="nowrap">Status</div></th>
                                </tr>
                                <tr *ngFor="let item of preview_data?.collection || []; index as i" 
                                    [ngClass]="{'text-success': !item.errors,'text-danger': item.errors}">
                                    <td><div class="nowrap">{{i+1}}</div></td>
                                    <td><div class="nowrap">{{item?.document_type}}</div></td>
                                    <td><div class="nowrap">{{item?.header?.document_no}}</div></td>
                                    <td><div class="nowrap">{{item?.header?.business_partner_code}}</div></td>
                                    <td><div class="nowrap">{{item?.header?.date}}</div></td>
                                    <td><div class="nowrap">{{item?.header?.due_date}}</div></td>
                                    <td><div class="nowrap">{{item?.header?.total_with_tax}}</div></td>
                                    <td><div class="nowrap">{{item?.header?.comment}}</div></td>
                                    <td><div class="nowrap">{{item?.header?._type}}</div></td>
                                    <td>
                                        <div class="nowrap" *ngFor="let error of item.errors || []">{{error}}</div>
                                        <div *ngIf="!item.errors"><span class="fa fa-check"></span> valid</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="mt-2x">
                            <button *ngIf="migration_status" class="btn btn-primary" (click)="migration()">Upload</button>
                            <div *ngIf="preview_data?.invalid_count">{{preview_data?.invalid_count}} invalid record</div>
                        </div>
            </div>
        </div>
    </div>
</div>
