<div class="page-heading">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item" routerLink="/finance">{{'Migration' | translate}}</li>
        <li class="breadcrumb-item">{{'Business Partner' | translate}}</li>
    </ol>
</div>
<div class="page-header" >
    <div class="ibox ibox-sm">
        <div class="ibox-body">
            <div style="-height: calc(100vh - 260px);">
                    <!-- <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
                        Select image to upload:
                        <input type="file" name="business_partner" id="fileToUpload" formControlName="file1" (change)="fileEvent($event)">
                        <input type="submit" value="Upload Image" name="submit">
                    </form>
                        <div class="form-group mb-4">
                            <label class="btn btn-primary file-input mr-2">
                                <span class="btn-icon"><i class="la la-cloud-upload"></i>Browse file</span>
                                <input type="file" id="file"
           (change)="handleFileInput($event.target.files)">
                            </label>
                        </div> -->
                        <h3 class="mb-4x">{{'Migration' | translate}} {{'Business Partner' | translate}}</h3>
                        <jqxFileUpload 
                            #fileUpload 
                            class="custom-upload-thumb"
                            [theme]="theme"
                            [width]="'240px'" 
                            [uploadUrl]="'/'" 
                            [fileInputName]="'fileToUpload'"
                            (onSelect)="onSelectFile($event)"
                            ></jqxFileUpload>
                        <div class="m-2x">
                            <a href="/BusinessPartner.xlsx" target="_blank">{{'Download Template' | translate}} "{{'Business Partner' | translate}}.xlsx"</a>
                        </div>
                        <div style="overflow: auto;" *ngIf="preview_data">
                            <table class="table table-bordered table-sm preview-migration">
                                <tr>
                                    <th><div class="nowrap"></div></th>
                                    <th><div class="nowrap">Partner Code </div></th>
                                    <th><div class="nowrap">Partner Name   </div></th>
                                    <th><div class="nowrap">Phone 1 </div></th>
                                    <th><div class="nowrap">Phone 2 </div></th>
                                    <th><div class="nowrap">Email   </div></th>
                                    <th><div class="nowrap">Address</div></th>
                                    <th><div class="nowrap">Website </div></th>
                                    <th><div class="nowrap">Tax Registration No.</div></th>
                                    <th><div class="nowrap">Payment Term</div></th>
                                    <th><div class="nowrap">Sales Tax Group </div></th>
                                    <th><div class="nowrap">Bank Account No.</div></th>
                                    <th><div class="nowrap">Bank Name   </div></th>
                                    <th><div class="nowrap">Branch  </div></th>
                                    <th><div class="nowrap">Swift Code  </div></th>
                                    <th><div class="nowrap">IBAN    </div></th>
                                    <th><div class="nowrap">General Business Posting Group  </div></th>
                                    <th><div class="nowrap">Tax Business Posting Group  </div></th>
                                    <th><div class="nowrap">Partner Posting Group</div></th>
                                    <th><div class="nowrap">Type</div></th>
                                    <th><div class="nowrap">Status</div></th>
                                </tr>
                                <tr *ngFor="let item of preview_data?.collection || []; index as i" 
                                    [ngClass]="{'text-success': !item.errors,'text-danger': item.errors}">
                                    <td><div class="nowrap">{{i+1}}</div></td>
                                    <td><div class="nowrap">{{item?.No}}</div></td>
                                    <td><div class="nowrap">{{item?.name}}</div></td>
                                    <td><div class="nowrap">{{item?.phone}}</div></td>
                                    <td><div class="nowrap">{{item?.phone1}}</div></td>
                                    <td><div class="nowrap">{{item?.email}}</div></td>
                                    <td><div class="nowrap">{{item?.crm_address}}</div></td>
                                    <td><div class="nowrap">{{item?.website}}</div></td>
                                    <td><div class="nowrap">{{item?.gst_number}}</div></td>
                                    <td><div class="nowrap">{{item?.payment_term}}</div></td>
                                    <td><div class="nowrap">{{item?.default_tax_group_code}}</div></td>
                                    <td><div class="nowrap">{{item?.bank_account}}</div></td>
                                    <td><div class="nowrap">{{item?.bank_name}}</div></td>
                                    <td><div class="nowrap">{{item?.bank_branch}}</div></td>
                                    <td><div class="nowrap">{{item?.bank_swift}}</div></td>
                                    <td><div class="nowrap">{{item?.bank_iban}}</div></td>
                                    <td><div class="nowrap">{{item?.gen_business_ptg_code}}</div></td>
                                    <td><div class="nowrap">{{item?.vat_business_ptg_code}}</div></td>
                                    <td><div class="nowrap">{{item?.partner_ptg_code}}</div></td>
                                    <td><div class="nowrap">{{item?._type}}</div></td>
                                    <td>
                                        <div class="nowrap" *ngFor="let error of item.errors || []">{{error}}</div>
                                        <div *ngIf="!item.errors"><span class="fa fa-check"></span></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="mt-2x">
                            <button *ngIf="migration_status" class="btn btn-primary" (click)="migration()">Upload</button>
                            <div *ngIf="preview_data?.invalid_count" class="text-danger">{{preview_data?.invalid_count}} invalid record</div>
                            <div *ngIf="preview_data?.created_count" class="-text-success">Created {{preview_data?.created_count}} record</div>
                            <div *ngIf="preview_data?.modified_count" class="-text-success">Modified {{preview_data?.modified_count}} record</div>
                        </div>
            </div>
        </div>
    </div>
</div>
