
<div class="dropdown dropdown-module" *ngIf="!hidden && !layout">
    <button #dropDownButton class="btn btn-block btn-sm btn-outline-secondary dropdown-toggle dropdown-arrow widget-dropdown" data-toggle="dropdown"
        (click)="initDropdown($event)"
        >{{label}}</button>
    <div class="dropdown-menu">
        <jqxGrid 
            *ngIf="dropDownGridSetting"
            #dropDownGrid 
            [width]="'100%'" 
            [filterable]="true"
            [showfilterrow]="true"
            [localization]="dropDownGridSetting?.localization"
            
            [sortable]="true"
            [source]="dropDownGridSetting?.source" 
            [columns]="dropDownGridSetting?.columns" 
            [theme]="theme"
            [ready]="dropDownGridSetting?.ready"
            [pageable]="true" 
            [pagesize]="50"
            [pagesizeoptions]="[50, 100, 200, 500]"
            [columnsresize]="false" 
            [autoheight]="false"
            [height]="280"
            style="'border:0'"
            (onRowclick)="dropDownGridSetting?.onRowSelect($event)"

            onClick="event.stopPropagation();"
            >
        </jqxGrid>
        <div class="dropdown-foot text-right">
            <a (click)="switchToAdvance()"><i class="fa fa-cogs"></i> {{'Advance' | translate}}</a>
        </div>
    </div>
</div>
<jqxWindow 
    *ngIf="layout!='grid'"
    class="widget-window"
    #window 
    [isModal]="true"
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="640" 
    [minHeight]='515'
    [keyboardCloseKey]='""'
    [keyboardNavigation]="false"
    [showCollapseButton]="false"
    [showCloseButton]="true"

    (onClose)="eventWindowClose()"
    (onOpen)="eventWindowOpen()"
    >
    <div #windowHeader>
        <b>
            TAX Posting Setup
        </b>
    </div>
    <div style="overflow: hidden;">
        <ul class="ribon-menu">
            <!-- <li><a (click)="addNewItem()"><i class="fa fa-plus"></i><span>Add</span></a></li> -->
            <li><a (click)="clickAdd()"><i class="fa fa-plus"></i><span>{{'Add' | translate}}</span></a></li>
            <li><a (click)="clickEdit()"><i class="fa fa-pencil"></i><span>{{'Edit' | translate}}</span></a></li>
            <li><a (click)="clickDelete()"><i class="fa fa-times"></i><span>{{'Delete' | translate}}</span></a></li>
            <!-- <li class="disabled"><a><i class="fa fa-fa-empty-set"></i><span>Clear Selection</span></a></li> -->
            <li class="driver"></li>
            <li><a  (click)="reloadGrid()"><i class="ti-reload"></i><span>{{'Refresh' | translate}}</span></a></li>
            

        </ul>
        <jqxGrid 
            *ngIf="gridSetting"
            #grid
            [width]='630'
            [height]='380'
            [filterable]="true"
            [showfilterrow]="true"
            [localization]="gridSetting?.localization"
            
            [sortable]="true"
            [ready]="gridSetting?.ready"
            [pageable]="true"
            [pagesize]="50"
            [pagesizeoptions]="[50, 100, 200, 500]"

            [theme]="theme"
            [source]="gridSetting?.source" 
            [columns]="gridSetting?.columns" 

            [showtoolbar]="false"

            [virtualmode]="true"
            [rendergridrows]="gridSetting?.rendergridrows"
            

            [editable]="true"
            [editmode]='"selectedrow"'
            [selectionmode]='"singlerow"'
            (onCellbeginedit)="gridSetting?.onCellBeginEdit($event)" 
            (onCellendedit)="gridSetting?.onCellEndEdit($event)" 
            ></jqxGrid>
            <!-- 
            (onRowdoubleclick)="gridSetting?.onRowdoubleclick($event)" 
            -->
            <div class="mt-2 text-right">
                <button class="btn btn-sm btn-outline-danger" (click)="close()"><span class="fa fa-remove"></span> {{'Close' | translate}}</button>
                <div class="float-right">
                    <button class="btn btn-sm btn-outline-secondary" (click)="done()"><span class="fa fa-check"></span> {{'Done' | translate}}</button>
                </div>
            </div>
    </div>
</jqxWindow>
<div *ngIf="layout=='grid'">
    <ul class="ribon-menu">
            <!-- <li><a (click)="addNewItem()"><i class="fa fa-plus"></i><span>Add</span></a></li> -->
            <li><a (click)="clickAdd()"><i class="fa fa-plus"></i><span>{{'Add' | translate}}</span></a></li>
            <li><a (click)="clickEdit()"><i class="fa fa-pencil"></i><span>{{'Edit' | translate}}</span></a></li>
            <li><a (click)="clickDelete()"><i class="fa fa-times"></i><span>{{'Delete' | translate}}</span></a></li>
            <!-- <li class="disabled"><a><i class="fa fa-fa-empty-set"></i><span>Clear Selection</span></a></li> -->
            <li class="driver"></li>
            <li><a  (click)="reloadGrid()"><i class="ti-reload"></i><span>{{'Refresh' | translate}}</span></a></li>
            

        </ul>
    <jqxGrid 
            *ngIf="gridSetting"
            #grid
            [width]='"100%"'
            [height]='380'
            [filterable]="true"
            [showfilterrow]="true"
            
            [sortable]="true"
            [ready]="gridSetting?.ready"

            [virtualmode]="true"
            [rendergridrows]="gridSetting?.rendergridrows"
            [pageable]="true"
            [pagesize]="50"
            [pagesizeoptions]="[50, 100, 200, 500]"
            [localization]="gridSetting?.localization"

            [theme]="theme"
            [source]="gridSetting?.source" 
            [columns]="gridSetting?.columns" 

            [showtoolbar]="false"
            [editable]="true"
            [editmode]='"selectedrow"'
            [selectionmode]='"singlerow"'
            (onCellbeginedit)="gridSetting?.onCellBeginEdit($event)" 
            (onCellendedit)="gridSetting?.onCellEndEdit($event)" 
            ></jqxGrid>
            <!-- 
            (onRowdoubleclick)="gridSetting?.onRowdoubleclick($event)" 
            -->
</div>
<jqxWindow 
    class="widget-window"
    #detailWindow 
    [isModal]="true"
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="480" 
    [height]='"auto"'
    [keyboardCloseKey]='""'
    [keyboardNavigation]="false"
    [showCollapseButton]="false"
    [showCloseButton]="true"
    (onOpen)="initDetailWindow()"
    >
    <div #windowHeader>
        <b>
            TAX Posting Setup
        </b>
    </div>
    <div style="overflow: visible;">
        <div class="p-2x">
            <jqxValidator 
                #validator  
                [rules]="rules" 
                [focus]="false"
                (onValidationSuccess)="onValidationSuccess()"
                (onValidationError)="onValidationError()"
                >
                <form>
                    <input type="hidden" name="id" [ngModel]="editingItem?.id" >
                    
                    
                    
                        
                            <div class="form-group ">
                                <label class="text-muted">{{'TAX Business Posting Group' | translate}}</label>
                                <div class="vat_business_ptg_code mh-32">
                                    <module-ptg-vat-business  
                                        #vatBusPtgCbx
                                        [key]="'code'"
                                        *ngIf="vatBusPtgSetting"
                                        [ngModel]="editingItem?.vat_business_ptg_code" 
                                        (ngModelChange)="editingItem.vat_business_ptg_code = $event"
                                        [ngModelOptions]="{standalone: true}"
                                        (onOpen)="vatBusPtgSetting.onOpen()"
                                        (onClose)="vatBusPtgSetting.onClose()"
                                        (onChange)="vatBusPtgSetting.onChange($event)"
                                    ></module-ptg-vat-business>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="text-muted">{{'TAX Product Posting Group' | translate}}</label>
                                <div class="vat_product_ptg_code mh-32">
                                    <module-ptg-vat-product  
                                        #vatProdPtgCbx
                                        [key]="'code'"
                                        *ngIf="vatProdPtgSetting"
                                        [ngModel]="editingItem?.vat_product_ptg_code" 
                                        (ngModelChange)="editingItem.vat_product_ptg_code = $event"
                                        [ngModelOptions]="{standalone: true}"
                                        (onOpen)="vatProdPtgSetting.onOpen()"
                                        (onClose)="vatProdPtgSetting.onClose()"
                                        (onChange)="vatProdPtgSetting.onChange($event)"
                                    ></module-ptg-vat-product>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="text-muted">{{'TAX Indentifier' | translate}}</label>
                                <div class="mh-32">
                                    <input 
                                        class="form-control form-control-sm txt_description"
                                        type="text"
                                        name="description" 
                                        [ngModel]="editingItem?.description"
                                        (ngModelChange)="editingItem.description = $event"
                                        >
                                </div>
                            </div>
                            <!-- <div class="form-group ">
                                <label class="text-muted">TAX</label>
                                <div class="txt_vat mh-32">
                                    <jqxNumberInput 
                                        [ngModel]="editingItem?.vat"
                                        (ngModelChange)="editingItem.vat = $event"
                                        [ngModelOptions]="{standalone: true}"
                                        [width]="100" 
                                        [height]="32" 
                                        [symbolPosition]="'right'"
                                        [symbol]="'%'"
                                        [spinButtons]="true" 
                                        [theme]="theme"
                                        [decimalDigits]="0"
                                        [min]="0"
                                        [max]="100"
                                        [digits]="3"
                                        [inputMode]="'simple'"
                                        >
                                    </jqxNumberInput>
                                </div>
                            </div> -->
                            <div class="form-group ">
                                <label class="text-muted">{{'Sales Account' | translate}}</label>
                                <div class="sales_acct_code mh-32">
                                    <module-account  
                                        #salesAcctCbx
                                        [key]="'acct_code'"
                                        *ngIf="acctSetting"
                                        [ngModel]="editingItem?.sales_acct_code" 
                                        (ngModelChange)="editingItem.sales_acct_code = $event"
                                        [ngModelOptions]="{standalone: true}"
                                        (onOpen)="acctSetting.onOpen()"
                                        (onClose)="acctSetting.onClose()"
                                        (onChange)="acctSetting.onSalesAcctChange($event)"
                                    ></module-account>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="text-muted">{{'Purchase Account' | translate}}</label>
                                <div class="purch_acct_code mh-32">
                                    <module-account  
                                        #purchAcctCbx
                                        [key]="'acct_code'"
                                        *ngIf="acctSetting"
                                        [ngModel]="editingItem?.purch_acct_code" 
                                        (ngModelChange)="editingItem.purch_acct_code = $event"
                                        [ngModelOptions]="{standalone: true}"
                                        (onOpen)="acctSetting.onOpen()"
                                        (onClose)="acctSetting.onClose()"
                                        (onChange)="acctSetting.onPurchAcctChange($event)"
                                    ></module-account>
                                </div>
                            </div>
                </form>
            </jqxValidator>
            <div class="mt-2x text-right">
                <button class="btn btn-sm btn-danger" (click)="closeDetail()"><span class="fa fa-remove"></span> {{'Close' | translate}}</button>
                <button class="btn btn-sm btn-primary" (click)="checkValidate()">
                    <span class="fa fa-save"></span> {{editingItem?.id?'Update':'Create'}}
                </button>
            </div>
        </div>
    </div>
</jqxWindow>