
<div class="dropdown dropdown-module" *ngIf="!hidden && !layout">
    <button class="btn btn-block btn-sm btn-outline-secondary dropdown-toggle dropdown-arrow widget-dropdown" data-toggle="dropdown"
        (click)="initDropdown($event)"
        >{{label}}</button>
    <div class="dropdown-menu">
        <jqxGrid 
            *ngIf="dropDownGridSetting"
            #dropDownGrid 
            [width]="'100%'" 
            [filterable]="true"
            [showfilterrow]="true"
            [sortable]="true"
            [source]="dropDownGridSetting?.source" 
            [columns]="dropDownGridSetting?.columns" 
            [theme]="theme"
            [ready]="dropDownGridSetting?.ready"
            [pageable]="true" 
            [pagesize]="10"
            [pagesizeoptions]="[10, 50, 100, 200, 500]"
            [columnsresize]="false" 
            [autoheight]="false"
            [height]="280"
            style="'border:0'"
            (onRowclick)="dropDownGridSetting?.onRowSelect($event)"

            onClick="event.stopPropagation();"
            [localization]="dropDownGridSetting?.localization"
            >
        </jqxGrid>
        <div class="dropdown-foot text-right">
            <a (click)="switchToAdvance()"><i class="fa fa-cogs"></i> Advance</a>
        </div>
    </div>
</div>
<jqxWindow 
    *ngIf="layout!='grid'"
    class="widget-window"
    #window 
    [isModal]="true"
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="620" 
    [minHeight]='520'
    [keyboardCloseKey]='""'
    [keyboardNavigation]="false"
    [showCollapseButton]="false"
    [showCloseButton]="true"

    (onClose)="eventWindowClose()"
    (onOpen)="eventWindowOpen()"
    >
    <div #windowHeader>
        <b>
            Users
        </b>
    </div>
    <div style="overflow: hidden;">
        <ul class="ribon-menu">
            <!-- <li><a (click)="addNewItem()"><i class="fa fa-plus"></i><span>Add</span></a></li> -->
            <li><a (click)="clickAdd()"><i class="fa fa-plus"></i><span>{{'Add' | translate}}</span></a></li>
            <li><a (click)="clickEdit()" class=""><i class="fa fa-pencil"></i><span>{{'Edit' | translate}}</span></a></li>
            <li><a (click)="clickDelete()" class="disabled"><i class="fa fa-times"></i><span>{{'Delete' | translate}}</span></a></li>
            <!-- <li class="disabled"><a><i class="fa fa-fa-empty-set"></i><span>Clear Selection</span></a></li> -->
            <li class="driver"></li>
            <li><a  (click)="reloadGrid()"><i class="ti-reload"></i><span>{{'Refresh' | translate}}</span></a></li>
            

        </ul>
        <jqxGrid 
            *ngIf="gridSetting"
            #grid
            [width]='600'
            [height]='350'
            [filterable]="true"
            [showfilterrow]="true"
            [sortable]="true"
            [ready]="gridSetting?.ready"
            [localization]="gridSetting?.localization"

            [pageable]="true"
            [pagesize]="50"
            [pagesizeoptions]="[50, 100, 500, 1000]"


            [theme]="theme"
            [source]="gridSetting?.source" 
            [columns]="gridSetting?.columns" 

            [showtoolbar]="false"

            [virtualmode]="true"
            [rendergridrows]="gridSetting?.rendergridrows"
            

            [editable]="true"
            [editmode]='"selectedrow"'
            [selectionmode]='"singlerow"'
            (onCellbeginedit)="gridSetting?.onCellBeginEdit($event)" 
            (onCellendedit)="gridSetting?.onCellEndEdit($event)"
            ></jqxGrid>
            <!-- 
            (onRowdoubleclick)="gridSetting?.onRowdoubleclick($event)" 
            -->
            <div class="mt-2">
                <button class="btn btn-sm btn-outline-danger" (click)="close()">{{'Close' | translate}}</button>
                <div class="float-right">
                    <button class="btn btn-sm btn-outline-info" (click)="done()">{{'Done' | translate}}</button>
                </div>
            </div>
    </div>
</jqxWindow>
<div *ngIf="layout=='grid'">
    <ul class="ribon-menu">
            <!-- <li><a (click)="addNewItem()"><i class="fa fa-plus"></i><span>Add</span></a></li> -->
            <li><a (click)="clickAdd()"><i class="fa fa-plus"></i><span>{{'Add' | translate}}</span></a></li>
            <li><a (click)="clickEdit()" class=""><i class="fa fa-pencil"></i><span>{{'Edit' | translate}}</span></a></li>
            <li><a (click)="clickDelete()" class="disabled"><i class="fa fa-times"></i><span>{{'Delete' | translate}}</span></a></li>
            <!-- <li class="disabled"><a><i class="fa fa-fa-empty-set"></i><span>Clear Selection</span></a></li> -->
            <li class="driver"></li>
            <li><a  (click)="reloadGrid()"><i class="ti-reload"></i><span>{{'Refresh' | translate}}</span></a></li>
            

        </ul>
    <jqxGrid 
            *ngIf="gridSetting"
            #grid
            [width]='"100%"'
            [height]='580'
            [filterable]="true"
            [showfilterrow]="true"
            [sortable]="true"
            [ready]="gridSetting?.ready"
            [localization]="gridSetting?.localization"

            [virtualmode]="true"
            [rendergridrows]="gridSetting?.rendergridrows"

            [pageable]="true"
            [pagesize]="50"
            [pagesizeoptions]="[50,100, 500, 1000]"

            [theme]="theme"
            [source]="gridSetting?.source" 
            [columns]="gridSetting?.columns" 

            [showtoolbar]="false"
            [editable]="true"
            [editmode]='"selectedrow"'
            [selectionmode]='"singlerow"'
            (onCellbeginedit)="gridSetting?.onCellBeginEdit($event)" 
            (onCellendedit)="gridSetting?.onCellEndEdit($event)"
            ></jqxGrid>
            <!-- 
            (onRowdoubleclick)="gridSetting?.onRowdoubleclick($event)" 
            -->
</div>
<jqxWindow 
    class="widget-window"
    #detailWindow 
    [isModal]="true"
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="480" 
    [height]="'auto'"
    [keyboardCloseKey]='""'
    [keyboardNavigation]="false"
    [showCollapseButton]="false"
    [showCloseButton]="true"
    (onOpen)="initDetailWindow()"
    >
    <div #windowHeader>
        <b>
            User Card
        </b>
    </div>
    <div style="overflow: visible;min-height: 380px">
        <div class="p-2x">
            <jqxValidator 
                #validator  
                [rules]="rules" 
                [focus]="false"
                (onValidationSuccess)="onValidationSuccess()"
                (onValidationError)="onValidationError()"
                >
                <form>
                    <input type="hidden" name="id" [ngModel]="editingItem?.id" >
                    <div class="row row-sm">
                        <div class="col-sm-6">
                            <!-- <div class="form-group ">
                                <label class="text-muted">Company</label>
                                <div class="cbx_company_info_id" style="min-height: 32px">
                                    <module-company 
                                        #companyCbx
                                        *ngIf="companySetting"
                                        [ngModel]="editingItem?.company_info_id" 
                                        (ngModelChange)="editingItem.company_info_id = $event"
                                        [ngModelOptions]="{standalone: true}"
                                        (onOpen)="companySetting.onOpen()"
                                        (onClose)="companySetting.onClose()"
                                        (onChange)="companySetting.onChange($event)"
                                    ></module-company>
                                </div>
                            </div> -->
                            <div class="form-group">
                                <label class=" text-muted text-right">{{'Username' | translate}}</label>
                                <div class="">
                                    <input 
                                        class="form-control form-control-sm txt_username"
                                        type="text"
                                        name="username" 
                                        [ngModel]="editingItem?.username"
                                        (ngModelChange)="editingItem.username = $event"
                                        >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" text-muted text-right">{{'Email' | translate}}</label>
                                <div class="">
                                    <input 
                                        class="form-control form-control-sm txt_email"
                                        type="text"
                                        name="email" 
                                        [ngModel]="editingItem?.email"
                                        (ngModelChange)="editingItem.email = $event"
                                        >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" text-muted text-right">{{'Password' | translate}}</label>
                                <div class="">
                                    <input 
                                        class="form-control form-control-sm txt_password"
                                        type="password"
                                        name="password" 
                                        [ngModel]="editingItem?.password"
                                        (ngModelChange)="editingItem.password = $event"
                                        >
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 mt-2x" style="max-height: 250px;overflow: auto;">
                            <div class="form-group">
                                <label class="checkbox checkbox-danger">
                                    <input type="checkbox" name="type" [(ngModel)]="editingItem.type" (click)="onTypeChange($event)">
                                    <span class="input-span"></span>Admin
                                </label>
                            </div>
                            <div *ngIf="!editingItem.type">
                                <label >or custom roles</label>
                                <div  class="form-group" *ngFor="let item of roles || [] trackBy:trackByIdx; let i = index">
                                    <label class="checkbox checkbox-info">
                                        <input 
                                            type="checkbox" 
                                            [value]="item.id" 
                                            [(ngModel)]="item.checked" 
                                            (click)="onRoleChange($event)"
                                            attr.id="check-box-{{item.id}}"
                                            name="check-box-{{item.id}}"
                                            >
                                        <span class="input-span"></span>{{item.display_name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </jqxValidator>
            <div class="mt-2x -text-right">
                <button class="btn btn-sm btn-danger" (click)="closeDetail()"><span class="fa fa-remove"></span> {{ 'Close' | translate}}</button>
                <button class="btn btn-sm btn-primary" (click)="checkValidate()">
                    <span class="fa fa-save"></span> {{(editingItem?.id?'Update':'Create') | translate}}
                </button>
            </div>
        </div>
    </div>
</jqxWindow>