
<div class="dropdown dropdown-module" *ngIf="!hidden && !layout">
    <button class="btn btn-block btn-sm btn-outline-secondary dropdown-toggle dropdown-arrow widget-dropdown" data-toggle="dropdown"
        (click)="initDropdown($event)"
        ><span>{{label}}</span></button>
    <div class="dropdown-menu">
        <jqxGrid 
            *ngIf="dropDownGridSetting"
            #dropDownGrid 
            [width]="'100%'" 
            [filterable]="true"
            [showfilterrow]="true"
            [sortable]="true"
            [source]="dropDownGridSetting?.source" 
            [columns]="dropDownGridSetting?.columns" 
            [theme]="theme"
            [ready]="dropDownGridSetting?.ready"
            [pageable]="true" 
            [localization]="dropDownGridSetting?.localization"

            
            [columnsresize]="false" 
            [autoheight]="false"
            [height]="280"


            [virtualmode]="true"
            [rendergridrows]="dropDownGridSetting?.rendergridrows"
            [pagesize]="50"
            [pagesizeoptions]="[50, 100, 200, 500]"
            
            style="'border:0'"
            (onRowclick)="dropDownGridSetting?.onRowSelect($event)"
            (onBindingcomplete)="dropDownGridSetting?.onBindingcomplete($event)" 
            onClick="event.stopPropagation();"
            >
        </jqxGrid>
        <div class="dropdown-foot text-right">
            <a (click)="switchToAdvance()"><i class="fa fa-cogs"></i> {{'Advance' | translate}}</a>
        </div>
    </div>
</div>
<jqxWindow 
    *ngIf="layout!='grid'"
    class="widget-window"
    #window 
    [isModal]="true"
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="720" 
    [minHeight]='450'
    [keyboardCloseKey]='""'
    [keyboardNavigation]="false"
    [showCollapseButton]="false"
    [showCloseButton]="true"

    (onClose)="eventWindowClose()"
    (onOpen)="eventWindowOpen()"
    [title]="'Activity Setting' | translate"
    >
    <div style="overflow: hidden;">
        <ul class="ribon-menu">
            <li><a (click)="clickAdd()"><i class="fa fa-plus"></i><span>{{'Add' | translate}}</span></a></li>
            <li><a (click)="clickEdit()"><i class="fa fa-pencil"></i><span>{{'Edit' | translate}}</span></a></li>
            <li><a (click)="clickDelete()"><i class="fa fa-times"></i><span>{{'Delete' | translate}}</span></a></li>
            <!-- <li class="disabled"><a><i class="fa fa-fa-empty-set"></i><span>Clear Selection</span></a></li> -->
            <li class="driver"></li>
            <li><a  (click)="reloadGrid()"><i class="ti-reload"></i><span>{{'Refresh' | translate}}</span></a></li>
            

        </ul>
        <jqxGrid 
            *ngIf="gridSetting"
            #grid
            [width]='700'
            [height]='280'
            [filterable]="true"
            [showfilterrow]="true"
            
            [sortable]="true"
            [ready]="gridSetting?.ready"
            [localization]="gridSetting?.localization"


            [virtualmode]="true"
            [rendergridrows]="gridSetting?.rendergridrows"
            [pagesize]="50"
            [pagesizeoptions]="[50, 100, 200, 500]"

            [theme]="theme"
            [source]="gridSetting?.source" 
            [columns]="gridSetting?.columns" 


            
            [editable]="true"
            [editmode]='"selectedrow"'
            [selectionmode]='"singlerow"'
            
            (onCellbeginedit)="gridSetting?.onCellBeginEdit($event)" 
            (onCellendedit)="gridSetting?.onCellEndEdit($event)" 

            ></jqxGrid>
            <!-- 
            (onRowdoubleclick)="gridSetting?.onRowdoubleclick($event)" 
            -->
            <div class="mt-1x">
                <button class="btn btn-sm btn-danger" (click)="close()"><span class="fa fa-remove"></span> {{'Close' | translate}}</button>
                <button class="btn btn-sm btn-primary ml-1" (click)="done()"><span class="fa fa-check"></span> {{'Done' | translate}}</button>
            </div>
    </div>
</jqxWindow>
<div *ngIf="layout=='grid'">
    <ul class="ribon-menu">
        <li><a (click)="clickAdd()"><i class="fa fa-plus"></i><span>{{'Add' | translate}}</span></a></li>
        <li><a (click)="clickEdit()"><i class="fa fa-pencil"></i><span>{{'Edit' | translate}}</span></a></li>
        <li><a (click)="clickDelete()"><i class="fa fa-times"></i><span>{{'Delete' | translate}}</span></a></li>
        <!-- <li class="disabled"><a><i class="fa fa-fa-empty-set"></i><span>Clear Selection</span></a></li> -->
        <li class="driver"></li>
        <li><a  (click)="reloadGrid()"><i class="ti-reload"></i><span>{{'Refresh' | translate}}</span></a></li>
        

    </ul>
    <jqxGrid 
            *ngIf="gridSetting"
            #grid
            [width]='"100%"'
            [height]='380'
            [filterable]="true"
            [localization]="gridSetting?.localization"
            [showfilterrow]="true"
            
            [sortable]="true"
            [ready]="gridSetting?.ready"

            [virtualmode]="true"
            [rendergridrows]="gridSetting?.rendergridrows"
            [pagesize]="50"
            [pagesizeoptions]="[50, 100, 200, 500]"

            [theme]="theme"
            [source]="gridSetting?.source" 
            [columns]="gridSetting?.columns" 

            [showtoolbar]="false"
            [editable]="true"
            [editmode]='"selectedrow"'
            [selectionmode]='"singlerow"'
            (onCellbeginedit)="gridSetting?.onCellBeginEdit($event)" 
            (onCellendedit)="gridSetting?.onCellEndEdit($event)" 
            ></jqxGrid>
            <!-- 
            (onRowdoubleclick)="gridSetting?.onRowdoubleclick($event)" 
            -->
</div>
<jqxWindow 
    class="widget-window"
    #detailWindow 
    [isModal]="true"
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="420" 
    [minHeight]='390'
    [keyboardCloseKey]='""'
    [keyboardNavigation]="false"
    [showCollapseButton]="false"
    [showCloseButton]="true"
    (onOpen)="initDetailWindow()"
    [title]="'Activity Setting' | translate"
    >
    <div style="overflow: visible;">
        <jqxValidator 
            #validator  
            [rules]="rules" 
            [focus]="false"
            (onValidationSuccess)="onValidationSuccess()"
            (onValidationError)="onValidationError()"
            >
            <form>
                <input type="hidden" name="id" [ngModel]="editingItem?.id" >
                <div class="form-group ">
                    <label class="text-muted">{{'Code' | translate}}</label>
                    <div class="">
                        <input 
                            class="form-control form-control-sm txt_code text-uppercase"
                            type="text"
                            name="code" 
                            [ngModel]="editingItem?.code"
                            (ngModelChange)="editingItem.code = $event"
                            >
                    </div>
                </div>
                <div class="form-group ">
                    <label class="text-muted">{{'Title' | translate}}</label>
                    <div class="">
                        <input 
                            class="form-control form-control-sm txt_title"
                            type="text"
                            name="title" 
                            [ngModel]="editingItem?.title"
                            (ngModelChange)="editingItem.title = $event"
                            >
                    </div>
                </div>
                <div class="form-group ">
                    <label class="text-muted">{{'Debit Account' | translate}}</label>
                    <div class="cbx_debit_acct_id">
                        <module-account  
                            #debitAcctCbx
                            [key]="'acct_code'"
                            *ngIf="acctSetting"
                            [ngModel]="editingItem?.debit_acct_code" 
                            (ngModelChange)="editingItem.debit_acct_code = $event"
                            [ngModelOptions]="{standalone: true}"
                            (onOpen)="acctSetting.onOpen()"
                            (onClose)="acctSetting.onClose()"
                            (onChange)="acctSetting.onDebitAcctChange($event)"
                        ></module-account>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="text-muted">{{'Credit Account' | translate}}</label>
                    <div class="cbx_credit_acct_id">
                        <module-account  
                            #creditAcctCbx
                            [key]="'acct_code'"
                            *ngIf="acctSetting"
                            [ngModel]="editingItem?.credit_acct_code" 
                            (ngModelChange)="editingItem.credit_acct_code = $event"
                            [ngModelOptions]="{standalone: true}"
                            (onOpen)="acctSetting.onOpen()"
                            (onClose)="acctSetting.onClose()"
                            (onChange)="acctSetting.onCreditAcctChange($event)"
                        ></module-account>
                    </div>
                </div>
                
            </form>
        </jqxValidator>
        <div class="mt-2x text-center">
            <button class="btn btn-sm btn-danger mr-1" (click)="closeDetail()"><span class="fa fa-remove"></span> {{'Close' | translate}}</button>
            <button class="btn btn-sm btn-primary" (click)="checkValidate()">
                <span class="fa fa-save"></span> {{editingItem?.id?'Update':'Create'}}
            </button>
        </div>
    </div>
</jqxWindow>


