<div class="page-heading">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/"><i class="la la-home font-20"></i></a>
        </li>
        <li 
            *ngFor="let item of router_params.breadcrumbs || [];index as i"
            class="breadcrumb-item" 
            routerLink="{{item.link}}"
            >
            {{item.text | translate}}
        </li>
    </ol>
</div>
<div class="page-header" >
    <div class="ibox ibox-sm">
        <div class="ibox-body">
            <div style="-height: calc(100vh - 260px);">
                <module-activity [layout]="'grid'"></module-activity>
            </div>
        </div>
    </div>
</div>