<div class="page-header">
    <div class="ibox flex-1">
        <div class="ibox-body">
            <div class="flexbox">
                <div class="flexbox-b">
                    <div class="ml-5 mr-5">
                        <img class="img-circle" src="{{user?.avatar1}}" alt="image" width="110" height="110" onerror="this.src='/assets/img/picture-default.jpg'" />
                    </div>
                    <div>
                        <h4>{{user?.username}}</h4>
                        <div class="text-muted font-13 mb-3">
                            <span class="mr-3"><i class="ti-email mr-2"></i>{{user?.email}}</span>
                            <!-- <span><i class="ti-calendar mr-2"></i>12.04.2018</span> -->
                        </div>
                        <!-- <div>
                            <span class="mr-3">
                                <span class="badge badge-primary badge-circle mr-2 font-14" style="height:30px;width:30px;"><i class="ti-briefcase"></i></span>Partner</span>
                            <span>
                                <span class="badge badge-pink badge-circle mr-2 font-14" style="height:30px;width:30px;"><i class="ti-cup"></i></span>Vip Status</span>
                        </div> -->
                    </div>
                </div>
               <!--  <div class="d-inline-flex">
                    <div class="px-4 text-center">
                        <div class="text-muted font-13">ARTICLES</div>
                        <div class="h2 mt-2">134</div>
                    </div>
                    <div class="px-4 text-center">
                        <div class="text-muted font-13">FOLLOWERS</div>
                        <div class="h2 mt-2">540</div>
                    </div>
                </div> -->
            </div>
        </div>
        <ul class="nav nav-tabs tabs-line m-0 pl-5 pr-3">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tab-profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-change-password">{{'Change password' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-avatar">Avatar</a>
            </li>
        </ul>
    </div>
</div>
<div class="page-content fade-in-up">
    <div class="tab-content">
        <div id="tab-change-password" class="tab-pane">
            <div class="row">
                <div class="col-lg-5">
                    <div class="ibox">
                        <div class="ibox-body">
                            <h5 class="font-strong mb-4">{{'Change password' | translate}}</h5>
                            <div class="form-group">
                                <label class=" text-right">{{ 'Current password' | translate}}</label>
                                <div class="">
                                    <input 
                                        class="form-control form-control-sm txt_old_password"
                                        type="password"
                                        name="old_password" 
                                        [ngModel]="profile?.old_password"
                                        (ngModelChange)="profile.old_password = $event"
                                        >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" text-right">{{ 'New password' | translate}}</label>
                                <div class="">
                                    <input 
                                        class="form-control form-control-sm txt_password"
                                        type="password"
                                        name="password" 
                                        [ngModel]="profile?.password"
                                        (ngModelChange)="profile.password = $event"
                                        >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" text-right">{{ 'Confirmation' | translate}}</label>
                                <div class="">
                                    <input 
                                        class="form-control form-control-sm txt_confirm"
                                        type="password"
                                        name="confirm_password" 
                                        [ngModel]="profile?.confirm_password"
                                        (ngModelChange)="profile.confirm_password = $event"
                                        >
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-sm btn-primary" (click)="change_password()">{{'Save' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab-avatar" class="tab-pane">
            <div class="row">
                <div class="col-lg-5">
                    <div class="ibox">
                        <div class="ibox-body">
                            <h5 class="font-strong mb-4">{{'Avatar' | translate}}</h5>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-muted">{{ 'Choose Avatar from file' | translate}}</label>
                                <div class="col-sm-8">
                                    <div class="contain" [ngStyle]="{'background-image': '-url(' + getAvatar() + ')'}">
                                        <jqxFileUpload 
                                            #fileUpload 
                                            class="custom-upload-thumb -single-image"
                                            [accept]="'image/*'"
                                            [theme]="theme"
                                            [width]="'110px'" 
                                            [height]="'110px'"
                                            [uploadUrl]="'/'" 
                                            [fileInputName]="'fileToUpload'"
                                            (onSelect)="onSelectPhoto($event)"
                                            ></jqxFileUpload>
                                    </div>
                                    <p>{{'Upload your own custom avatar of 128 by 128 pixels. Larger files will be resized and cropped to match. A preview of your avatar will be shown before uploading, once you selected an image' | translate}}</p>
                                </div>
                            </div>
                             <div class="form-group row" *ngIf="user?.new_avatar">
                                <label class="col-sm-4 col-form-label text-muted">{{'Preview' | translate}}</label>
                                <div class="col-sm-8">
                                    <div class="cover" [ngStyle]="{'background-image': 'url(' + getAvatar() + ')'}" style="width: 128px;height: 128px;border:1px solid #ccc"></div>

                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-sm btn-primary" (click)="update_avatar()">{{'Save' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab-profile" class="tab-pane active">
            <div class="row">
                <div class="col-lg-5">
                    <div class="ibox">
                        <div class="ibox-body">
                            <h5 class="font-strong mb-4">{{'General Information' | translate}}</h5>
                            <div class="row mb-2">
                                <div class="col-4">Full Name:</div>
                                <div class="col-8">
                                    <input 
                                        class="form-control form-control-sm txt_name"
                                        type="text"
                                        name="name" 
                                        [ngModel]="profile?.name"
                                        (ngModelChange)="profile.name = $event"
                                        >
                                </div>
                            </div>
                            <!-- <div class="row mb-2">
                                <div class="col-4">Age:</div>
                                <div class="col-8"></div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4">Position:</div>
                                <div class="col-8"></div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4">City:</div>
                                <div class="col-8"></div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4">Address:</div>
                                <div class="col-8"></div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4">Phone:</div>
                                <div class="col-8"></div>
                            </div> -->
                            <div class="row mb-2">
                                <div class="col-4">Email:</div>
                                <div class="col-8">{{user?.email}}</div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-sm btn-primary" (click)="update_profile()">{{'Save' | translate}}</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- <div class="col-lg-7">
                    <div class="ibox">
                        <div class="ibox-body">
                            <h5 class="font-strong mb-4">
                                {{'My Transactions' | translate}}
                            </h5>
                            <div class="activities normal" >
                                <div class="item" routerLink="/360/customers/my">
                                    <div >
                                        <h4 class="font-strong text-warning">{{'Customers' | translate}}</h4>
                                        <div class="text-muted" *ngIf="!isMy">{{summary?.partner.aggregated.customers.count}}</div>
                                        <div class="text-muted" *ngIf="isMy">{{summary?.partner.my_aggregated.customers.count}}</div>
                                        <img src="/assets/img/icons/icon-contact.png">
                                    </div>
                                </div>
                                <div class="item" routerLink="/360/sales/quotes/my">
                                    <div >
                                        <h4 class="font-strong text-info">{{'Sales Quotes'  | translate}}</h4>
                                        <div class="text-muted" *ngIf="!isMy">{{summary?.sales.open_aggregated.quotes.count}}</div>
                                        <div class="text-muted" *ngIf="isMy">{{summary?.sales.my_open_aggregated.quotes.count}}</div>
                                        <img src="/assets/img/icons/icon-quote.png">
                                    </div>
                                </div>

                                <div class="item" routerLink="/360/sales/orders/my">
                                    <div >
                                        <h4 class="font-strong text-success">{{"Sales Orders" | translate}}</h4>
                                        <div class="text-muted" *ngIf="!isMy">{{summary?.sales.open_aggregated.orders.count}}</div>
                                        <div class="text-muted" *ngIf="isMy">{{summary?.sales.my_open_aggregated.orders.count}}</div>
                                         <img src="/assets/img/icons/icon-order.png">
                                    </div>
                                </div>
                                <div class="item" routerLink="/360/sales/invoices/my">
                                    <div >
                                        <h4 class="font-strong text-warning">{{"Sales Invoices" | translate}}</h4>
                                        <div class="text-muted" *ngIf="!isMy">{{summary?.sales.open_aggregated.invoices.count}}</div>
                                        <div class="text-muted" *ngIf="isMy">{{summary?.sales.my_open_aggregated.invoices.count}}</div>
                                        <img src="/assets/img/icons/icon-invoice.png">
                                    </div>
                                </div>
                                <div class="item" routerLink="/360/sales/credit-notes/my">
                                    <div >
                                        <h4 class="font-strong text-danger">{{"Sales Credit Notes" | translate}}</h4>
                                        <div class="text-muted" *ngIf="!isMy">{{summary?.sales.open_aggregated.credit_notes.count}}</div>
                                        <div class="text-muted" *ngIf="isMy">{{summary?.sales.my_open_aggregated.credit_notes.count}}</div>
                                        <img src="/assets/img/icons/icon-sales-credit.png">
                                    </div>
                                </div>

                                <div class="item" routerLink="/360/suppliers/my">
                                    <div >
                                        <h4 class="font-strong text-info">{{'Suppliers' | translate}}</h4>
                                        <div class="text-muted" *ngIf="!isMy">{{summary?.partner.aggregated.suppliers.count}}</div>
                                        <div class="text-muted" *ngIf="isMy">{{summary?.partner.my_aggregated.suppliers.count}}</div>
                                        <img src="/assets/img/icons/icon-company.png">
                                    </div>
                                </div>
                                <div class="item" routerLink="/360/purchases/orders/my">
                                    <div >
                                        <h4 class="font-strong text-success">{{'Purchase Orders' | translate}}</h4>
                                        <div class="text-muted" *ngIf="!isMy">{{summary?.purchases.open_aggregated.orders.count}}</div>
                                        <div class="text-muted" *ngIf="isMy">{{summary?.purchases.my_open_aggregated.orders.count}}</div>
                                        <img src="/assets/img/icons/icon-order.png">
                                    </div>
                                </div>
                                <div class="item" routerLink="/360/purchases/invoices/my">
                                    <div >
                                        <h4 class="font-strong text-warning">{{'Purchase Invoices' | translate}}</h4>
                                        <div class="text-muted" *ngIf="!isMy">{{summary?.purchases.open_aggregated.invoices.count}}</div>
                                        <div class="text-muted" *ngIf="isMy">{{summary?.purchases.my_open_aggregated.invoices.count}}</div>
                                        <img src="/assets/img/icons/icon-invoice.png">
                                    </div>
                                </div>
                                <div class="item" routerLink="/360/purchases/credit-notes/my">
                                    <div >
                                        <h4 class="font-strong text-danger">{{'Purchase Credit Notes'  | translate}}</h4>
                                        <div class="text-muted" *ngIf="!isMy">{{summary?.purchases.open_aggregated.credit_notes.count}}</div>
                                        <div class="text-muted" *ngIf="isMy">{{summary?.purchases.my_open_aggregated.credit_notes.count}}</div>
                                        <img src="/assets/img/icons/icon-purchase-credit.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div> -->
            </div>
        </div>
    </div>
</div>
