
<div class="dropdown dropdown-module" *ngIf="!hidden && !layout">
    <button #dropDownButton class="btn btn-block btn-sm btn-outline-secondary dropdown-toggle dropdown-arrow widget-dropdown" data-toggle="dropdown"
        (click)="initDropdown($event)"
        >{{label}}</button>
    <div class="dropdown-menu" style="min-width: 380px">
        <jqxGrid 
            *ngIf="dropDownGridSetting"
            #dropDownGrid 
            [width]="'100%'" 
            [filterable]="true"
            [showfilterrow]="true"
            [sortable]="true"
            [source]="dropDownGridSetting?.source" 
            [columns]="dropDownGridSetting?.columns" 
            [theme]="theme"
            [ready]="dropDownGridSetting?.ready"
            [columnsresize]="false" 
            [autoheight]="false"
            [height]="280"
            style="'border:0'"
            [pagesize]="1000"
            (onRowclick)="dropDownGridSetting?.onRowSelect($event)"
            [handlekeyboardnavigation]="dropDownGridSetting?.handlekeyboardnavigation"
            onClick="event.stopPropagation();"
            [localization]="dropDownGridSetting?.localization"

            >
        </jqxGrid>
        <div class="dropdown-foot text-right">
            <a (click)="switchToAdvance()"><i class="fa fa-cogs"></i> {{'Advance' | translate}}</a>
        </div>
    </div>
</div>
<jqxWindow 
    *ngIf="layout!='grid'"
    class="widget-window"
    #window 
    [isModal]="true"
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="450" 
    [minHeight]='448'
    [keyboardCloseKey]='""'
    [keyboardNavigation]="false"
    [showCollapseButton]="false"
    [showCloseButton]="true"
    
    (onClose)="eventWindowClose()"
    (onOpen)="eventWindowOpen()"
    [title]="'TAX Product Posting Groups' | translate"

    >
    <div style="overflow: hidden;">
        <ul class="ribon-menu">
            <!-- <li><a (click)="addNewItem()"><i class="fa fa-plus"></i><span>Add</span></a></li> -->
            <li><a (click)="clickAdd()"><i class="fa fa-plus"></i><span>{{'Add' | translate}}</span></a></li>
            <li><a (click)="clickEdit()"><i class="fa fa-pencil"></i><span>{{'Edit' | translate}}</span></a></li>
            <li><a (click)="clickDelete()"><i class="fa fa-times"></i><span>{{'Delete' | translate}}</span></a></li>
            <!-- <li class="disabled"><a><i class="fa fa-fa-empty-set"></i><span>Clear Selection</span></a></li> -->
            <li class="driver"></li>
            <li><a  (click)="reloadGrid()"><i class="ti-reload"></i><span>{{'Refresh' | translate}}</span></a></li>
            

        </ul>
        <jqxGrid 
            *ngIf="gridSetting"
            #grid
            [width]='430'
            [height]='280'
            [filterable]="true"
            [showfilterrow]="true"
            
            [sortable]="true"
            [ready]="gridSetting?.ready"

            [pagesize]="1000"

            [theme]="theme"
            [source]="gridSetting?.source" 
            [columns]="gridSetting?.columns" 

            [showtoolbar]="false"
            [virtualmode]="false"
            

            [editable]="true"
            [editmode]='"selectedrow"'
            [selectionmode]='"singlerow"'
            (onCellbeginedit)="gridSetting?.onCellBeginEdit($event)" 
            (onCellendedit)="gridSetting?.onCellEndEdit($event)" 
            [localization]="gridSetting?.localization"

            ></jqxGrid>
            <!-- 
            (onRowdoubleclick)="gridSetting?.onRowdoubleclick($event)" 
            -->
            <div class="mt-1x text-center">
                <button class="btn btn-sm btn-danger" (click)="close()"><span class="fa fa-remove"></span> {{'Close' | translate}}</button>
                <button class="btn btn-sm btn-primary" (click)="done()"><span class="fa fa-check"></span> {{'Done' | translate}}</button>
            </div>
    </div>
</jqxWindow>
<div *ngIf="layout=='grid'">
    <ul class="ribon-menu">
            <!-- <li><a (click)="addNewItem()"><i class="fa fa-plus"></i><span>Add</span></a></li> -->
            <li><a (click)="clickAdd()"><i class="fa fa-plus"></i><span>{{'Add' | translate}}</span></a></li>
            <li><a (click)="clickEdit()"><i class="fa fa-pencil"></i><span>{{'Edit' | translate}}</span></a></li>
            <li><a (click)="clickDelete()"><i class="fa fa-times"></i><span>{{'Delete' | translate}}</span></a></li>
            <!-- <li class="disabled"><a><i class="fa fa-fa-empty-set"></i><span>Clear Selection</span></a></li> -->
            <li class="driver"></li>
            <li><a  (click)="reloadGrid()"><i class="ti-reload"></i><span>{{'Refresh' | translate}}</span></a></li>
            

        </ul>
    <jqxGrid 
            *ngIf="gridSetting"
            #grid
            [width]='630'
            [height]='380'
            [filterable]="true"
            [showfilterrow]="true"
            
            [sortable]="true"
            [ready]="gridSetting?.ready"

            
            [pagesize]="1000"
            [theme]="theme"
            [source]="gridSetting?.source" 
            [columns]="gridSetting?.columns" 

            [showtoolbar]="false"
            [editable]="true"
            [editmode]='"selectedrow"'
            [selectionmode]='"singlerow"'
            (onCellbeginedit)="gridSetting?.onCellBeginEdit($event)" 
            (onCellendedit)="gridSetting?.onCellEndEdit($event)" 
            [localization]="gridSetting?.localization"

            ></jqxGrid>
            <!-- 
            (onRowdoubleclick)="gridSetting?.onRowdoubleclick($event)" 
            -->
</div>
<jqxWindow 
    class="widget-window"
    #detailWindow 
    [isModal]="true"
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="380" 
    [height]="'auto'"
    [keyboardCloseKey]='""'
    [keyboardNavigation]="false"
    [showCollapseButton]="false"
    [showCloseButton]="true"
    [title]="'TAX Product Posting Groups' | translate"
    (onOpen)="initDetailWindow()"
    >
    <div style="overflow: hidden;">
        <div class="p-2x">
            <jqxValidator 
                #validator  
                [rules]="rules" 
                [focus]="false"
                (onValidationSuccess)="onValidationSuccess()"
                (onValidationError)="onValidationError()"
                >
                <form>
                    <input type="hidden" name="id" [ngModel]="editingItem?.id" >
                    <div class="form-group ">
                        <label class="text-muted">{{'Code' | translate}}&nbsp;</label>
                        <div class="">
                            <input 
                                class="form-control form-control-sm txt_code text-uppercase"
                                type="text"
                                name="code" 
                                [ngModel]="editingItem?.code"
                                (ngModelChange)="editingItem.code = $event"
                                >
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="text-muted">{{'Description' | translate}}&nbsp;</label>
                        <div class="">
                            <input 
                                class="form-control form-control-sm txt_code"
                                type="text"
                                name="name" 
                                [ngModel]="editingItem?.name"
                                (ngModelChange)="editingItem.name = $event"
                                >
                        </div>
                    </div>
                    <div class="form-group'">
                        <label class="text-muted">{{'TAX' | translate}}&nbsp;</label>
                        <div class="txt_vat mh-32">
                            <jqxNumberInput 
                                [ngModel]="editingItem?.value"
                                (ngModelChange)="editingItem.value = $event"
                                [ngModelOptions]="{standalone: true}"
                                [width]="160" 
                                [height]="32" 
                                [symbolPosition]="'right'"
                                [symbol]="'%'"
                                [spinButtons]="true" 
                                [theme]="theme"
                                [decimalDigits]="0"
                                [min]="0"
                                [max]="100"
                                [digits]="3"
                                [inputMode]="'simple'"
                                >
                            </jqxNumberInput>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="text-muted">{{'Type' | translate}}&nbsp;</label>
                        <div class=" mh-32">
                            <select
                                class="form-control form-control-sm"
                                name="type" 
                                [ngModel]="editingItem?.type"
                                (ngModelChange)="editingItem.type = $event"
                                >
                                <option value="1">{{'Sales' | translate}}</option>
                                <option value="2">{{'Purchase' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </jqxValidator>
            <div class="pt-2x text-center">
                <button class="btn btn-sm btn-danger" (click)="closeDetail()"><span class="fa fa-remove"></span> {{'Close' | translate}}</button>
                <button class="btn btn-sm btn-primary ml-2x" (click)="checkValidate()">
                    <span class="fa fa-save"></span> {{(editingItem?.id?'Update':'Create') | translate}}
                </button>
            </div>
        </div>
    </div>
</jqxWindow>