.widget-dropdown>span{
    display: block;
}
.widget-dropdown{
    padding-right: 24px;
    text-align: left;
}
.widget-dropdown:after{
    position: absolute;
    width: 24px;height: 24px;margin-top: -12px;
    right: 0;top: 50%;line-height: 23px;
    text-align: center;
}