
<div class="dropdown dropdown-module" *ngIf="!hidden && !layout">
    <button class="btn btn-block btn-sm btn-outline-secondary dropdown-toggle dropdown-arrow widget-dropdown" data-toggle="dropdown"
        (click)="initDropdown($event)"
        >{{label}}</button>
    <div class="dropdown-menu">
        <jqxGrid 
            *ngIf="dropDownGridSetting"
            #dropDownGrid 
            [width]="'100%'" 
            [filterable]="true"
            [showfilterrow]="true"
            [sortable]="true"
            [source]="dropDownGridSetting?.source" 
            [columns]="dropDownGridSetting?.columns" 
            [theme]="theme"
            [ready]="dropDownGridSetting?.ready"
            [columnsresize]="false" 
            [autoheight]="false"
            [height]="280"
            style="'border:0'"
            (onRowclick)="dropDownGridSetting?.onRowSelect($event)"
            [pagesize]="1000"
            onClick="event.stopPropagation();"
            [localization]="dropDownGridSetting?.localization"
            
            >
        </jqxGrid>
        <div class="dropdown-foot text-right">
            <a (click)="switchToAdvance()"><i class="fa fa-cogs"></i> {{'Advance' | translate}}</a>
        </div>
    </div>
</div>
<jqxWindow 
    *ngIf="layout!='grid'"
    class="widget-window"
    #window 
    [isModal]="true"
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="640" 
    [minHeight]='510'
    [keyboardCloseKey]='""'
    [keyboardNavigation]="false"
    [showCollapseButton]="false"
    [showCloseButton]="true"

    (onClose)="eventWindowClose()"
    (onOpen)="eventWindowOpen()"

    style="overflow: visible;"
    [title]="'General Posting Setup' | translate"

    >
    <div style="overflow: visible;">
        <ul class="ribon-menu">
            <!-- <li><a (click)="addNewItem()"><i class="fa fa-plus"></i><span>Add</span></a></li> -->
            <li><a (click)="clickAdd()"><i class="fa fa-plus"></i><span>{{'Add' | translate}}</span></a></li>
            <li><a (click)="clickEdit()"><i class="fa fa-pencil"></i><span>{{'Edit' | translate}}</span></a></li>
            <li><a (click)="clickDelete()"><i class="fa fa-times"></i><span>{{'Delete' | translate}}</span></a></li>
            <!-- <li class="disabled"><a><i class="fa fa-fa-empty-set"></i><span>Clear Selection</span></a></li> -->
            <li class="driver"></li>
            <li><a  (click)="reloadGrid()"><i class="ti-reload"></i><span>{{'Refresh' | translate}}</span></a></li>
            

        </ul>
        <jqxGrid 
            *ngIf="gridSetting"
            #grid
            [width]='630'
            [height]='380'
            [filterable]="true"
            [showfilterrow]="true"
            [sortable]="true"
            [ready]="gridSetting?.ready"

            [localization]="gridSetting?.localization"
            

            [theme]="theme"
            [source]="gridSetting?.source" 
            [columns]="gridSetting?.columns" 

            [showtoolbar]="false"

            [pagesize]="1000"
            

            [editable]="true"
            [editmode]='"selectedrow"'
            [selectionmode]='"singlerow"'
            (onCellbeginedit)="gridSetting?.onCellBeginEdit($event)" 
            (onCellendedit)="gridSetting?.onCellEndEdit($event)" 
            ></jqxGrid>
            <!-- 
            (onRowdoubleclick)="gridSetting?.onRowdoubleclick($event)" 
            -->
            <div class="text-right">
                <button class="btn btn-sm btn-outline-danger" (click)="close()"><span class="fa fa-remove"></span> {{'Close' | translate}}</button>
                <div class="float-right">
                    <button class="btn btn-sm btn-outline-info" (click)="done()"><span class="fa fa-check"></span> {{'Done' | translate}}</button>
                </div>
            </div>
    </div>
</jqxWindow>
<div *ngIf="layout=='grid'">
    <ul class="ribon-menu">
            <!-- <li><a (click)="addNewItem()"><i class="fa fa-plus"></i><span>Add</span></a></li> -->
            <li><a (click)="clickAdd()"><i class="fa fa-plus"></i><span>{{'Add' | translate}}</span></a></li>
            <li><a (click)="clickEdit()"><i class="fa fa-pencil"></i><span>{{'Edit' | translate}}</span></a></li>
            <li><a (click)="clickDelete()"><i class="fa fa-times"></i><span>{{'Delete' | translate}}</span></a></li>
            <!-- <li class="disabled"><a><i class="fa fa-fa-empty-set"></i><span>Clear Selection</span></a></li> -->
            <li class="driver"></li>
            <li><a  (click)="reloadGrid()"><i class="ti-reload"></i><span>{{'Refresh' | translate}}</span></a></li>
            

        </ul>
    <jqxGrid 
            *ngIf="gridSetting"
            #grid
            [width]='"100%"'
            [height]='380'
            [filterable]="true"
            [showfilterrow]="true"
            [sortable]="true"
            [localization]="gridSetting?.localization"
            [ready]="gridSetting?.ready"

            [pagesize]="1000"

            
            [theme]="theme"
            [source]="gridSetting?.source" 
            [columns]="gridSetting?.columns" 

            [showtoolbar]="false"
            [editable]="true"
            [editmode]='"selectedrow"'
            [selectionmode]='"singlerow"'
            (onCellbeginedit)="gridSetting?.onCellBeginEdit($event)" 
            (onCellendedit)="gridSetting?.onCellEndEdit($event)" 
            ></jqxGrid>
            <!-- 
            (onRowdoubleclick)="gridSetting?.onRowdoubleclick($event)" 
            -->
</div>
<jqxWindow 
    class="widget-window"
    #detailWindow 
    [isModal]="true"
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="580" 
    [height]="'auto'"
    [keyboardCloseKey]='""'
    [keyboardNavigation]="false"
    [showCollapseButton]="false"
    [showCloseButton]="true"
    (onOpen)="initDetailWindow()"
    [title]="'General Posting Setup' | translate"
    >
    <div style="overflow: visible;;">
        <div class="p-2x">
            <jqxValidator 
                #validator  
                [rules]="rules" 
                [focus]="false"
                (onValidationSuccess)="onValidationSuccess()"
                (onValidationError)="onValidationError()"
                >
                <form>
                    <input type="hidden" name="id" [ngModel]="editingItem?.id" >
                    <div class="row row-sm">
                        <div class="col-sm-6">
                            <div class="form-group ">
                                <label class="text-muted">{{'General Business Posting Group' | translate}}</label>
                                <div class="cbx_genBusPtg mh-32">
                                    <module-ptg-gen-business  
                                        #genBusPtgCbx
                                        [key]="'code'"
                                        *ngIf="genBusPtgSetting"
                                        [ngModel]="editingItem?.gen_business_ptg_code" 
                                        (ngModelChange)="editingItem.gen_business_ptg_code = $event"
                                        [ngModelOptions]="{standalone: true}"
                                        (onOpen)="genBusPtgSetting.onOpen()"
                                        (onClose)="genBusPtgSetting.onClose()"
                                        (onChange)="genBusPtgSetting.onChange($event)"
                                    ></module-ptg-gen-business>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group ">
                                <label class="text-muted">{{'General Product Posting Group' | translate}}</label>
                                <div class="cbx_genProdPtg mh-32">
                                    <module-ptg-gen-product  
                                        #genProdPtgCbx
                                        [key]="'code'"
                                        *ngIf="genProdPtgSetting"
                                        [ngModel]="editingItem?.gen_product_ptg_code" 
                                        (ngModelChange)="editingItem.gen_product_ptg_code = $event"
                                        [ngModelOptions]="{standalone: true}"
                                        (onOpen)="genProdPtgSetting.onOpen()"
                                        (onClose)="genProdPtgSetting.onClose()"
                                        (onChange)="genProdPtgSetting.onChange($event)"
                                    ></module-ptg-gen-product>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group ">
                                <label class="text-muted">{{'Sales Account' | translate}}</label>
                                <div class="cbx_salesAcct mh-32">
                                    <module-account  
                                        #salesAcctCbx
                                        [key]="'acct_code'"
                                        *ngIf="acctSetting"
                                        [ngModel]="editingItem?.sales_acct_code" 
                                        (ngModelChange)="editingItem.sales_acct_code = $event"
                                        [ngModelOptions]="{standalone: true}"
                                        (onOpen)="acctSetting.onOpen()"
                                        (onClose)="acctSetting.onClose()"
                                        (onChange)="acctSetting.onSalesAcctChange($event)"
                                    ></module-account>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group ">
                                <label class="text-muted">{{'Purchase Account' | translate}}</label>
                                <div class="cbx_purchAcct mh-32">
                                    <module-account  
                                        #purchAcctCbx
                                        [key]="'acct_code'"
                                        *ngIf="acctSetting"
                                        [ngModel]="editingItem?.purch_acct_code" 
                                        (ngModelChange)="editingItem.purch_acct_code = $event"
                                        [ngModelOptions]="{standalone: true}"
                                        (onOpen)="acctSetting.onOpen()"
                                        (onClose)="acctSetting.onClose()"
                                        (onChange)="acctSetting.onPurchAcctChange($event)"
                                    ></module-account>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group ">
                                <label class="text-muted">{{'Sales Credit Memo Account' | translate}}</label>
                                <div class="cbx_salesCreditMemoAcct mh-32">
                                    <module-account  
                                        #salesCreditMemoAcctCbx
                                        [key]="'acct_code'"
                                        *ngIf="acctSetting"
                                        [ngModel]="editingItem?.sales_credit_memo_acct_code" 
                                        (ngModelChange)="editingItem.sales_credit_memo_acct_code = $event"
                                        [ngModelOptions]="{standalone: true}"
                                        (onOpen)="acctSetting.onOpen()"
                                        (onClose)="acctSetting.onClose()"
                                        (onChange)="acctSetting.onSalesCreditMemoAcctChange($event)"
                                    ></module-account>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group ">
                                <label class="text-muted">{{'Purchase Credit Memo Account' | translate}}</label>
                                <div class="cbx_purchCreditMemoAcct mh-32">
                                    <module-account  
                                        #purchCreditMemoAcctCbx
                                        [key]="'acct_code'"
                                        *ngIf="acctSetting"
                                        [ngModel]="editingItem?.purch_credit_memo_acct_code" 
                                        (ngModelChange)="editingItem.purch_credit_memo_acct_code = $event"
                                        [ngModelOptions]="{standalone: true}"
                                        (onOpen)="acctSetting.onOpen()"
                                        (onClose)="acctSetting.onClose()"
                                        (onChange)="acctSetting.onPurchCreditMemoAcctChange($event)"
                                    ></module-account>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group ">
                                <label class="text-muted">{{'COGS Account' | translate}}</label>
                                <div class="cbx_cogs_acct_code mh-32">
                                    <module-account  
                                        #cogsAcctCbx
                                        [key]="'acct_code'"
                                        *ngIf="acctSetting"
                                        [ngModel]="editingItem?.cogs_acct_code" 
                                        (ngModelChange)="editingItem.cogs_acct_code = $event"
                                        [ngModelOptions]="{standalone: true}"
                                        (onOpen)="acctSetting.onOpen()"
                                        (onClose)="acctSetting.onClose()"
                                        (onChange)="acctSetting.onCOGSAcctChange($event)"
                                    ></module-account>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group ">
                                <label class="text-muted">{{'Inventory Adjustment Account' | translate}}</label>
                                <div class="cbx_invt_adjmt_acct_code mh-32">
                                    <module-account  
                                        #invtAdjmtAcctCbx
                                        [key]="'acct_code'"
                                        *ngIf="acctSetting"
                                        [ngModel]="editingItem?.invt_adjmt_acct_code" 
                                        (ngModelChange)="editingItem.invt_adjmt_acct_code = $event"
                                        [ngModelOptions]="{standalone: true}"
                                        (onOpen)="acctSetting.onOpen()"
                                        (onClose)="acctSetting.onClose()"
                                        (onChange)="acctSetting.onInvtAdjmtAcctChange($event)"
                                    ></module-account>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group ">
                                <label class="text-muted">{{'Sales Line Discount Account' | translate}}</label>
                                <div class="cbx_sales_disc_line_acct_code mh-32">
                                    <module-account
                                        #salesLineDiscAcctCbx
                                        [key]="'acct_code'"
                                        *ngIf="acctSetting"
                                        [ngModel]="editingItem?.sales_disc_line_acct_code" 
                                        (ngModelChange)="editingItem.sales_disc_line_acct_code = $event"
                                        [ngModelOptions]="{standalone: true}"
                                        (onOpen)="acctSetting.onOpen()"
                                        (onClose)="acctSetting.onClose()"
                                        (onChange)="acctSetting.onSalesLineDiscountAcctChange($event)"
                                    ></module-account>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group ">
                                <label class="text-muted">{{'Sales Inventory Discount Account' | translate}}</label>
                                <div class="cbx_sales_disc_invt_acct_code mh-32">
                                    <module-account
                                        #salesInvtDiscAcctCbx
                                        [key]="'acct_code'"
                                        *ngIf="acctSetting"
                                        [ngModel]="editingItem?.sales_disc_invt_acct_code" 
                                        (ngModelChange)="editingItem.sales_disc_invt_acct_code = $event"
                                        [ngModelOptions]="{standalone: true}"
                                        (onOpen)="acctSetting.onOpen()"
                                        (onClose)="acctSetting.onClose()"
                                        (onChange)="acctSetting.onSalesInvtDiscountAcctChange($event)"
                                    ></module-account>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group ">
                                <label class="text-muted">{{'Purchase Line Discount Account' | translate}}</label>
                                <div class="cbx_purch_disc_line_acct_code mh-32">
                                    <module-account  
                                        #purchLineDiscAcctCbx
                                        [key]="'acct_code'"
                                        *ngIf="acctSetting"
                                        [ngModel]="editingItem?.purch_disc_line_acct_code" 
                                        (ngModelChange)="editingItem.purch_disc_line_acct_code = $event"
                                        [ngModelOptions]="{standalone: true}"
                                        (onOpen)="acctSetting.onOpen()"
                                        (onClose)="acctSetting.onClose()"
                                        (onChange)="acctSetting.onPurchLineDiscountAcctChange($event)"
                                    ></module-account>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group ">
                                <label class="text-muted">{{'Purchase Inventory Discount Account' | translate}}</label>
                                <div class="cbx_purch_disc_invt_acct_code mh-32">
                                    <module-account
                                        #purchInvtDiscAcctCbx
                                        [key]="'acct_code'"
                                        *ngIf="acctSetting"
                                        [ngModel]="editingItem?.purch_disc_invt_acct_code" 
                                        (ngModelChange)="editingItem.purch_disc_invt_acct_code = $event"
                                        [ngModelOptions]="{standalone: true}"
                                        (onOpen)="acctSetting.onOpen()"
                                        (onClose)="acctSetting.onClose()"
                                        (onChange)="acctSetting.onPurchInvtDiscountAcctChange($event)"
                                    ></module-account>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </jqxValidator>
            <div class="mt-2x text-right">
                <button class="btn btn-sm btn-danger" (click)="closeDetail()"><span class="fa fa-remove"></span> {{'Close' | translate}}</button>
                <button class="btn btn-sm btn-primary" (click)="checkValidate()">
                    <span class="fa fa-save"></span> {{(editingItem?.id?'Update':'Create') | translate}}
                </button>
            </div>
        </div>
    </div>
</jqxWindow>