
<div class="dropdown dropdown-module" *ngIf="!hidden && !layout">
    <button 
        #dropDownButton 
        class="btn btn-block btn-sm btn-outline-secondary dropdown-toggle dropdown-arrow widget-dropdown" data-toggle="dropdown"
        (click)="initDropdown($event)"
        >{{label}}</button>
    <div class="dropdown-menu">
        <jqxGrid 
            *ngIf="dropDownGridSetting"
            #dropDownGrid 
            [width]="360" 
            [filterable]="true"
            [showfilterrow]="true"
            [sortable]="true"
            [source]="dropDownGridSetting?.source" 
            [columns]="dropDownGridSetting?.columns" 
            [theme]="theme"
            [pagesize]="1000"
            [ready]="dropDownGridSetting?.ready"
            [columnsresize]="false" 
            [autoheight]="false"
            [height]="280"
            style="'border:0'"
            (onRowclick)="dropDownGridSetting?.onRowSelect($event)"
            [handlekeyboardnavigation]="dropDownGridSetting?.handlekeyboardnavigation"
            onClick="event.stopPropagation();"
            [localization]="dropDownGridSetting?.localization"

            >
        </jqxGrid>
        <div class="dropdown-foot text-right">
            <a (click)="switchToAdvance()"><i class="fa fa-cogs"></i> {{'Advance' | translate}}</a>
        </div>
    </div>
</div>
<jqxWindow 
    *ngIf="layout!='grid'"
    class="widget-window"
    #window 
    [isModal]="true"
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="650" 
    [minHeight]='548'
    [keyboardCloseKey]='""'
    [keyboardNavigation]="false"
    [showCollapseButton]="false"
    [showCloseButton]="true"

    (onClose)="eventWindowClose()"
    (onOpen)="eventWindowOpen()"
    [title]="'General Product Posting Groups' | translate"

    >
    <div style="overflow: hidden;">
        <ul class="ribon-menu">
            <!-- <li><a (click)="addNewItem()"><i class="fa fa-plus"></i><span>Add</span></a></li> -->
            <li><a (click)="clickAdd()"><i class="fa fa-plus"></i><span>{{'Add' | translate}}</span></a></li>
            <li><a (click)="clickEdit()"><i class="fa fa-pencil"></i><span>{{'Edit' | translate}}</span></a></li>
            <li><a (click)="clickDelete()"><i class="fa fa-times"></i><span>{{'Delete' | translate}}</span></a></li>
            <!-- <li class="disabled"><a><i class="fa fa-fa-empty-set"></i><span>Clear Selection</span></a></li> -->
            <li class="driver"></li>
            <li><a  (click)="reloadGrid()"><i class="ti-reload"></i><span>{{'Refresh' | translate}}</span></a></li>
            

        </ul>
        <jqxGrid 
            *ngIf="gridSetting"
            #grid
            [width]='630'
            [height]='380'
            [filterable]="true"
            [showfilterrow]="true"
            [sortable]="true"
            [ready]="gridSetting?.ready"

            [pagesize]="1000"

            [theme]="theme"
            [source]="gridSetting?.source" 
            [columns]="gridSetting?.columns" 

            [showtoolbar]="false"

            [virtualmode]="true"
            [rendergridrows]="gridSetting?.rendergridrows"
            

            [editable]="true"
            [editmode]='"selectedrow"'
            [selectionmode]='"singlerow"'
            (onCellbeginedit)="gridSetting?.onCellBeginEdit($event)" 
            (onCellendedit)="gridSetting?.onCellEndEdit($event)" 
            [localization]="gridSetting?.localization"

            ></jqxGrid>
            <!-- 
            (onRowdoubleclick)="gridSetting?.onRowdoubleclick($event)" 
            -->
            <div class="mt-1x text-right">
                <button class="btn btn-sm btn-danger" (click)="close()"><span class="fa fa-remove"></span> {{'Close' | translate}}</button>
                <button class="btn btn-sm btn-primary" (click)="done()"><span class="fa fa-check"></span> {{'Done' | translate}}</button>
            </div>
    </div>
</jqxWindow>
<div *ngIf="layout=='grid'">
    <ul class="ribon-menu">
            <!-- <li><a (click)="addNewItem()"><i class="fa fa-plus"></i><span>Add</span></a></li> -->
            <li><a (click)="clickAdd()"><i class="fa fa-plus"></i><span>{{'Add' | translate}}</span></a></li>
            <li><a (click)="clickEdit()"><i class="fa fa-pencil"></i><span>{{'Edit' | translate}}</span></a></li>
            <li><a (click)="clickDelete()"><i class="fa fa-times"></i><span>{{'Delete' | translate}}</span></a></li>
            <!-- <li class="disabled"><a><i class="fa fa-fa-empty-set"></i><span>Clear Selection</span></a></li> -->
            <li class="driver"></li>
            <li><a  (click)="reloadGrid()"><i class="ti-reload"></i><span>{{'Refresh' | translate}}</span></a></li>
            

        </ul>
    <jqxGrid 
            *ngIf="gridSetting"
            #grid
            [width]='"100%"'
            [height]='380'
            [filterable]="true"
            [showfilterrow]="true"
            [sortable]="true"
            [ready]="gridSetting?.ready"

            [virtualmode]="true"
            [rendergridrows]="gridSetting?.rendergridrows"
            [pagesize]="1000"

            [theme]="theme"
            [source]="gridSetting?.source" 
            [columns]="gridSetting?.columns" 

            [showtoolbar]="false"
            [editable]="true"
            [editmode]='"selectedrow"'
            [selectionmode]='"singlerow"'
            (onCellbeginedit)="gridSetting?.onCellBeginEdit($event)" 
            (onCellendedit)="gridSetting?.onCellEndEdit($event)" 
            [localization]="gridSetting?.localization"
            
            ></jqxGrid>
            <!-- 
            (onRowdoubleclick)="gridSetting?.onRowdoubleclick($event)" 
            -->
</div>
<jqxWindow 
    class="widget-window"
    #detailWindow 
    [isModal]="true"
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="340" 
    [minHeight]='332'
    [keyboardCloseKey]='""'
    [keyboardNavigation]="false"
    [showCollapseButton]="false"
    [showCloseButton]="true"
    (onOpen)="initDetailWindow()"
    [title]="'General Product Posting Groups' | translate"

    >
    <div style="overflow: visible;padding: 20px">
        <jqxValidator 
            #validator  
            [rules]="rules" 
            [focus]="false"
            (onValidationSuccess)="onValidationSuccess()"
            (onValidationError)="onValidationError()"
            >
            <form>
                <input type="hidden" name="id" [ngModel]="editingItem?.id" >
                <div class="form-group ">
                    <label class="text-muted">{{'Code' | translate}}</label>
                    <div class="">
                        <input 
                            class="form-control form-control-sm txt_code text-uppercase"
                            type="text"
                            name="code" 
                            [ngModel]="editingItem?.code"
                            (ngModelChange)="editingItem.code = $event"
                            >
                    </div>
                </div>
                <div class="form-group ">
                    <label class="text-muted">{{'Description' | translate}}</label>
                    <div class="">
                        <input 
                            class="form-control form-control-sm txt_description"
                            type="text"
                            name="description" 
                            [ngModel]="editingItem?.description"
                            (ngModelChange)="editingItem.description = $event"
                            >
                    </div>
                </div>
                <div class="form-group ">
                    <label class="text-muted">{{'Def. TAX Prod. Posting Group' | translate}}</label>
                    <div class="def_vat_business_ptg_code">
                        <module-ptg-vat-product  
                            #vatProdPtgCbx
                            [key]="'code'"
                            *ngIf="vatProdPtgSetting"
                            [ngModel]="editingItem?.def_vat_product_ptg_code" 
                            (ngModelChange)="editingItem.def_vat_product_ptg_code = $event"
                            [ngModelOptions]="{standalone: true}"
                            (onOpen)="vatProdPtgSetting.onOpen()"
                            (onClose)="vatProdPtgSetting.onClose()"
                            (onChange)="vatProdPtgSetting.onChange($event)"
                        ></module-ptg-vat-product>
                    </div>
                </div>
                
            </form>
        </jqxValidator>
        <div class="mt-2x text-center">
            <button class="btn btn-sm btn-danger" (click)="closeDetail()"><span class="fa fa-remove"></span> {{'Close' | translate}}</button>
            <button class="btn btn-sm btn-primary" (click)="checkValidate()">
                <span class="fa fa-save"></span> {{(editingItem?.id?'Update':'Create') | translate}}
            </button>
        </div>
    </div>
</jqxWindow>