
<div class="dropdown dropdown-module" *ngIf="!hidden && !layout">
    <button #dropDownButton class="btn btn-block btn-sm btn-outline-secondary dropdown-toggle dropdown-arrow widget-dropdown" data-toggle="dropdown"
        (click)="initDropdown($event)"
        >{{label}}</button>
    <div class="dropdown-menu">
        <jqxGrid 
            *ngIf="dropDownGridSetting"
            #dropDownGrid 
            [width]="'100%'" 
            [filterable]="true"
            [showfilterrow]="true"
            [localization]="dropDownGridSetting?.localization"
            
            [sortable]="true"
            [source]="dropDownGridSetting?.source" 
            [columns]="dropDownGridSetting?.columns" 
            [theme]="theme"
            [ready]="dropDownGridSetting?.ready"
            [pageable]="false" 
            [pagesize]="50"
            [pagesizeoptions]="[50, 100, 200, 500]"
            [columnsresize]="false" 
            [autoheight]="false"
            [height]="280"
            style="'border:0'"
            (onRowclick)="dropDownGridSetting?.onRowSelect($event)"

            onClick="event.stopPropagation();"
            >
        </jqxGrid>
        <div class="dropdown-foot text-right">
            <a (click)="switchToAdvance()"><i class="fa fa-cogs"></i> {{'Advance' | translate}}</a>
        </div>
    </div>
</div>
<jqxWindow 
    *ngIf="layout!='grid'"
    class="widget-window"
    #window 
    [isModal]="true"
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="640" 
    [minHeight]='515'
    [keyboardCloseKey]='""'
    [keyboardNavigation]="false"
    [showCollapseButton]="false"
    [showCloseButton]="true"

    (onClose)="eventWindowClose()"
    (onOpen)="eventWindowOpen()"
    [title]="'NON Item Setup' | translate"

    >
    <div>&nbsp;</div>
    <div style="overflow: hidden;">
        <ul class="ribon-menu">
            <!-- <li><a (click)="addNewItem()"><i class="fa fa-plus"></i><span>Add</span></a></li> -->
            <li><a (click)="clickAdd()"><i class="fa fa-plus"></i><span>{{'Add' | translate}}</span></a></li>
            <li><a (click)="clickEdit()"><i class="fa fa-pencil"></i><span>{{'Edit' | translate}}</span></a></li>
            <li><a (click)="clickDelete()"><i class="fa fa-times"></i><span>{{'Delete' | translate}}</span></a></li>
            <!-- <li class="disabled"><a><i class="fa fa-fa-empty-set"></i><span>Clear Selection</span></a></li> -->
            <li class="driver"></li>
            <li><a  (click)="reloadGrid()"><i class="ti-reload"></i><span>{{'Refresh' | translate}}</span></a></li>
            

        </ul>
        <jqxGrid 
            *ngIf="gridSetting"
            #grid
            [width]='630'
            [height]='380'
            [filterable]="true"
            [showfilterrow]="true"
            
            [sortable]="true"
            [ready]="gridSetting?.ready"
            [pageable]="true"
            [pagesize]="50"
            [pagesizeoptions]="[50, 100, 200, 500]"

            [theme]="theme"
            [source]="gridSetting?.source" 
            [columns]="gridSetting?.columns" 

            [showtoolbar]="false"

            [virtualmode]="true"
            [rendergridrows]="gridSetting?.rendergridrows"
            [localization]="gridSetting?.localization"
            

            [editable]="true"
            [editmode]='"selectedrow"'
            [selectionmode]='"singlerow"'
            (onCellbeginedit)="gridSetting?.onCellBeginEdit($event)" 
            (onCellendedit)="gridSetting?.onCellEndEdit($event)" 
            ></jqxGrid>
            <!-- 
            (onRowdoubleclick)="gridSetting?.onRowdoubleclick($event)" 
            -->
            <div class="mt-2 text-right">
                <button class="btn btn-sm btn-outline-danger" (click)="close()">{{'Close' | translate}}</button>
                <div class="float-right">
                    <button class="btn btn-sm btn-outline-secondary" (click)="done()">{{'Done' | translate}}</button>
                </div>
            </div>
    </div>
</jqxWindow>
<div *ngIf="layout=='grid'">
    <ul class="ribon-menu">
            <!-- <li><a (click)="addNewItem()"><i class="fa fa-plus"></i><span>Add</span></a></li> -->
            <li><a (click)="clickAdd()"><i class="fa fa-plus"></i><span>{{'Add' | translate}}</span></a></li>
            <li><a (click)="clickEdit()"><i class="fa fa-pencil"></i><span>{{'Edit' | translate}}</span></a></li>
            <li><a (click)="clickDelete()"><i class="fa fa-times"></i><span>{{'Delete' | translate}}</span></a></li>
            <!-- <li class="disabled"><a><i class="fa fa-fa-empty-set"></i><span>Clear Selection</span></a></li> -->
            <li class="driver"></li>
            <li><a  (click)="reloadGrid()"><i class="ti-reload"></i><span>{{'Refresh' | translate}}</span></a></li>
            

        </ul>
    <jqxGrid 
            *ngIf="gridSetting"
            #grid
            [width]='"100%"'
            [height]='380'
            [filterable]="true"
            [showfilterrow]="true"
            
            [sortable]="true"
            [ready]="gridSetting?.ready"

            [virtualmode]="true"
            [rendergridrows]="gridSetting?.rendergridrows"
            [pageable]="true"
            [pagesize]="50"
            [pagesizeoptions]="[50, 100, 200, 500]"

            [theme]="theme"
            [source]="gridSetting?.source" 
            [columns]="gridSetting?.columns" 

            [showtoolbar]="false"
            [editable]="true"
            [editmode]='"selectedrow"'
            [selectionmode]='"singlerow"'
            (onCellbeginedit)="gridSetting?.onCellBeginEdit($event)" 
            (onCellendedit)="gridSetting?.onCellEndEdit($event)" 
            [localization]="gridSetting?.localization"
            
            ></jqxGrid>
            <!-- 
            (onRowdoubleclick)="gridSetting?.onRowdoubleclick($event)" 
            -->
</div>
<jqxWindow 
    class="widget-window"
    #detailWindow 
    [isModal]="true"
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="480" 
    [height]='"auto"'
    [keyboardCloseKey]='""'
    [keyboardNavigation]="false"
    [showCollapseButton]="false"
    [showCloseButton]="true"
    (onOpen)="initDetailWindow()"
    [title]="'NON Item Setup' | translate"

    >
    <div style="overflow: visible;">
        <div class="p-2x">
            <jqxValidator 
                #validator  
                [rules]="rules" 
                [focus]="false"
                (onValidationSuccess)="onValidationSuccess()"
                (onValidationError)="onValidationError()"
                >
                <form>
                    <div class="form-group ">
                        <label class="text-muted">{{'General Posting Type' | translate}}&nbsp;</label>
                        <div class="gen_posting_type mh-32">
                            <select class="form-control"
                                name="gen_posting_type" 
                                [ngModel]="editingItem?.gen_posting_type"
                                (ngModelChange)="editingItem.gen_posting_type = $event"
                                [ngModelOptions]="{standalone: true}"
                                (change)="onGenPostingTypeChange($event.target.value)"
                                >
                                <option value="1">{{'Sales' | translate}}</option>
                                <option value="2">{{'Purchase' | translate}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="text-muted">{{'Code' | translate}}&nbsp;</label>
                        <div class="mh-32">
                            <input 
                                class="form-control form-control-sm txt_code text-uppercase"
                                type="text"
                                name="code" 
                                [ngModel]="editingItem?.code"
                                (ngModelChange)="editingItem.code = $event"
                                >
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="text-muted">{{'Description' | translate}}&nbsp;</label>
                        <div class="mh-32">
                            <input 
                                class="form-control form-control-sm txt_description"
                                type="text"
                                name="description" 
                                [ngModel]="editingItem?.description"
                                (ngModelChange)="editingItem.description = $event"
                                >
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="text-muted">{{'General Product Posting Group' | translate}}&nbsp;</label>
                        <div class="gen_product_ptg_code mh-32">
                            <module-ptg-gen-product  
                                #genProdPtgCbx
                                [key]="'code'"
                                *ngIf="genProdPtgSetting"
                                [ngModel]="editingItem?.gen_product_ptg_code" 
                                (ngModelChange)="editingItem.gen_product_ptg_code = $event"
                                [ngModelOptions]="{standalone: true}"
                                (onOpen)="genProdPtgSetting.onOpen()"
                                (onClose)="genProdPtgSetting.onClose()"
                                (onChange)="genProdPtgSetting.onChange($event)"
                            ></module-ptg-gen-product>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="text-muted">{{'Default TAX Group' | translate}}&nbsp;</label>
                        <div class="def_vat_product_ptg_code mh-32">
                            <module-ptg-vat-product  
                                #vatProdPtgCbx
                                [key]="'code'"
                                [type]="'1'"
                                *ngIf="vatProdPtgSetting"
                                [ngModel]="editingItem?.def_vat_product_ptg_code" 
                                (ngModelChange)="editingItem.def_vat_product_ptg_code = $event"
                                [ngModelOptions]="{standalone: true}"
                                (onOpen)="vatProdPtgSetting.onOpen()"
                                (onClose)="vatProdPtgSetting.onClose()"
                                (onChange)="vatProdPtgSetting.onChange($event)"
                            ></module-ptg-vat-product>
                        </div>
                    </div>
                </form>
            </jqxValidator>
            <div class="mt-2x text-right mh-32">
                <button class="btn btn-sm btn-danger" (click)="closeDetail()"><span class="fa fa-remove"></span> {{'Close' | translate}}</button>
                <button class="btn btn-sm btn-primary" (click)="checkValidate()">
                    <span class="fa fa-save"></span> {{(editingItem?.id?'Update':'Create') | translate}}
                </button>
            </div>
            <div class="clearfix" style="clear: both;"></div>
        </div>
    </div>
</jqxWindow>