<div class="page-heading">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item" routerLink="/finance">{{'Migration' | translate}}</li>
        <li class="breadcrumb-item">{{'Product' | translate}}</li>
    </ol>
</div>
<div class="page-header" >
    <div class="ibox ibox-sm">
        <div class="ibox-body">
            <div style="-height: calc(100vh - 260px);">
                    <!-- <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
                        Select image to upload:
                        <input type="file" name="business_partner" id="fileToUpload" formControlName="file1" (change)="fileEvent($event)">
                        <input type="submit" value="Upload Image" name="submit">
                    </form>
                        <div class="form-group mb-4">
                            <label class="btn btn-primary file-input mr-2">
                                <span class="btn-icon"><i class="la la-cloud-upload"></i>Browse file</span>
                                <input type="file" id="file"
           (change)="handleFileInput($event.target.files)">
                            </label>
                        </div> -->
                        <h3 class="mb-4x">{{'Migration' | translate}} {{'Product' | translate}}</h3>
                        <jqxFileUpload 
                            #fileUpload 
                            class="custom-upload-thumb"
                            [theme]="theme"
                            [width]="'240px'" 
                            [uploadUrl]="'/'" 
                            [fileInputName]="'fileToUpload'"
                            (onSelect)="onSelectFile($event)"
                            ></jqxFileUpload>
                        <div class="m-2x">
                            <a href="/Product.xlsx" target="_blank">{{'Download Template' | translate}} "{{'Product' | translate}}.xlsx"</a>
                        </div>
                        <div style="overflow: auto;" *ngIf="preview_data">
                            <table class="table table-bordered table-sm preview-migration">
                                <tr>
                                    <th><div class="nowrap"></div></th>
                                    <th><div class="nowrap">Product Code</div></th>
                                    <th><div class="nowrap">Description</div></th>
                                    <th><div class="nowrap">Base UOM</div></th>
                                    <th><div class="nowrap">Item Group</div></th>
                                    <th><div class="nowrap">Case</div></th>
                                    <th><div class="nowrap">Sales Price</div></th>
                                    <th><div class="nowrap">Sales Tax</div></th>
                                    <th><div class="nowrap">Purchase Price</div></th>
                                    <th><div class="nowrap">Purchase Tax</div></th>
                                    <th><div class="nowrap">Unit Cost</div></th>
                                    <th><div class="nowrap">Supplier</div></th>
                                    <th><div class="nowrap">Balance</div></th>
                                    <th><div class="nowrap">General Product Posting Group</div></th>
                                    <th><div class="nowrap">Inventory Posting Group</div></th>
                                    <th><div class="nowrap">Status</div></th>

                                </tr>
                                <tr *ngFor="let item of preview_data?.collection || []; index as i" 
                                    [ngClass]="{'text-success': !item.errors,'text-danger': item.errors}">
                                    <td><div class="nowrap">{{i+1}}</div></td>
                                    <td><div class="nowrap">{{item?.product_code}}</div></td>
                                    <td><div class="nowrap">{{item?.description}}</div></td>
                                    <td><div class="nowrap">{{item?.uom_code}}</div></td>
                                    <td><div class="nowrap">{{item?.item_group_code}}</div></td>
                                    <td><div class="nowrap">{{item?.case}}</div></td>
                                    <td><div class="nowrap">{{item?.sale_price}}</div></td>
                                    <td><div class="nowrap">{{item?.sale_tax_group_code}}</div></td>
                                    <td><div class="nowrap">{{item?.purchase_price}}</div></td>
                                    <td><div class="nowrap">{{item?.purchase_tax_group_code}}</div></td>
                                    <td><div class="nowrap">{{item?.unit_cost}}</div></td>
                                    <td><div class="nowrap">{{item?.supplier_code}}</div></td>
                                    <td><div class="nowrap">{{item?.current_stock}}</div></td>
                                    <td><div class="nowrap">{{item?.gen_product_ptg_code}}</div></td>
                                    <td><div class="nowrap">{{item?.invt_ptg_code}}</div></td>
                                    <td>
                                        <div class="nowrap" *ngFor="let error of item.errors || []">{{error}}</div>
                                        <div *ngIf="!item.errors"><span class="fa fa-check"></span></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="mt-2x">
                            <button *ngIf="migration_status" class="btn btn-primary" (click)="migration()">Upload</button>
                            <div *ngIf="preview_data?.invalid_count" class="text-danger">{{preview_data?.invalid_count}} invalid record</div>
                            <div *ngIf="preview_data?.created_count" class="-text-success">Created {{preview_data?.created_count}} record</div>
                            <div *ngIf="preview_data?.modified_count" class="-text-success">Modified {{preview_data?.modified_count}} record</div>
                        </div>
            </div>
        </div>
    </div>
</div>
