<div class="page-heading">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">{{'Finance' | translate}}</li>
        <li class="breadcrumb-item">{{'With Holding Tax Report' | translate}}</li>
    </ol>
</div>

<div class="page-header">
    <div class="ibox flex-1">
        <ul class="nav nav-tabs tabs-line m-0 pl-3 pr-3">
            <li class="nav-item">
                <a class="nav-link" routerLink="/finance/accounts">{{'List of accounts' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/finance/tax-reports">{{'Tax Reports' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/finance/with-holding-tax">{{'With Holding Tax Report' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/finance/journal-entry">{{'General G/L Journal' | translate}}</a>
            </li>
        </ul>

        <div class="form-control">
            <label>Filter by month: </label>
            <select [(ngModel)]="selected" (ngModelChange)="onSelectYears(selected)">
              <option *ngFor="let year of years" [value]=year.month>{{year.description}}</option>
            </select>
            <button class="btn btn-sm btn-primary" (click)="exportToCSV()">Export</button>
        </div>

        <div class="ibox-body">
            <table class="table ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>WTax Code</th>
                        <th>WTax Code Name</th>
                        <th>WTax %</th>
                        <th>Document No.</th>
                        <th>Document Date</th>
                        <th>Payment Date</th>
                        <th>Document Amount (currency)</th>
                        <th>Document Amount</th>
                        <th>Taxable Amount (currency)</th>
                        <th>Taxable Amount</th>
                        <th>WTax Amount (currency)</th>
                        <th>WTax Amount</th>
                        <th>Payment Amount (currency)</th>
                        <th>Payment Amount</th>
                        <th>Non-Sbj. Amount (currency)</th>
                        <th>Payment Amount (currency)</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of selectedData || []; index as i">
                        <td>{{ i + 1 }}</td>
                        <td>{{ item.wtax_code }}</td>
                        <td>{{ item.wtax_code_name }}</td>
                        <td>{{ item.wtax }}</td>
                        <td>{{ item.document_no }}</td>
                        <td>{{ item.document_date }}</td>
                        <td>{{ item.payment_date }}</td>
                        <td>{{ item.document_currency }}</td>
                        <td>{{ item.document_amount  | number}}</td>
                        <td>{{ item.taxable_currency }}</td>
                        <td>{{ item.taxable_amount  | number}}</td>
                        <td>{{ item.wtax_curreny }}</td>
                        <td>{{ item.wtax_amount  | number}}</td>
                        <td>{{ item.payment_currency }}</td>
                        <td>{{ item.payment_amount  | number}}</td>
                        <td>{{ item.nonSbj_currency }}</td>
                        <td>{{ item.nonSbj_amount  | number}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>