<div class="page-content" [ngClass]="{'hidden':item_detail}">
    <div class="ibox">
        <div class="ibox-body">
            <div class="flexbox mb-5">
                <h5 class="font-strong">CUSTOMERS LIST</h5>
                <div class="flexbox">
                    <div class="input-group-icon input-group-icon-left mr-3">
                        <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
                        <input class="form-control form-control-rounded form-control-solid" id="key-search" type="text" placeholder="Search ...">
                    </div>
                    <!-- <a class="btn btn-rounded btn-primary btn-air" href="ecommerce_add_product.html">Add Product</a> -->
                </div>
            </div>
            <div class="table-responsive row">
                <table class="table table-bordered table-hover" id="customers-table">
                    <thead class="thead-default thead-lg">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Balance</th>
                            <th class="no-sort"></th>
                        </tr>
                    </thead>
                    
                </table>
            </div>
        </div>
    </div>
</div>
<div class="page-header" *ngIf="item_detail">
    <div class="ibox flex-1">
        <div class="ibox-body">
            <div class="flexbox">
                <div class="flexbox-b">
                    <div class=" mr-5">
                            <div class="cover big-thumb" [ngStyle]="{'background-image': 'url(' + ((item_detail.images && item_detail.images.length > 0)?item_detail.images[0]:'') + ')',
                                'width': '110px',
                                'height': '110px'}"
                            ></div>
                    </div>
                    <div>
                        <h4>{{item_detail.name}}</h4>
                        <div class="text-muted font-13 mb-3">
                            <span class="mr-3"><i class="ti-credit-card mr-2"></i>{{item_detail.No}}</span>
                            <span><i class="ti-email mr-2"></i>{{item_detail.email}}</span>
                        </div>
                        <div>
                            <span class="mr-3">
                                <span class="badge badge-primary badge-circle mr-2 font-14" style="height:30px;width:30px;"><i class="ti-briefcase"></i></span>{{item_detail.type==1?'Customer':'Supplier'}}</span>
                            <span>
                                <span class="badge badge-pink badge-circle mr-2 font-14" style="height:30px;width:30px;"><i class="ti-cup"></i></span>Vip Status</span>
                        </div>
                    </div>
                </div>
                <div class="d-inline-flex">
                    <div class="px-4 text-center">
                        <div class="text-muted font-13">ARTICLES</div>
                        <div class="h2 mt-2">134</div>
                    </div>
                    <div class="px-4 text-center">
                        <div class="text-muted font-13">FOLLOWERS</div>
                        <div class="h2 mt-2">540</div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs tabs-line m-0 pl-5 pr-3">
            <li class="nav-item">
                <a class="nav-link active" href="#tab-overview" data-toggle="tab" aria-expanded="false">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab-profile" data-toggle="tab" aria-expanded="false">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" aria-expanded="true">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" aria-expanded="false">Activity</a>
            </li>
        </ul>
        <div class="ibox-body">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-overview">
                    <div class="row">
                        <div class="col-lg-6">
                            <fieldset class="fs-box">
                                <legend>Company Detail</legend>
                                <div class="-ibox">
                                    <div class="-ibox-body">
                                        <div class="row mb-2">
                                            <div class="col-4 text-muted">Type:</div>
                                            <div class="col-8">{{item_detail.type==1?'Customer':'Supplier'}}</div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-4 text-muted">Address:</div>
                                            <div class="col-8">{{item_detail.crm_address}}</div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-4 text-muted">Phone:</div>
                                            <div class="col-8">{{item_detail.phone}}</div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-4 text-muted">Email:</div>
                                            <div class="col-8">{{item_detail.email}}</div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-4 text-muted">Website:</div>
                                            <div class="col-8">{{item_detail.website}}</div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-12 text-muted">Notes:</div>
                                            <div class="col-12">{{item_detail.note}}</div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="fs-box">
                                <legend>Contacts</legend>
                                <div class="-ibox">
                                    <div class="-ibox-body">
                                        <div *ngFor="let item of item_detail.contacts || []">
                                            <table class="table table-condensed small-table">
                                                <tr>
                                                    <td class="text-muted">Name</td>
                                                    <td>{{item.name}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-muted">Position</td>
                                                    <td>{{item.position}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-muted">Email</td>
                                                    <td>{{item.email}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-muted">Phone</td>
                                                    <td>{{item.phone}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-muted">Mobile</td>
                                                    <td>{{item.mobile}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-muted">Default Contact</td>
                                                    <td>
                                                        <i *ngIf="item.default_contact" class="ti-check text-success"></i>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="fs-box">
                                <legend>Address</legend>
                                <div class="-ibox">
                                    <div class="-ibox-body">
                                        <div *ngFor="let item of item_detail.addresses || []">
                                            <table class="table table-condensed small-table">
                                                <tr>
                                                    <td class="text-muted">Name</td>
                                                    <td>{{item.name}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-muted">Street number</td>
                                                    <td>{{item.street_number}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-muted">Street</td>
                                                    <td>{{item.street}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-muted">County</td>
                                                    <td>{{item.county}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-muted">City</td>
                                                    <td>{{item.city}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-muted">Country</td>
                                                    <td>{{item.country.description}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <fieldset class="fs-box">
                                <legend>Bank Account</legend>
                                <div class="-ibox">
                                    <div class="-ibox-body">
                                        <div class="row mb-2">
                                            <div class="col-4 text-muted">Description:</div>
                                            <div class="col-8">{{item_detail.bank_name}}</div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-4 text-muted">Branch:</div>
                                            <div class="col-8">{{item_detail.bank_branch}}</div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-4 text-muted">Account No.:</div>
                                            <div class="col-8">{{item_detail.bank_account}}</div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-4 text-muted">Switf Code:</div>
                                            <div class="col-8">{{item_detail.bank_swift}}</div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-4 text-muted">Iban:</div>
                                            <div class="col-8">{{item_detail.bank_iban}}</div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="fs-box">
                                <legend>Payments</legend>
                                <div class="-ibox">
                                    <div class="-ibox-body">
                                        <div class="row mb-2">
                                            <div class="col-4 text-muted">Tax Number:</div>
                                            <div class="col-8">{{item_detail.gst_number}}</div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-4 text-muted">Payment term:</div>
                                            <div class="col-8">{{item_detail.payment_term}}</div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-4 text-muted">Default tax group:</div>
                                            <div class="col-8">{{item_detail.default_tax_group}}</div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    
                </div>
                <div class="tab-pane fade show" id="tab-profile">
                    ádsad
                </div>
            </div>
        </div>
        <div class="ibox-footer">
                <button class="btn btn-info mr-2" type="button">Submit</button>
                <button class="btn btn-secondary" type="button" (click)="backToList()">Cancel</button>
            </div>
    </div>
</div>