<div class="page-heading">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item" routerLink="/finance">{{'Finances' | translate}}</li>
        <li class="breadcrumb-item">{{'General G/L Journal' | translate}}</li>
    </ol>
</div>
<div class="page-header" [ngClass]="{'hidden':item_detail}">
    <div class="ibox">
        <ul class="nav nav-tabs tabs-line m-0 pl-3 pr-3">
            <li class="nav-item">
                <a class="nav-link " routerLink="/finance/accounts">{{'List of accounts' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/finance/tax-reports">{{'Tax Reports' | translate}}</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" routerLink="/finance/with-holding-tax">{{'With Holding Tax Report' | translate}}</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link active" routerLink="/finance/journal-entry" >{{'General G/L Journal' | translate}}</a>
            </li>
        </ul>
        <div class="ibox-body">
           <!--  <div class="row mb-2">
                <button class="btn btn-success btn-fix" (click)="showAddEntry()" data-target="#add-account-dialog" data-toggle="modal"><i class="la la-plus"></i> Add account</button>
            </div> -->
            <div id="listEntry" class="table-responsive row" style="-height: calc(100vh - 260px);">
                <div class="flexbox mb-3">
                    <div class="flexbox">
                        <button class="btn btn-sm btn-primary" (click)="showAddEntry()"><span class="fa fa-plus"></span> {{'Add' | translate}}</button>
                        <!-- <button class="btn btn-sm btn-primary" (click)="showGroupPopup()"><span class="fa fa-bars"></span> Item Group</button> -->
                    </div>
                    <div class="flexbox">
                        
                    </div>
                </div>
                <div id="treegrid" style="width: 100%" ></div>
            </div>
            <div  id="addEntry" class="">
                <div [ngClass]="{'hidden':entryDetail}">
                    <h3>{{'Create New G/L Journal Entry' | translate}}</h3>
                    <div class="form-group mt-2x">
                        <label class="">{{'Posting Date' | translate}}</label>
                        <div class="">
                            <input class="jqx-input-widget jqx-input-widget-office jqx-input jqx-input-office" type="text" id="journal_entry_posting_date" name="posting_date" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="">{{'Document No.' | translate}}</label>
                        <div class="">
                            <input style="width:100%;line-height: 24px" id="journal_entry_document_no" class="jqx-input-widget jqx-input-widget-office jqx-input jqx-input-office" type="text" name="document_no" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="">{{'Posting Description' | translate}}</label>
                        <div class="">
                            <input style="width:100%;line-height: 24px" id="journal_entry_comment" 
                            maxlength="50" 
                            class="jqx-input-widget jqx-input-widget-office jqx-input jqx-input-office" type="text" name="comment" value="">
                        </div>
                    </div>
                </div>
                <div *ngIf="entryDetail">

                    <fieldset class="fs-box mb-2">
                        <legend>{{'G/L Entry' | translate}} #{{entryDetail.id}}</legend>
                        <div class="row mb-2">
                            <div class="col-3" style="max-width: 160px">{{'Transaction ID' | translate}}</div>
                            <div class="col-9">{{entryDetail.trans_id}}</div>
                        </div>
                        <div class="row mb-2" style="display: none;">
                            <div class="col-3" style="max-width: 160px">{{'Type' | translate}}</div>
                            <div class="col-9">{{getTransactionType(entryDetail.type)}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-3" style="max-width: 160px">{{'Document No.' | translate}}</div>
                            <div class="col-9">{{entryDetail.document_no}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-3" style="max-width: 160px">{{'Posting Date' | translate}}</div>
                            <div class="col-9">{{entryDetail.posting_date}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-3" style="max-width: 160px">{{'Posting Description' | translate}}</div>
                            <div class="col-9">{{entryDetail.title}}</div>
                        </div>
                    </fieldset>
                </div>
                <form  id="addEntryFrm" action="javascript:;" >
                    <div id="jqxGridDetail" style="width: 100%" ></div>
                    <table class="table table-none table-vertial-top">
                        <tr>
                            <td>
                                <input style="width:100%;    line-height: 24px" 
                                    class="jqx-input-widget jqx-input-widget-office jqx-input jqx-input-office" 
                                    maxlength="100" 
                                    type="text" 
                                    name="line_memo" 
                                    id="journal_entry_lineMemo"
                                    value="">
                            </td>
                            <td width="180">
                                <div style="width: 176px" id="journal_entry_accountCode">
                                    <module-account #journal_entry_accountCode none_control_acct="true"></module-account>
                                </div>
                            </td>
                            <td width="120">
                                <input style="width:100%;line-height: 24px" class="jqx-input-widget jqx-input-widget-office jqx-input jqx-input-office" type="text"
                                    id="journal_entry_debit"
                                    name="debit" value="">
                            </td>
                            <td width="120">
                                <input style="width:100%;line-height: 24px" class="jqx-input-widget jqx-input-widget-office jqx-input jqx-input-office" type="text"   name="credit" value=""
                                    id="journal_entry_credit"
                                >
                            </td>
                            <td width="90">
                                <button id="btnAddJournalEntry" class="btn btn-sm btn-primary">{{'Add' | translate}}</button>
                            </td>
                        </tr>
                    </table>
                    <div class="mt-2">
                        <button class="btn btn-info mr-2 btn-sm" type="button" (click)="onAddEntry()" [ngClass]="{'hidden':entryDetail}"><span class="fa fa-save"></span> {{'Post' | translate}}</button>
                        <button class="btn btn-danger  btn-sm" type="button" (click)="showListEntry()"><span class="fa fa-close"></span> {{'Cancel' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
