<div class="page-heading">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">{{'Inventory' | translate}}</li>
    </ol>
</div>
<div class="page-header" >
    <div class="ibox ibox-sm">
        <div class="ibox-body">
            <div [ngClass]="{'hidden': !!editable}" style="-height: calc(100vh - 260px);">
                
                <module-items  
                    [layout]='"grid"'
                ></module-items>
                
            </div>
        </div>
    </div>
</div>