.disabled{
    opacity: .5
}
.ab-hidden{
    position: absolute;
    left: 0;top:0;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    width: 100%;
    height: 30px;
}
.preloader-backdrop {
    background-color: rgba(0,0,0,.01);
}
.page-preloader {
    background-color: #fff;
    box-shadow: 0 5px 20px #d6dee4;
}
[id*="gridmenujqxWidget"] .jqx-menu-vertical,
#gridmenutreegrid{
    height: auto !important
}
.form-group label{
    margin:0;
    padding-bottom: 6px;
    min-height: 24px;
    line-height: 18px;
}
.form-group{
    margin-bottom: 0;
}
.form-group{
    margin-bottom: 10px;
}
..jqx-widget-header-office{
    border-color:#ebebeb;
}
.jqx-form .form-group input[type=text].jqx-input, 
.jqx-form .form-group input[type=password].jqx-input{
    width: 100%;
}
.jqx-form .form-group{
    font-size: 14px;
}
button.widget-dropdown{
    border-radius: 0;
}
.table.table-none{}
.table.table-none th,
.table.table-none td{padding: 2px;border:0;}
.table.table-vertial-top tbody tr td{vertical-align: top;}
.jqx-validator-error-label{font-size: 12px;    width: auto !important;line-height: 18px;}
.jqx-grid-column-header{
        font-weight: bold;
    }
.tabs-nomal{
    margin-bottom: 0;
    padding: 0 10px;
}
.modal-header,
.modal-footer{
    padding: 10px
}
.btn-group-sm>.btn, .btn-sm{
    font-size: 14px;
    padding: 5px 10px;
    line-height: 20px;
}
.jqx-widget-content,
.jqx-widget{
    box-sizing: border-box;
    font-size: 14px;
}
.jqx-grid-cell .filter.jqx-dropdownlist{
    box-sizing: content-box;
}
.jqx-grid div[id^="contentjqxWidget"] > span[id^="jqxWidget"],
.jqx-grid .jqx-widget-header + span[id^="jqxWidget"],
.jqx-grid .jqx-widget-header + * + span[id^="jqxWidget"],
.jqx-grid .jqx-grid-content + span[id^="jqxWidget"],
.jqx-grid .jqx-grid-content + * + span[id^="jqxWidget"]{
    opacity: 0;transform: scale(0);
    display: none;
    visibility: hidden;
}
.jqx-grid-cell-filter-row>div{
    left:1px;
}
.jqx-numberinput input.jqx-input-content,
.jqx-grid-cell-edit input.jqx-input-content{
    height: 100% !important;
}
.jqx-window-header .jqx-icon-close:before {
    content: "\E646";
}
.jqx-window-header .jqx-icon-close{
    font-family: themify;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    background-image: none;
}
.jqx-window-header{
    padding: 15px;
    font-size: 16px;
}
.jqx-window.widget-window{
    background: none !important;
    /*position: fixed;*/
}
.jqx-window-header{border-top-left-radius: 4px;border-top-right-radius: 4px;}
.jqx-window-content{
    border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;
    padding:10px;
}
.jqx-window-footer2{
    padding-top:10px;
}
.jqx-window-footer{
    padding: 10px;
}
.jqx-window-header{}
.editor-dropdown-button{
    position: absolute;
    top:0;
    right: 0;width: 20px;
    height: 100%;
    cursor: pointer;
}
.editor-dropdown-button:after{
    content: "\F107";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    display: inline-block;
    position: absolute;
    top:50%;
    left: 0;width:100%;
    text-align: center;
        line-height: 8px;
}
.editor-dropdown-button:before{
    content: "\F106";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    display: inline-block;
    position: absolute;
    bottom:50%;
    left: 0;width:100%;
    text-align: center;
        line-height: 8px;
}
.activities:after{
    display: block;content: '';
    clear: both;
}
.activities{
    margin-left: -5px;
    margin-right: -5px;
    position: relative;
}
.activities.two-col>.item{width: 50%}
.activities.normal>.item{width: 120px}
.activities>.item h4{
    font-size: 14px;
    min-height: 30px;
}
.activities>.item{
    padding:0 5px 10px 5px;
    float: left;width: 100%;
    position: relative;
}
.activities .item>div:hover{
    border-color:#e60890;
}
.activities .item>div{
    padding: 5px;
    background: #fff;
    border: 1px solid #e4e5e7;
    border-top: 2px solid #e60890;
    min-height: 80px;
    position: relative;
}
.module-card .icon-item .card-body>div{
    min-width: 40px;
}
.module-card .icon-item .card-body>div>div,
.activities .item>div>div{
    text-align: right;
    height: 20px;
    line-height: 30px;
}
.module-card .icon-item .card-body img,
.activities .item>div img{
    position: absolute;
        bottom: 8px;
    left: 8px;
    width: 24px;
}
.ibox-sm.ibox .ibox-body{
    padding:10px;
}
.ibox-sm.ibox .ibox-head{
    padding-right: 10px;
    padding-left: 10px;
    min-height: 40px;
}
.custom-upload-single{}
.jqx-file-upload.custom-upload-none .jqx-file-upload-file-row .jqx-file-upload-file-name{
     border:0;
     position: absolute;
    left: 5px;
    top: 5px;
    z-index: 1;
    height: auto;
    background: rgba(0,0,0,.5);
    color: #fff;
}
.jqx-file-upload.custom-upload-none .jqx-file-upload-file-row .jqx-file-upload-file-cancel{
     position: absolute;z-index: 111;
     top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
     margin: 0;
}
.jqx-file-upload.custom-upload-none .jqx-file-upload-file-row{
    display: none;
}
.jqx-file-upload.custom-upload-none .jqx-file-upload-file-row>img{
     max-width: 100%;
     display: block;
     margin: auto;
}
.jqx-file-upload.custom-upload-none .jqx-file-upload-file-upload,
.jqx-file-upload.custom-upload-none .jqx-file-upload-buttons-container{
     display: none !important;
}
.jqx-file-upload.custom-upload-thumb{
    height: 40px !important;
    width: 110px !important;
    display: inline-block;
    overflow: hidden !important
}
.jqx-file-upload.custom-upload-thumb.single-image .jqx-file-upload-button-browse{
    border:0 !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 110px !important;
    height: 110px !important;
    color: transparent;
    background: transparent;
    opacity: .2;
}
.jqx-file-upload.custom-upload-thumb.single-image{
    height: 110px !important;
    padding: 0 !important;
    color: transparent;
    background: transparent;
}
.jqx-file-upload.custom-upload-thumb .jqx-file-upload-file-row .jqx-file-upload-file-name{
     border:0;
     position: absolute;
    left: 5px;
    top: 5px;
    z-index: 1;
    height: auto;
    background: rgba(0,0,0,.5);
    color: #fff;
}
.jqx-file-upload.custom-upload-thumb .jqx-file-upload-file-row .jqx-file-upload-file-cancel{
     position: absolute;z-index: 111;
     top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
     margin: 0;
}
.jqx-file-upload.custom-upload-thumb .jqx-file-upload-file-row{
    display: none;
}
.jqx-file-upload.custom-upload-thumb .jqx-file-upload-file-row>img{
     max-width: 100%;
     display: block;
     margin: auto;
}
.jqx-file-upload.custom-upload-thumb .jqx-file-upload-button-browse{
    width: 100% !important;
}
.jqx-file-upload.custom-upload-thumb .jqx-file-upload-file-upload,
.jqx-file-upload.custom-upload-thumb .jqx-file-upload-buttons-container{
     display: none !important;
}
.big-thumb.active{
    outline: 2px solid #e60890;
}
agm-map {
  height: 300px;
}

.dropdown-module>.btn-outline-secondary.dropdown-toggle:focus,
.dropdown-module>.btn-outline-secondary.dropdown-toggle:active,
.dropdown-module>.btn-outline-secondary.dropdown-toggle:hover,
.dropdown-module.show>.btn-outline-secondary.dropdown-toggle{
    border-color: #86bfa0;
    color: #000;
    background: #d3f0e0;;
}
.dropdown-foot{
    padding: 10px;
    border: 1px solid #ccc;
    border-top: 0;
}
.widget-dropdown>span{
    display: block;
}
.widget-dropdown{
    padding-right: 24px;
    text-align: left;
}
.widget-dropdown:after{
    position: absolute;
    width: 24px;height: 24px;margin-top: -12px;
    right: 0;top: 50%;line-height: 23px;
    text-align: center;
}
.dropdown-module .dropdown-menu{
    min-width: 360px;
    width: 100%
}