
<div class="dropdown dropdown-module" *ngIf="!hidden && !layout">
    <button class="btn btn-block btn-sm btn-outline-secondary dropdown-toggle dropdown-arrow widget-dropdown" data-toggle="dropdown"
        (click)="initDropdown($event)"
        >{{label}}</button>
    <div class="dropdown-menu">
        <jqxGrid 
            *ngIf="dropDownGridSetting"
            #dropDownGrid 
            [width]="'100%'" 
            [filterable]="true"
            [showfilterrow]="true"
            
            [sortable]="true"
            [source]="dropDownGridSetting?.source" 
            [columns]="dropDownGridSetting?.columns" 
            [theme]="theme"
            [ready]="dropDownGridSetting?.ready"
            [pageable]="true" 
            [pagesize]="50"
            [pagesizeoptions]="[50, 100, 200, 500]"
            [columnsresize]="false" 
            [autoheight]="false"
            [height]="280"
            style="'border:0'"
            (onRowclick)="dropDownGridSetting?.onRowSelect($event)"

            onClick="event.stopPropagation();"
            >
        </jqxGrid>
        <div class="dropdown-foot text-right">
            <a (click)="switchToAdvance()"><i class="fa fa-cogs"></i> Advance</a>
        </div>
    </div>
</div>
<jqxWindow 
    *ngIf="layout!='grid'"
    class="widget-window"
    #window 
    [isModal]="true"
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="750" 
    [minHeight]='450'
    [keyboardCloseKey]='""'
    [keyboardNavigation]="false"
    [showCollapseButton]="false"
    [showCloseButton]="true"

    (onClose)="eventWindowClose()"
    (onOpen)="eventWindowOpen()"
    >
    <div #windowHeader>
        <b>
            Formulas
        </b>
    </div>
    <div style="overflow: hidden;">
        <ul class="ribon-menu">
            <li><a (click)="clickAdd()"><i class="fa fa-plus"></i><span>Add</span></a></li>
            <li><a (click)="clickEdit()"><i class="fa fa-pencil"></i><span>Edit</span></a></li>
            <li><a (click)="clickDelete()"><i class="fa fa-times"></i><span>Delete</span></a></li>
            <!-- <li class="disabled"><a><i class="fa fa-fa-empty-set"></i><span>Clear Selection</span></a></li> -->
            <li class="driver"></li>
            <li><a  (click)="reloadGrid()"><i class="ti-reload"></i><span>Refresh</span></a></li>
            

        </ul>
        <jqxGrid 
            *ngIf="gridSetting"
            #grid
            [width]='730'
            [height]='280'
            [filterable]="true"
            [showfilterrow]="true"
            
            [sortable]="true"
            [ready]="gridSetting?.ready"


            [pagesize]="1000"

            [theme]="theme"
            [source]="gridSetting?.source" 
            [columns]="gridSetting?.columns" 

            [showtoolbar]="false"

            
            [editable]="true"
            [editmode]='"selectedrow"'
            [selectionmode]='"singlerow"'
            (onCellbeginedit)="gridSetting?.onCellBeginEdit($event)" 
            (onCellendedit)="gridSetting?.onCellEndEdit($event)" 

            ></jqxGrid>
            <!-- 
            (onRowdoubleclick)="gridSetting?.onRowdoubleclick($event)" 
            -->
            <div class="mt-1x text-right">
                <button class="btn btn-sm btn-danger" (click)="close()"><span class="fa fa-remove"></span> Close</button>
                <button class="btn btn-sm btn-primary" (click)="done()"><span class="fa fa-check"></span> Done</button>
            </div>
    </div>
</jqxWindow>
<div *ngIf="layout=='grid'">
    <ul class="ribon-menu">
            <li><a (click)="clickAdd()"><i class="fa fa-plus"></i><span>Add</span></a></li>
            <li><a (click)="clickEdit()"><i class="fa fa-pencil"></i><span>Edit</span></a></li>
            <li><a (click)="clickDelete()"><i class="fa fa-times"></i><span>Delete</span></a></li>
            <!-- <li class="disabled"><a><i class="fa fa-fa-empty-set"></i><span>Clear Selection</span></a></li> -->
            <li class="driver"></li>
            <li><a  (click)="reloadGrid()"><i class="ti-reload"></i><span>Refresh</span></a></li>
            

        </ul>
    <jqxGrid 
            *ngIf="gridSetting"
            #grid
            [width]='630'
            [height]='380'
            [filterable]="true"
            [showfilterrow]="true"
            
            [sortable]="true"
            [ready]="gridSetting?.ready"


            [pagesize]="1000"

            [theme]="theme"
            [source]="gridSetting?.source" 
            [columns]="gridSetting?.columns" 

            [showtoolbar]="false"
            [editable]="true"
            [editmode]='"selectedrow"'
            [selectionmode]='"singlerow"'
            (onCellbeginedit)="gridSetting?.onCellBeginEdit($event)" 
            (onCellendedit)="gridSetting?.onCellEndEdit($event)" 

            ></jqxGrid>
            <!-- 
            (onRowdoubleclick)="gridSetting?.onRowdoubleclick($event)" 
            -->
</div>
<jqxWindow 
    class="widget-window"
    #detailWindow 
    [isModal]="true"
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="420" 
    [height]='"auto"'
    [keyboardCloseKey]='""'
    [keyboardNavigation]="false"
    [showCollapseButton]="false"
    [showCloseButton]="true"
    (onOpen)="initDetailWindow()"
    >
    <div #windowHeader>
        <b>
            Formulas
        </b>
    </div>
    <div style="overflow: hidden;">
        <div class="p-2x">
            <jqxValidator 
                #validator  
                [rules]="rules" 
                [focus]="false"
                (onValidationSuccess)="onValidationSuccess()"
                (onValidationError)="onValidationError()"
                >
                <form>
                    <input type="hidden" name="id" [ngModel]="editingItem?.id" >
                    <div class="form-group ">
                        <label class="text-muted">Title</label>
                        <div class="">
                            <input 
                                class="form-control form-control-sm txt_title"
                                type="text"
                                name="title" 
                                [ngModel]="editingItem?.title"
                                (ngModelChange)="editingItem.title = $event"
                                >
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="text-muted">Formulas</label>
                        <div class="txt_formulas" style="height: 90px">
                            <jqxTextArea
                                #formulasTxt
                                *ngIf="formulasSetting"
                                class="form-control form-control-sm txt_formulas"
                                name="formulas" 
                                [ngModel]="editingItem?.formulas"
                                (ngModelChange)="editingItem.formulas = $event"
                                [height]="90"
                                [popupZIndex]="99999"
                                [width]="'100%'"
                                [theme]="theme"
                                [source]="formulasSetting?.source"
                                [renderer]="formulasSetting?.renderer"
                                ></jqxTextArea>
                        </div>
                    </div>
                    
                </form>
            </jqxValidator>
            <div class="pt-2x text-right">
                <button class="btn btn-sm btn-danger" (click)="closeDetail()"><span class="fa fa-remove"></span> Close</button>
                    <button class="btn btn-sm btn-primary ml-2x" (click)="checkValidate()">
                        <span class="fa fa-save"></span> {{editingItem?.id?'Update':'Create'}}
                    </button>
            </div>
        </div>
    </div>
</jqxWindow>