<div class="page-content" [ngClass]="{'hidden':item_detail}">
    <div class="ibox">
        <div class="ibox-body">
            <div class="flexbox mb-5">
                <h5 class="font-strong">{{title}}</h5>
                <div class="flexbox">
                    <div class="input-group-icon input-group-icon-left mr-3">
                        <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
                        <input class="form-control form-control-rounded form-control-solid" id="key-search" type="text" placeholder="Search ...">
                    </div>
                    <!-- <a class="btn btn-rounded btn-primary btn-air" href="ecommerce_add_product.html">Add Product</a> -->
                </div>
            </div>
            <div class="table-responsive row">
                <table class="table table-bordered table-hover" id="repay-table">
                    <thead class="thead-default thead-lg">
                        <tr>
                            <th>ID</th>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Balance</th>
                            <th class="no-sort"></th>
                        </tr>
                    </thead>
                    
                </table>
            </div>
        </div>
    </div>
</div>
<div class="page-header" *ngIf="item_detail">
    <div class="ibox flex-1">
        <div class="ibox-body">
            <div class="d-flex align-items-center">
                <span class="mr-4 static-badge badge-pink"><i class="ti-shopping-cart-full"></i></span>
                <div>
                    <h5 class="font-strong">No. #{{item_detail.No}}</h5>
                    <div class="text-light">{{item_detail.document}}</div>
                </div>
            </div>
        </div>
        
        <div class="ibox-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <fieldset class="fs-box">
                                <legend>Partner Information</legend>
                                <div class="-ibox">
                                    <div class="-ibox-body">
                                        <div class="row mb-2">
                                            <div class="col-4 text-muted">Name:</div>
                                            <div class="col-8">{{item_detail.name}}</div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-4 text-muted">Phone:</div>
                                            <div class="col-8">{{item_detail.phone}}</div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-4 text-muted">Email:</div>
                                            <div class="col-8">{{item_detail.email}}</div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-4 text-muted">Balance:</div>
                                            <div class="col-8">{{item_detail.balance}}</div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <fieldset class="fs-box">
                                <legend>Order Information</legend>
                                <div class="-ibox">
                                    <div class="-ibox-body">
                                        
                                        <div class="row mb-2">
                                            <div class="col-4 text-muted">&nbsp;</div>
                                            <div class="col-8">&nbsp;</div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-4 text-muted">&nbsp;</div>
                                            <div class="col-8">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            
                        </div>
                        <div class="col-lg-12">
                            <fieldset class="fs-box">
                                <legend>Receipt List</legend>
                                <div class="-ibox">
                                    <div class="-ibox-body">
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Remain Date</th>
                                                    <th>Document No</th>
                                                    <th>Date</th>
                                                    <th>Due date</th>
                                                    <th>Discount</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tr *ngFor="let item of item_detail.items || [];index as i">
                                                <td>{{i + 1}}</td>
                                                <td>{{item.remain_date}}</td>
                                                <td>{{item.document_no}}</td>
                                                <td>{{item.date}}</td>
                                                <td>{{item.due_date}}</td>
                                                <td>{{item.discount}}</td>
                                                <td>{{item.total_with_tax}}</td>
                                            </tr>
                                            
                                        </table>
                                        
                                    </div>
                                </div>
                            </fieldset>
                            
                        </div>
                    </div>
        </div>
        <div class="ibox-footer">
                <button class="btn btn-info mr-2" type="button">Submit</button>
                <button class="btn btn-secondary" type="button" (click)="backToList()">Cancel</button>
            </div>
    </div>
</div>