<div class="page-heading">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item" routerLink="/finance">{{'Finance' | translate}}</li>
        <li class="breadcrumb-item">{{'List of accounts' | translate}}</li>
    </ol>
</div>

<div class="page-header" >
    <div class="ibox flex-1">
        <ul class="nav nav-tabs tabs-line m-0 pl-3 pr-3">
            <li class="nav-item">
                <a class="nav-link active">{{'List of accounts' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/finance/tax-reports">{{'Tax Reports' | translate}}</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" routerLink="/finance/with-holding-tax">{{'With Holding Tax Report' | translate}}</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" routerLink="/finance/journal-entry" >{{'General G/L Journal' | translate}}</a>
            </li>
        </ul>
    <!-- </div> -->
<!-- </div> -->
<!-- <div class="page-header" [ngClass]="{'hidden':item_detail}"> -->
    <!-- <div class="ibox"> -->
        <!-- <div class="ibox-head">
            <div class="ibox-title">CUSTOMERS LIST</div>
            <div class="ibox-tools">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="ti-more-alt"></i></a>
                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(24px, 23px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item"><i class="la la-upload"></i>Export</a>
                    <a class="dropdown-item"><i class="la la-file-excel-o"></i>Download</a>
                    <a class="dropdown-item"><i class="la la-print"></i>Print</a>
                </div>
            </div>
        </div> -->
        <div class="ibox-body">
            <!-- <div class="row mb-2">
                <button class="btn btn-success btn-fix" (click)="showCreateAccount()" data-target="#add-account-dialog" data-toggle="modal"><i class="la la-plus"></i> Add account</button>
            </div> -->
            <module-account [layout]="'grid'"></module-account>
        </div>
    </div>
</div>