<div class="page-heading">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/"><i class="la la-home font-20"></i></a>
        </li>
        <li 
            *ngFor="let item of router_params.breadcrumbs || [];index as i"
            class="breadcrumb-item" 
            routerLink="{{item.link}}"
            >
            {{item.text | translate}}
        </li>
    </ol>
</div>
<div class="page-header" [ngClass]="{'hidden': editable || !itemDetail?.id}">
    <div class="ibox flex-1">
        <div class="ibox-body" style="padding: 10px;">
            <div class="row" >
                <div class="col-sm-6">
                    <div class="flexbox">
                        <div class="flexbox-b">
                            <div class=" mr-5">
                                <div class="cover big-thumb" [ngStyle]="{'background-image': 'url(' + (itemDetail?.images[0]) + ')'}" style="width: 110px;height: 110px"></div>
                            </div>
                            <div>
                                <h4>{{itemDetail?.name}}</h4>
                                <div class="text-muted font-13 mb-3">
                                    <div class="text-muted">{{itemDetail?.No}}</div>
                                    <div class="text-muted"><span class="fa fa-phone "></span> {{itemDetail?.phone}}</div>
                                    <div class="text-muted"><span class="fa fa-envelope "></span> {{itemDetail?.email}}</div>
                                    <div class="text-muted"><span class="fa fa-globe "></span> {{itemDetail?.website}}</div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-info btn-sm mb-2" (click)="setEditable(true)"><span class="fa fa-pencil "></span> {{'Edit' | translate}}</button>
                        <button class="btn btn-danger btn-sm mb-2" (click)="goback()"><span class="fa fa-ban "></span> {{'Back' | translate}}</button>
                    </div>
                    <!-- <div class="d-inline-flex">
                        <div class="px-2 text-center">
                            <div class="text-muted font-13">ACCOUNT BALANCE</div>
                            <div class="h2 mt-2">...</div>
                        </div>
                        <div class="px-2 text-center">
                            <div class="text-muted font-13">ORDER BALANCE</div>
                            <div class="h2 mt-2">...</div>
                        </div>
                        <div class="px-2 text-center">
                            <div class="text-muted font-13">DELIVERY BALANCE</div>
                            <div class="h2 mt-2">...</div>
                        </div>
                    </div> -->
                </div>
                <div class="col-sm-6">
                        <div class="activities normal" *ngIf="itemDetail?.type==1">
                            <div class="item" routerLink="/sales/customers/{{itemDetail?.id}}/quotes">
                                <div >
                                    <h4 class="font-strong text-info">{{'Sales Quotes' | translate}}</h4>
                                    <div class="text-muted">{{partner_counts?.sales?.quotes || 0}}</div>
                                    <img src="/assets/img/icons/icon-quote.png">
                                </div>
                            </div>

                            <div class="item" routerLink="/sales/customers/{{itemDetail?.id}}/orders">
                                <div >
                                    <h4 class="font-strong text-success">{{'Sales Orders' | translate}}</h4>
                                    <div class="text-muted">{{partner_counts?.sales?.orders || 0}}</div>
                                    <img src="/assets/img/icons/icon-order.png">
                                </div>
                            </div>
                            <div class="item" routerLink="/sales/customers/{{itemDetail?.id}}/invoices">
                                <div >
                                    <h4 class="font-strong text-warning">{{'Sales Invoices' | translate}}</h4>
                                    <div class="text-muted">{{partner_counts?.sales?.invoices || 0}}</div>
                                    <img src="/assets/img/icons/icon-invoice.png">
                                </div>
                            </div>
                            <div class="item" routerLink="/sales/customers/{{itemDetail?.id}}/credit-notes">
                                <div >
                                    <h4 class="font-strong text-danger">{{'Sales Credit Notes' | translate}}</h4>
                                    <div class="text-muted">{{partner_counts?.sales?.credit_notes || 0}}</div>
                                    <img src="/assets/img/icons/icon-sales-credit.png">
                                </div>
                            </div>
                        </div>
                        <div class="activities normal" *ngIf="itemDetail?.type==2">

                            <div class="item" routerLink="/purchases/suppliers/{{itemDetail?.id}}/orders">
                                <div >
                                    <h4 class="font-strong text-info">{{'Purchase Orders' | translate}}</h4>
                                    <div class="text-muted">{{partner_counts?.purchases?.orders || 0}}</div>
                                    <img src="/assets/img/icons/icon-order.png">
                                </div>
                            </div>
                            <div class="item" routerLink="/purchases/suppliers/{{itemDetail?.id}}/invoices">
                                <div >
                                    <h4 class="font-strong text-warning">{{'Purchase Invoices' | translate}}</h4>
                                    <div class="text-muted">{{partner_counts?.purchases?.invoices || 0}}</div>
                                    <img src="/assets/img/icons/icon-invoice.png">
                                </div>
                            </div>
                            <div class="item" routerLink="/purchases/suppliers/{{itemDetail?.id}}/credit-notes">
                                <div >
                                    <h4 class="font-strong text-danger">{{'Purchase Credit Notes' | translate}}</h4>
                                    <div class="text-muted">{{partner_counts?.purchases?.credit_notes || 0}}</div>
                                    <img src="/assets/img/icons/icon-purchase-credit.png">
                                </div>
                            </div>
                        </div>
            
                </div>
            </div>

            
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4" >
            <div  *ngIf="itemDetail && itemDetail.gps_lat"  class="mb-4">
                <agm-map
                    [latitude]="(itemDetail?.gps_lat)*1" 
                    [longitude]="(itemDetail?.gps_long)*1">
                  <agm-marker [latitude]="itemDetail?.gps_lat*1" [longitude]="itemDetail?.gps_long*1"></agm-marker>
                </agm-map>
            </div>
            <div class="ibox flex-1 ibox-sm" >
                <div class="ibox-head">
                    <div class="ibox-title">{{'Bank Account' | translate}}</div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="ti-angle-down"></i></a>
                    </div>
                </div>
                <div class="ibox-body">
                    <div class="-ibox">
                        <div class="-ibox-body">
                            <div class="row mb-2">
                                <div class="col-5 text-muted">{{'Description' | translate}}</div>
                                <div class="col-7">{{itemDetail?.bank_name}}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 text-muted">{{'Branch' | translate}}</div>
                                <div class="col-7">{{itemDetail?.bank_branch}}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 text-muted">{{'Account No.' | translate}}</div>
                                <div class="col-7">{{itemDetail?.bank_account}}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 text-muted">{{'Switf Code' | translate}}</div>
                                <div class="col-7">{{itemDetail?.bank_swift}}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 text-muted">{{'Iban' | translate}}</div>
                                <div class="col-7">{{itemDetail?.bank_iban}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox flex-1 ibox-sm" >
                <div class="ibox-head">
                    <div class="ibox-title">{{'Payments' | translate}}</div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="ti-angle-down"></i></a>
                    </div>
                </div>
                <div class="ibox-body">
                    <div class="-ibox">
                        <div class="-ibox-body">
                            <div class="row mb-2">
                                <div class="col-5 text-muted">{{'Tax Number' | translate}}</div>
                                <div class="col-7">{{itemDetail?.gst_number}}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 text-muted">{{'Payment term' | translate}}</div>
                                <div class="col-7">{{itemDetail?.payment_term}}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 text-muted">{{'Default tax group' | translate}}</div>
                                <div class="col-7">{{itemDetail?.tax_group?.name}}</div>
                            </div>
                        </div>
                    </div>

                    

                   

                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-sm-6">
                    <div class="ibox flex-1 ibox-sm" >
                        <div class="ibox-head">
                            <div class="ibox-title">{{'Contact' | translate}}</div>
                            <div class="ibox-tools">
                                <a class="ibox-collapse"><i class="ti-angle-down"></i></a>
                            </div>
                        </div>
                        <div class="ibox-body">
                            <div *ngFor="let item of itemDetail?.contacts || []">
                                <table class="table table-condensed small-table">
                                    <tr>
                                        <td class="text-muted">{{'Name' | translate}}</td>
                                        <td>{{item?.name}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">{{'Position' | translate}}</td>
                                        <td>{{item?.position}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">{{'Email' | translate}}</td>
                                        <td>{{item?.email}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">{{'Phone' | translate}}</td>
                                        <td>{{item?.phone}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">{{'Mobile' | translate}}</td>
                                        <td>{{item?.mobile}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">{{'Default Contact' | translate}}</td>
                                        <td>
                                            <i *ngIf="item?.default_contact" class="ti-check text-success"></i>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <p class="p-4" *ngIf="itemDetail?.contacts.length==0">{{'No data to display' | translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="ibox flex-1 ibox-sm" >
                        <div class="ibox-head">
                            <div class="ibox-title">{{'Address' | translate}}</div>
                            <div class="ibox-tools">
                                <a class="ibox-collapse"><i class="ti-angle-down"></i></a>
                            </div>
                        </div>
                        <div class="ibox-body">
                            <div *ngFor="let item of itemDetail?.addresses || []">
                                <table class="table table-condensed small-table">
                                    <tr>
                                        <td class="text-muted">{{'Name' | translate}}</td>
                                        <td>{{item?.name}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">{{'Street number' | translate}}</td>
                                        <td>{{item?.street_number}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">{{'Street' | translate}}</td>
                                        <td>{{item?.street}}</td>
                                    </tr>
                                    <tr style="display: none;">
                                        <td class="text-muted">{{'County' | translate}}</td>
                                        <td>{{item?.county}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">{{'City' | translate}}</td>
                                        <td>{{item?.city}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">{{'Country' | translate}}</td>
                                        <td>{{item?.country?.description}}</td>
                                    </tr>
                                </table>        
                            </div>
                            <p class="p-4" *ngIf="itemDetail?.addresses.length==0">{{'No data to display' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

        
<div class="page-header" [ngClass]="{'hidden': !editingItem }">
    <div class="ibox flex-1">
        <div class="ibox-body" style="padding: 10px;">
            <jqxValidator #myValidator  [rules]="rules" [hintType]="'label'">
                <form>
                    <div class="row" >
                        <div class="col-sm-12">
                            <h4 class="ml-4">{{editingItem?.No || (router_params.partner_type=='customers'?'Create a new Customer':'Create a new Supplier') | translate}}</h4>
                            
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-muted text-right">{{'Name' | translate}}</label>
                                <div class="col-sm-8">
                                    <input 
                                        class="form-control form-control-sm txt_name"
                                        type="text"
                                        name="name" 
                                        maxlength="100" 
                                        [ngModel]="editingItem?.name"
                                        (ngModelChange)="editingItem.name = $event"
                                        >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-muted text-right">{{'Address' | translate}}</label>
                                <div class="col-sm-8">
                                    <input 
                                        class="form-control form-control-sm txt_address" 
                                        type="text" 
                                        name="crm_address"
                                        [ngModel]="editingItem?.crm_address"
                                        (ngModelChange)="editingItem.crm_address = $event"
                                        >
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-muted text-right">{{'Phone' | translate}}</label>
                                <div class="col-sm-8">
                                    <input 
                                        class="form-control form-control-sm txt_phone" 
                                        type="text" 
                                        name="phone"
                                        [ngModel]="editingItem?.phone"
                                        (ngModelChange)="editingItem.phone = $event"
                                        >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-muted text-right">{{'Logo' | translate}}</label>
                                <div class="col-sm-8">
                                    <div class="contain" [ngStyle]="{'background-image': 'url(' + getAvatar() + ')'}" style="width: 110px;height: 110px;">
                                        <jqxFileUpload 
                                            #fileUpload 
                                            class="custom-upload-thumb single-image"
                                            [accept]="'image/*'"
                                            [theme]="theme"
                                            [width]="'110px'" 
                                            [height]="'110px'"
                                            [uploadUrl]="'/'" 
                                            [fileInputName]="'fileToUpload'"
                                            (onSelect)="onSelectPhoto($event)"
                                            ></jqxFileUpload>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-muted text-right">{{'Email' | translate}}</label>
                                <div class="col-sm-8">
                                    <input 
                                        class="form-control form-control-sm txt_email" 
                                        type="text" 
                                        name="email"
                                        [ngModel]="editingItem?.email"
                                        (ngModelChange)="editingItem.email = $event"
                                        >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-muted text-right">{{'Website' | translate}}</label>
                                <div class="col-sm-8">
                                    <input 
                                        class="form-control form-control-sm txt_website" 
                                        type="text" 
                                        name="website"
                                        [ngModel]="editingItem?.website"
                                        (ngModelChange)="editingItem.website = $event"
                                        >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-muted text-right">{{'Notes' | translate}}</label>
                                <div class="col-sm-8">
                                    <textarea 
                                        class="form-control form-control-sm txt_note" 
                                        type="text" 
                                        name="note"
                                        [ngModel]="editingItem?.note"
                                        (ngModelChange)="editingItem.note = $event"
                                        ></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-muted text-right">{{'Gen. Bus. Post. Group' | translate}}</label>
                                <div class="col-sm-8 cbx_gen_product_ptg_code">
                                    <module-ptg-gen-business  
                                        #genBusPtgCbx
                                        [key]="'code'"
                                        *ngIf="genBusPtgSetting"
                                        [ngModel]="editingItem?.gen_business_ptg_code" 
                                        (ngModelChange)="editingItem.gen_business_ptg_code = $event"
                                        [ngModelOptions]="{standalone: true}"
                                        (onOpen)="genBusPtgSetting.onOpen()"
                                        (onClose)="genBusPtgSetting.onClose()"
                                        (onChange)="genBusPtgSetting.onChange($event)"
                                    ></module-ptg-gen-business>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-muted text-right">{{'TAX Bus. Post. Group' | translate}}</label>
                                <div class="col-sm-8 cbx_vat_product_ptg_code">
                                    <module-ptg-vat-business  
                                        #vatBusPtgCbx
                                        [key]="'code'"
                                        *ngIf="vatBusPtgSetting"
                                        [ngModel]="editingItem?.vat_business_ptg_code" 
                                        (ngModelChange)="editingItem.vat_business_ptg_code = $event"
                                        [ngModelOptions]="{standalone: true}"
                                        (onOpen)="vatBusPtgSetting.onOpen()"
                                        (onClose)="vatBusPtgSetting.onClose()"
                                        (onChange)="vatBusPtgSetting.onChange($event)"
                                    ></module-ptg-vat-business>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-muted text-right">{{(editingItem?.type == 1?'Customer Post. Group':'Vendor Post. Group')|translate}} </label>
                                <div class="col-sm-8 cbx_partner_ptg_code">
                                    <module-ptg-customer
                                        [ngClass]="{'hidden': editingItem?.type != 1}"
                                        #custPtgCbx
                                        [key]="'code'"
                                        *ngIf="custPtgSetting"
                                        [ngModel]="editingItem?.partner_ptg_code" 
                                        (ngModelChange)="editingItem.partner_ptg_code = $event"
                                        [ngModelOptions]="{standalone: true}"
                                        (onOpen)="custPtgSetting.onOpen()"
                                        (onClose)="custPtgSetting.onClose()"
                                        (onChange)="custPtgSetting.onChange($event)"
                                    ></module-ptg-customer>
                                    <module-ptg-vender  
                                        [ngClass]="{'hidden': editingItem?.type != 2}"
                                        #vendPtgCbx
                                        [key]="'code'"
                                        *ngIf="vendPtgSetting"
                                        [ngModel]="editingItem?.partner_ptg_code" 
                                        (ngModelChange)="editingItem.partner_ptg_code = $event"
                                        [ngModelOptions]="{standalone: true}"
                                        (onOpen)="vendPtgSetting.onOpen()"
                                        (onClose)="vendPtgSetting.onClose()"
                                        (onChange)="vendPtgSetting.onChange($event)"
                                    ></module-ptg-vender>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </jqxValidator>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="ibox flex-1 ibox-sm" >
                <div class="ibox-head">
                    <div class="ibox-title">{{'Bank Account' | translate}}</div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="ti-angle-down"></i></a>
                    </div>
                </div>
                <div class="ibox-body">
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label text-muted text-right">{{'Account No.' | translate}}</label>
                        <div class="col-sm-7">
                            <input 
                                class="form-control form-control-sm" 
                                type="text" 
                                name="bank_account"
                                [ngModel]="editingItem?.bank_account"
                                (ngModelChange)="editingItem.bank_account = $event"
                                >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label text-muted text-right">{{'Bank Name' | translate}}</label>
                        <div class="col-sm-7">
                            <input 
                                class="form-control form-control-sm" 
                                type="text" 
                                name="bank_name"
                                [ngModel]="editingItem?.bank_name"
                                (ngModelChange)="editingItem.bank_name = $event"
                                />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label text-muted text-right">{{'Branch' | translate}}</label>
                        <div class="col-sm-7">
                            <input 
                                class="form-control form-control-sm" 
                                type="text" 
                                name="bank_branch"
                                [ngModel]="editingItem?.bank_branch"
                                (ngModelChange)="editingItem.bank_branch = $event"
                                >
                        </div>
                    </div>
                    

                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label text-muted text-right">{{'Switf Code' | translate}}</label>
                        <div class="col-sm-7">
                            <input 
                                class="form-control form-control-sm" 
                                type="text" 
                                name="bank_swift"
                                [ngModel]="editingItem?.bank_swift"
                                (ngModelChange)="editingItem.bank_swift = $event"
                                >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label text-muted text-right">{{'Iban' | translate}}</label>
                        <div class="col-sm-7">
                            <input 
                                class="form-control form-control-sm" 
                                type="text" 
                                name="bank_iban"
                                [ngModel]="editingItem?.bank_iban"
                                (ngModelChange)="editingItem.bank_iban = $event"
                                >
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox flex-1 ibox-sm" >
                <div class="ibox-head">
                    <div class="ibox-title">{{'Payments' | translate}}</div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="ti-angle-down"></i></a>
                    </div>
                </div>
                <div class="ibox-body">
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label text-muted text-right">{{'Tax Number' | translate}}</label>
                        <div class="col-sm-7">
                            <input 
                                class="form-control form-control-sm" 
                                type="text" 
                                name="gst_number"
                                [ngModel]="editingItem?.gst_number"
                                (ngModelChange)="editingItem.gst_number = $event"
                                />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label text-muted text-right">{{'Payment term (in days)' | translate}}</label>
                        <div class="col-sm-7">
                            <input 
                                class="form-control form-control-sm" 
                                type="text" 
                                name="payment_term"
                                [ngModel]="editingItem?.payment_term"
                                (ngModelChange)="editingItem.payment_term = $event"
                                >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label text-muted text-right">{{'Default tax group' | translate}}</label>
                        <div class="col-sm-7">
                            <div role="jqx-combobox" *ngIf="!taxSetting"></div>
                            <jqxDropDownList *ngIf="taxSetting"
                                #taxCbx
                                [theme]="theme"
                                [width]="'100%'" 
                                [height]="30" 
                                [source]="taxSetting?.source" 
                                [selectedIndex]="taxSetting?.selectedIndex()"
                                [ngModel]="editingItem?.default_tax_group"
                                [displayMember]="taxSetting?.displayMember" 
                                [valueMember]="taxSetting?.valueMember"
                                [ngModelOptions]="{standalone: true}"
                                (onChange)="taxSetting?.onChange($event)"
                                >
                            </jqxDropDownList>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-sm-6">
                    <div class="ibox flex-1 ibox-sm" >
                        <div class="ibox-head">
                            <div class="ibox-title">{{'Contact' | translate}}</div>
                            <div class="ibox-tools">
                                <a class="ibox-collapse"><i class="ti-angle-down"></i></a>
                            </div>
                        </div>
                        
                        <div class="ibox-body" *ngFor="let item of editingItem?.contacts || []; let i = index">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label text-muted text-right">{{'Name' | translate}}</label>
                                    <div class="col-sm-7">
                                        <input 
                                            class="form-control form-control-sm" 
                                            type="text" 
                                            required
                                            name="name"
                                            [ngModel]="item?.name"
                                            (ngModelChange)="item.name = $event"
                                            >
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label text-muted text-right">{{'Position' | translate}}</label>
                                    <div class="col-sm-7">
                                        <input 
                                            class="form-control form-control-sm" 
                                            type="text" 
                                            name="cposition"
                                            [ngModel]="item?.position"
                                            (ngModelChange)="item.position = $event"
                                            >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label text-muted text-right">{{'Email' | translate}}</label>
                                    <div class="col-sm-7">
                                        <input 
                                            class="form-control form-control-sm" 
                                            type="text" 
                                            name="email"
                                            [ngModel]="item?.email"
                                            (ngModelChange)="item.email = $event"
                                            >
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label text-muted text-right">{{'Phone' | translate}}</label>
                                    <div class="col-sm-7">
                                        <input 
                                            class="form-control form-control-sm" 
                                            type="text" 
                                            name="phone"
                                            [ngModel]="item?.phone"
                                            (ngModelChange)="item.phone = $event"
                                            >
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label text-muted text-right">{{'Mobile' | translate}}</label>
                                    <div class="col-sm-7">
                                        <input 
                                            class="form-control form-control-sm" 
                                            type="text" 
                                            name="mobile"
                                            [ngModel]="item?.mobile"
                                            (ngModelChange)="item.mobile = $event"
                                            >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label text-muted text-right">{{'Default' | translate}}</label>
                                    <div class="col-sm-7">
                                        <label class="ui-switch switch-icon">
                                            <input type="checkbox" 
                                                name="default_contact"
                                                [ngModel]="item?.default_contact"
                                                (ngModelChange)="item.default_contact = $event"
                                                >
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-outline-danger " (click)="deleteContact(i)">
                                        <i class="fa fa-times"></i> {{'Delete' | translate}}
                                    </button>
                                </div>
                        </div>
                        <div class="ibox-body">
                            <button class="btn btn-sm btn-outline-primary " (click)="addContact()">
                                <i class="fa fa-plus"></i> {{'Add' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="ibox flex-1 ibox-sm" >
                        <div class="ibox-head">
                            <div class="ibox-title">{{'Address' | translate}}</div>
                            <div class="ibox-tools">
                                <a class="ibox-collapse"><i class="ti-angle-down"></i></a>
                            </div>
                        </div>
                        
                        <div class="ibox-body address-frm" *ngFor="let item of editingItem?.addresses || []; let i = index">
                            <!-- <jqxValidator  [rules]="getRules(i)" [hintType]="'label'"> -->
                                <form>
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label text-muted text-right">{{'Name' | translate}}</label>
                                    <div class="col-sm-7">
                                        <input 
                                            class="form-control form-control-sm " 
                                            type="text" 
                                            required
                                            name="name"
                                            [ngModel]="item?.name"
                                            (ngModelChange)="item.name = $event"
                                            >
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label text-muted text-right">{{'Street number' | translate}}</label>
                                    <div class="col-sm-7">
                                        <input 
                                            class="form-control form-control-sm addrstreetnumber" 
                                            type="text" 
                                            name="street_number"
                                            [ngModel]="item?.street_number"
                                            (ngModelChange)="item.street_number = $event"
                                            >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label text-muted text-right">{{'Street' | translate}}</label>
                                    <div class="col-sm-7">
                                        <input 
                                            class="form-control form-control-sm addrstreet" 
                                            type="text" 
                                            name="street"
                                            [ngModel]="item?.street"
                                            (ngModelChange)="item.street = $event"
                                            >
                                    </div>
                                </div>
                                
                                <div class="form-group row" style="display: none;">
                                    <label class="col-sm-5 col-form-label text-muted text-right">{{'County' | translate}}</label>
                                    <div class="col-sm-7">
                                        <input 
                                            class="form-control form-control-sm addrcounty" 
                                            type="text" 
                                            name="county"
                                            [ngModel]="item?.county"
                                            (ngModelChange)="item.county = $event"
                                            >
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label text-muted text-right">{{'City' | translate}}</label>
                                    <div class="col-sm-7">
                                        <input 
                                            class="form-control form-control-sm addrcity" 
                                            type="text" 
                                            name="city"
                                            [ngModel]="item?.city"
                                            (ngModelChange)="item.city = $event"
                                            >
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label text-muted text-right">{{'Country' | translate}}</label>
                                    <div class="col-sm-7">
                                        <jqxComboBox *ngIf="countrySetting"
                                            [theme]="theme"
                                            [width]="'100%'" 
                                            [height]="30" 
                                            [source]="countrySetting?.source" 
                                            [displayMember]="countrySetting?.displayMember" 
                                            [valueMember]="countrySetting?.valueMember"
                                            [selectedIndex]="countrySetting?.selectedIndex(i)"
                                            [(ngModel)]="item.country_id" 
                                            (onChange)="countrySetting?.onChange($event,i)"
                                            [ngModelOptions]="{standalone: true}"
                                            >
                                        </jqxComboBox>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-outline-danger " (click)="deleteAddress(i)">
                                        <i class="fa fa-times"></i> {{'Delete' | translate}}
                                    </button>
                                </div>
                            </form>
                            <!-- </jqxValidator> -->
                        </div>
                        <div class="ibox-body">
                            <button class="btn btn-sm btn-outline-primary " (click)="addAddress()">
                                <i class="fa fa-plus"></i> {{'Add' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-12" [ngClass]="{'hidden': !editable}">
            <button class="btn btn-primary mr-2 ml-2" type="button" (click)="onAddItem()"><span class="fa fa-save"></span> {{'Save' | translate}}</button>
            <button class="btn btn-danger" type="button" (click)="onCancel()"><span class="fa fa-remove"></span> {{'Cancel' | translate}}</button>
        </div>
    </div>
    
</div>
<!-- </form> -->
<!-- </jqxValidator> -->