<div class="page-heading">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/"><i class="la la-home font-20"></i></a>
        </li>


        <li 
            *ngFor="let item of router_params.breadcrumbs || [];index as i"
            class="breadcrumb-item" 
            routerLink="{{item.link}}"
            >
            {{item.text | translate}}
        </li>
    </ol>
</div>
<div class="page-header" *ngIf="is360">
    <ul class="tabs">
            <li routerLink="/360/my-activity" [ngClass]="{active:isMy}">
                <a class="nav-link ">{{'My Transactions' | translate}}</a>
            </li>
            <li routerLink="/360/all-activity" [ngClass]="{active:!isMy}">
                <a class="nav-link ">{{'All Transactions' | translate}}</a>
            </li>
        </ul>
    <div class="ibox flex-1 none-shadow ibox-sm">
        <div class="ibox-body">
            <div class="activities normal" >
                <div class="item" routerLink="/360/customers/{{router_params.my?'my':''}}">
                    <div >
                        <h4 class="font-strong text-warning">{{'Customers' | translate}}</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.partner.aggregated.customers.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.partner.my_aggregated.customers.count}}</div>
                        <img src="/assets/img/icons/icon-contact.png">
                    </div>
                </div>
                <div class="item" routerLink="/360/sales/quotes/{{prefixmy}}">
                    <div >
                        <h4 class="font-strong text-info">{{'Sales Quotes'  | translate}}</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.sales.open_aggregated.quotes.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.sales.my_open_aggregated.quotes.count}}</div>
                        <img src="/assets/img/icons/icon-quote.png">
                    </div>
                </div>

                <div class="item" routerLink="/360/sales/orders/{{prefixmy}}">
                    <div >
                        <h4 class="font-strong text-success">{{"Sales Orders" | translate}}</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.sales.open_aggregated.orders.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.sales.my_open_aggregated.orders.count}}</div>
                         <img src="/assets/img/icons/icon-order.png">
                    </div>
                </div>
                <div class="item" routerLink="/360/sales/invoices/{{prefixmy}}">
                    <div >
                        <h4 class="font-strong text-warning">{{"Sales Invoices" | translate}}</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.sales.open_aggregated.invoices.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.sales.my_open_aggregated.invoices.count}}</div>
                        <img src="/assets/img/icons/icon-invoice.png">
                    </div>
                </div>
                <div class="item" routerLink="/360/sales/credit-notes/{{prefixmy}}">
                    <div >
                        <h4 class="font-strong text-danger">{{"Sales Credit Notes" | translate}}</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.sales.open_aggregated.credit_notes.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.sales.my_open_aggregated.credit_notes.count}}</div>
                        <img src="/assets/img/icons/icon-sales-credit.png">
                    </div>
                </div>

                <div class="item" routerLink="/360/suppliers/{{router_params.my?'my':''}}">
                    <div >
                        <h4 class="font-strong text-info">{{'Suppliers' | translate}}</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.partner.aggregated.suppliers.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.partner.my_aggregated.suppliers.count}}</div>
                        <img src="/assets/img/icons/icon-company.png">
                    </div>
                </div>
                <div class="item" routerLink="/360/purchases/orders/{{prefixmy}}">
                    <div >
                        <h4 class="font-strong text-success">{{'Purchase Orders' | translate}}</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.purchases.open_aggregated.orders.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.purchases.my_open_aggregated.orders.count}}</div>
                        <img src="/assets/img/icons/icon-order.png">
                    </div>
                </div>
                <div class="item" routerLink="/360/purchases/invoices/{{prefixmy}}">
                    <div >
                        <h4 class="font-strong text-warning">{{'Purchase Invoices' | translate}}</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.purchases.open_aggregated.invoices.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.purchases.my_open_aggregated.invoices.count}}</div>
                        <img src="/assets/img/icons/icon-invoice.png">
                    </div>
                </div>
                <div class="item" routerLink="/360/purchases/credit-notes/{{prefixmy}}">
                    <div >
                        <h4 class="font-strong text-danger">{{'Purchase Credit Notes'  | translate}}</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.purchases.open_aggregated.credit_notes.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.purchases.my_open_aggregated.credit_notes.count}}</div>
                        <img src="/assets/img/icons/icon-purchase-credit.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-header" >
    <ul class="tabs" *ngIf="!is360">
        <li routerLink="/{{router_params.type}}/favourites/{{router_params.my?'my':''}}{{router_params.partner_type}}" routerLinkActive="active">
            <a class="nav-link "><span class="fa fa-heart"></span> {{'Favourites' | translate}}</a>
        </li>
        <li routerLink="/sales/{{router_params.my?'my':''}}customers" routerLinkActive="active" *ngIf="setting.page == 'customers'">
            <a class="nav-link "><span class="fa fa-building"></span>{{'Customers' | translate}}</a>
        </li>
        <li routerLink="/purchases/{{router_params.my?'my':''}}suppliers" routerLinkActive="active" *ngIf="setting.page == 'suppliers'">
            <a class="nav-link" ><span class="fa fa-truck"></span> {{'Suppliers' | translate}}</a>
        </li>
    </ul>
    <ul class="tabs" *ngIf="is360">
        <li routerLink="/360/{{router_params.partner_type}}/favourites/{{router_params.my?'my':''}}" routerLinkActive="active">
            <a class="nav-link "><span class="fa fa-heart"></span> {{'Favourites' | translate}}</a>
        </li>
        <li routerLink="/360/customers/{{router_params.my?'my':''}}" routerLinkActive="active" *ngIf="router_params.partner_type == 'customers'">
            <a class="nav-link "><span class="fa fa-building"></span> {{'Customers' | translate}}</a>
        </li>
        <li routerLink="/360/suppliers/{{router_params.my?'my':''}}" routerLinkActive="active" *ngIf="router_params.partner_type == 'suppliers'">
            <a class="nav-link "><span class="fa fa-building"></span> {{'Suppliers' | translate}}</a>
        </li>
    </ul>
    
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox flex-1" >
                <div class="ibox-body" style="padding: 10px;">
                    <div class="">
                        <div class="mb-2 pull-right" *ngIf="!isfavourites">
                            <button class="btn btn-info btn-sm" routerLink="/{{router_params.is360?'360':router_params.type}}/{{router_params.partner_type}}/add"><span class="fa fa-plus"></span>  {{(router_params.partner_type=='customers'?'Create a new Customer':'Create a new Supplier') | translate}}</button>
                        </div>
                        <div class="form-group">
                            <label class="checkbox">
                                <input type="checkbox" [(ngModel)]="myActivity" (change)="onFilterChange($event)" name="myActivity">
                                <span class="input-span"></span>{{(router_params.partner_type=='customers'?'Show my Customer':'Show my Supplier') | translate}}
                            </label>
                        </div>
                        
                        <div id="myGrid"></div>
                        <jqxGrid 
                            #gridPartner
                            [rowsheight]="44"
                            [width]='"100%"'
                            [height]='560'
                            [filterable]="true"
                            [showfilterrow]="true"
                            [sortable]="true"
                            [pageable]="true"
                            [pagesize]="100"
                            [pagesizeoptions]="[100, 500, 1000]"
                            [virtualmode]="true"
                            [rendergridrows]="gridSetting?.rendergridrows"
                            [theme]="theme"
                            [source]="gridSetting?.source" 
                            [columns]="gridSetting?.columns" 
                            [editable]="true"
                            (onCellclick)="gridSetting?.onCellClick($event)"
                            (onCellbeginedit)="gridSetting?.onCellBeginEdit($event)" 
                            (onCellendedit)="gridSetting?.onCellEndEdit($event)" 
                            [showcolumnlines]="false"
                            [showcolumnheaderlines]="false"
                            *ngIf="gridSetting"
                            ></jqxGrid>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="ibox flex-1" >
                <div class="ibox-body" style="padding: 10px;">
                    <div class="">
                        <form  id="addEntryFrm" action="javascript:;" class="form-horizontal">
                            <input type="hidden" name="type" [value]="isCreateAction">
                            <div class="" >
                                <div class="row">
                                    <div class="col-lg-8">
                                        <h2 class="text-muted">{{itemDetail?.name}}</h2>
                                        <div class="text-muted">#{{itemDetail?.No}}</div>
                                        <div class="text-muted"><span class=" fa fa-phone "></span> {{itemDetail?.phone}}</div>
                                        <div class="text-muted"><span class=" fa fa-envelope "></span> {{itemDetail?.email}}</div>
                                        <div class="text-muted"><span class=" fa fa-globe "></span> {{itemDetail?.website}}</div>
                                        <div>
                                            <button class="btn btn-info btn-sm mb-2" routerLink="/{{router_params.is360?'360':router_params.type}}/{{router_params.partner_type}}/{{itemDetail?.id}}">{{(router_params.partner_type=='customers'?'Customer Card':'Supplier Card') | translate}}</button>
                                        </div>


                                        
                                        
                                    </div>
                                    <div class="col-lg-4">
                                        <p><b>{{'Transactions' | translate}}</b></p>
                                        <div class="activities two-col" *ngIf="itemDetail?.type==1">
                                            <div class="item" routerLink="/{{router_params.type}}/{{router_params.partner_type}}/{{itemDetail?.id}}/quotes">
                                                <div >
                                                    <h4 class="font-strong text-info">{{'Sales Quotes' | translate}}</h4>
                                                    <div class="text-muted">{{partner_counts?.sales?.quotes || 0}}</div>
                                                    <img src="/assets/img/icons/icon-quote.png">
                                                </div>
                                            </div>

                                            <div class="item" routerLink="/{{router_params.type}}/{{router_params.partner_type}}/{{itemDetail?.id}}/orders">
                                                <div >
                                                    <h4 class="font-strong text-success">{{'Sales Orders' | translate}}</h4>
                                                    <div class="text-muted">{{partner_counts?.sales?.orders || 0}}</div>
                                                    <img src="/assets/img/icons/icon-order.png">
                                                </div>
                                            </div>
                                            <div class="item" routerLink="/{{router_params.type}}/{{router_params.partner_type}}/{{itemDetail?.id}}/invoices">
                                                <div >
                                                    <h4 class="font-strong text-warning">{{'Sales Invoices' | translate}}</h4>
                                                    <div class="text-muted">{{partner_counts?.sales?.invoices || 0}}</div>
                                                    <img src="/assets/img/icons/icon-invoice.png">
                                                </div>
                                            </div>
                                            <div class="item" routerLink="/{{router_params.type}}/{{router_params.partner_type}}/{{itemDetail?.id}}/credit-notes">
                                                <div >
                                                    <h4 class="font-strong text-danger">{{'Sales Credit Notes' | translate}}</h4>
                                                    <div class="text-muted">{{partner_counts?.sales?.credit_notes || 0}}</div>
                                                    <img src="/assets/img/icons/icon-sales-credit.png">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="activities two-col" *ngIf="itemDetail?.type==2">

                                            <div class="item" routerLink="/crm/{{itemDetail?.link}}/{{itemDetail?.id}}/purchases/orders">
                                                <div >
                                                    <h4 class="font-strong text-info">{{'Purchase Orders' | translate}}</h4>
                                                    <div class="text-muted">{{partner_counts?.purchases?.orders || 0}}</div>
                                                    <img src="/assets/img/icons/icon-order.png">
                                                </div>
                                            </div>
                                            <div class="item" routerLink="/crm/{{itemDetail?.link}}/{{itemDetail?.id}}/purchases/invoices">
                                                <div >
                                                    <h4 class="font-strong text-warning">{{'Purchase Invoices' | translate}}</h4>
                                                    <div class="text-muted">{{partner_counts?.purchases?.invoices || 0}}</div>
                                                    <img src="/assets/img/icons/icon-invoice.png">
                                                </div>
                                            </div>
                                            <div class="item" routerLink="/crm/{{itemDetail?.link}}/{{itemDetail?.id}}/purchases/credit-notes">
                                                <div >
                                                    <h4 class="font-strong text-danger">{{'Purchase Credit Notes' | translate}}</h4>
                                                    <div class="text-muted">{{partner_counts?.purchases?.credit_notes || 0}}</div>
                                                    <img src="/assets/img/icons/icon-purchase-credit.png">
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                <agm-map *ngIf="itemDetail && itemDetail.gps_lat" 
                                            [zoom]="15"
                                            [latitude]="(itemDetail?.gps_lat)*1" 
                                            [longitude]="(itemDetail?.gps_long)*1">
                                          <agm-marker [latitude]="itemDetail?.gps_lat*1" [longitude]="itemDetail?.gps_long*1"></agm-marker>
                                        </agm-map>
                                <!-- <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label text-muted text-right">&nbsp;</label>
                                            <div class="col-sm-10">
                                                
                                                <button class="btn btn-primary mr-2" type="button" (click)="onAddItem()" *ngIf="editable">OK</button>
                                                <button class="btn btn-danger" type="button" data-dismiss="modal" (click)="backToList()">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="ibox" *ngIf="recie_pay_data">
                <div class="ibox-body">
                    <h3>{{'Open Invoices and Credit Memo' | translate}}</h3>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{{'Remain Date' | translate}}</th>
                                <th>{{'Document No' | translate}}</th>
                                <th>{{'Date' | translate}}</th>
                                <th>{{'Due date' | translate}}</th>
                                <th>{{'Discount' | translate}}</th>
                                <th>{{'Amount' | translate}}</th>
                            </tr>
                        </thead>
                        <tr *ngFor="let item of recie_pay_data || [];index as i">
                            <td>{{i + 1}}</td>
                            <td>{{item.remain_date}}</td>
                            <td>{{item.document_no}}</td>
                            <td>{{item.date}}</td>
                            <td>{{item.due_date}}</td>
                            <td>{{item.discount}}</td>
                            <td>{{item.total_with_tax}}</td>
                        </tr>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
