<div class="page-heading">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Inventory & Costing</li>
        <li class="breadcrumb-item">Item Journals</li>
    </ol>
</div>
<div class="page-header" >
    <div class="ibox ibox-sm">
        <div class="ibox-body" [ngClass]="{'hidden':isCreateAction}">
            <div class="flexbox mb-3" >
                    <div class="flexbox">
                        <!-- <label class="mb-0 mr-2">Type:</label> -->
                        <!-- <button class="btn btn-sm btn-primary" (click)="showGroupPopup()"><span class="fa fa-bars"></span> Item Group</button> -->
                    </div>
                    <div class="flexbox">
                        
                        <button class="btn btn-sm btn-primary" (click)="clickAddNew()"><span class="fa fa-plus"></span> Add new</button>
                    </div>
                </div>
            <jqxGrid 
                *ngIf="gridSetting"
                #grid
                [width]="'100%'" 
                [filterable]="true"
                [showfilterrow]="true"
                [sortable]="true"
                [source]="gridSetting?.source" 
                [columns]="gridSetting?.columns" 
                [theme]="theme"
                [ready]="gridSetting?.ready"
                [pageable]="true" 
                [pagesize]="10"
                [pagesizeoptions]="[10, 50, 100, 200, 500]"
                [height]="500"
                (onCellclick)="gridSetting?.onCellClick($event)"
                >
            </jqxGrid>
        </div>
        <div class="ibox-body" [ngClass]="{'hidden':!isCreateAction}" [ngClass]="{'no-event':itemDetail?.id}">
            <jqxValidator 
                #validator
                [hintType]="'label'"
                [rules]="rules" 
                [focus]="false"
                (onValidationSuccess)="onValidationSuccess()"
                (onValidationError)="onValidationError()"
                >
                <form>
                    <div class="form-group" style="width: 200px">
                        <label class=" text-right">Date</label>
                        <div class="txt_posting_date">
                            <jqxDateTimeInput 
                                #postingDateTxt
                                [width]="180" [height]="32" 
                                [formatString]="'yyyy-MM-dd'"
                                [theme]="theme"
                                [ngModel]="itemDetail?.posting_date"
                                (ngModelChange)="itemDetail.posting_date = $event"
                                [ngModelOptions]="{standalone: true}"
                                >
                            </jqxDateTimeInput>
                        </div>
                    </div>

                    <div class="form-group" >
                        <label class=" text-right">Memo</label>
                        <div class="">
                            <textarea
                                row="2"
                                class="form-control form-control-sm txt_title"
                                name="title" 
                                [ngModel]="itemDetail?.title"
                                (ngModelChange)="itemDetail.title = $event"
                                ></textarea>
                        </div>
                    </div>
                </form>
            </jqxValidator>
            <div class="mb-1">
                <button class="btn btn-success  btn-sm" (click)="showAddLineForm()" *ngIf="!itemDetail?.id">
                    <i class="fa fa-plus"></i> Add
                </button>
            </div>
            <jqxGrid 
                *ngIf="lineGridSetting"
                #lineGrid
                [width]="'100%'" 
                [source]="lineGridSetting?.source" 
                [columns]="lineGridSetting?.columns" 
                [theme]="theme"
                [ready]="lineGridSetting?.ready"
                [autoheight]="true"
                (onCellclick)="lineGridSetting?.onCellClick($event)"
                [showaggregates]="true"
                [showstatusbar]="true"
                [statusbarheight]="25"
                >
                </jqxGrid>
        </div>
        <div class="ibox-footer" [ngClass]="{'hidden':!isCreateAction}">
            <button class="btn btn-pink mr-2" type="button" (click)="checkValidate()" *ngIf="!itemDetail?.id"><span class="fa fa-save"></span> Save</button>
            <button class="btn btn-danger" type="button" (click)="backToList()"><span class="fa fa-remove"></span> Cancel</button>
        </div>
    </div>
</div>
<jqxWindow 
    class="widget-window"
    #detailWindow 
    [isModal]="true"
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="480" 
    [height]="'auto'"
    [keyboardCloseKey]='""'
    [keyboardNavigation]="false"
    [showCollapseButton]="false"
    [showCloseButton]="true"
    (onOpen)="initDetailWindow()"
    >
    <div #windowHeader>
        <b>
            Adjustment Items
        </b>
    </div>
    <div style="overflow: visible;">
        <div style="padding: 20px">
            <!--[hintType]="'label'"-->
        <jqxValidator 
            #lineValidator  
            [rules]="lineRules" 
            [focus]="false"
            (onValidationSuccess)="onLineValidationSuccess()"
            (onValidationError)="onLineValidationError()"
            >
            <form>
                <div class="form-group row row-sm">
                    <label class="col-sm-3 col-form-label text-right"></label>
                    <div class="col-sm-90">
                        <div class="" >
                            <label class="radio radio-danger radio-inline">
                                <input type="radio" name="type" value="-1" class="rd_type" 
                                    [checked]="lineDetail?.type == -1" 
                                    [ngModel]="lineDetail?.type"
                                    (ngModelChange)="lineDetail.type = $event"
                                    onclick="$(this).blur()"
                                    >
                                <span class="input-span"></span>Negative Adjmt.
                            </label>
                            <label class="radio radio-success radio-inline">
                                <input type="radio" name="type" value="1" class="rd_type" 
                                    [checked]="lineDetail?.type == 1" 
                                    [ngModel]="lineDetail?.type"
                                    (ngModelChange)="lineDetail.type = $event"
                                    onclick="$(this).blur()"
                                    >
                                <span class="input-span"></span>Positive Adjmt.
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row row-sm">
                    <label class="col-sm-3 col-form-label text-right">Location</label>
                    <div class="col-sm-9">
                        <div class="cbx_location_code mh-32">
                            <module-location 
                                #locationCbx
                                [key]="'code'"
                                *ngIf="locationSetting"
                                [ngModel]="lineDetail?.location_code" 
                                (ngModelChange)="lineDetail.location_code = $event"
                                [ngModelOptions]="{standalone: true}"
                                (onChange)="locationSetting.onChange($event)"
                                (onOpen)="locationSetting.onOpen()"
                                (onClose)="locationSetting.onClose()"
                            ></module-location>
                        </div>
                    </div>
                </div>
                <div class="form-group row row-sm">
                    <label class="col-sm-3 col-form-label text-right">Document No</label>
                    <div class="col-sm-9">
                        <input 
                            class="form-control form-control-sm txt_document_no"
                            type="text"
                            name="document_no" 
                            [ngModel]="lineDetail?.document_no"
                            (ngModelChange)="lineDetail.document_no = $event"
                            >
                    </div>
                </div>
                <div class="form-group row row-sm">
                    <label class="col-sm-3 col-form-label text-right">Line Memo</label>
                    <div class="col-sm-9">
                        <textarea
                            row="2"
                            class="form-control form-control-sm txt_line_memo"
                            name="line_memo" 
                            [ngModel]="lineDetail?.line_memo"
                            (ngModelChange)="lineDetail.line_memo = $event"
                            ></textarea>
                    </div>
                </div>
                <div class="form-group row row-sm">
                    <label class="col-sm-3 col-form-label text-right">Group</label>
                    <div class="col-sm-9">
                        <div class="cbx_item_group_id  mh-32">
                            <module-item-group  
                                #itemGroupCbx
                                [key]="'id'"
                                *ngIf="itemGroupSetting"
                                [ngModel]="lineDetail?.item_group_id" 
                                (ngModelChange)="lineDetail.item_group_id = $event"
                                [ngModelOptions]="{standalone: true}"
                                (onChange)="itemGroupSetting.onChange($event)"
                                (onOpen)="itemGroupSetting.onOpen()"
                                (onClose)="itemGroupSetting.onClose()"
                            ></module-item-group>
                        </div>
                    </div>
                </div>
                <div class="form-group row row-sm">
                    <label class="col-sm-3 col-form-label text-right">Item</label>
                    <div class="col-sm-9">
                        <div class="cbx_line_product_id  mh-32">
                            <module-items  
                                #itemsCbx
                                [key]="'id'"
                                *ngIf="itemsSetting"
                                [ngModel]="lineDetail?.product_id" 
                                (ngModelChange)="lineDetail.product_id = $event"
                                [ngModelOptions]="{standalone: true}"
                                (onChange)="itemsSetting.onChange($event)"
                                (onOpen)="itemsSetting.onOpen()"
                                (onClose)="itemsSetting.onClose()"
                            ></module-items>
                        </div>
                    </div>
                </div>
                <div class="form-group row row-sm">
                    <label class="col-sm-3 col-form-label text-right">Item Name</label>
                    <div class="col-sm-9">
                        <input 
                            class="form-control form-control-sm txt_line_name"
                            type="text"
                            name="product_name" 
                            [ngModel]="lineDetail?.product_name"
                            (ngModelChange)="lineDetail.product_name = $event"
                            >
                    </div>
                </div>
                
                
                <div class="form-group row row-sm">
                    <label class="col-sm-3 col-form-label text-right">Unit Cost</label>
                    <div class="col-sm-9  mh-32">
                        <jqxNumberInput
                            [ngModel]="lineDetail?.price"
                            (ngModelChange)="lineDetail.price = $event"
                            [ngModelOptions]="{standalone: true}"
                            [min]="0"
                            [width]="160" 
                            [height]="32" 
                            [spinButtons]="true"
                            [theme]='theme'
                            [inputMode]="'simple'"
                            ></jqxNumberInput>
                    </div>
                </div>
                <div class="form-group row row-sm">
                    <label class="col-sm-3 col-form-label text-right">Quanlity</label>
                    <div class="col-sm-3  mh-32">
                        <jqxNumberInput
                            [ngModel]="lineDetail?.quantity"
                            (ngModelChange)="lineDetail.quantity = $event"
                            [ngModelOptions]="{standalone: true}"
                            [min]="0"
                            [width]="'100%'" 
                            [height]="32" 
                            [spinButtons]="true"
                            [theme]='theme'
                            [max]="1000"
                            [digits]="4"
                            [decimalDigits]="0"
                            [inputMode]="'simple'"
                            ></jqxNumberInput>
                    </div>
                    <label class="col-sm-3 col-form-label text-right">Discount</label>
                    <div class="col-sm-3  mh-32">
                        <jqxNumberInput
                            [ngModel]="lineDetail?.discount"
                            (ngModelChange)="lineDetail.discount = $event"
                            [ngModelOptions]="{standalone: true}"
                            [min]="0"
                            [max]="100"
                            [digits]="3"
                            [width]="'100%'" 
                            [height]="32" 
                            [decimalDigits]="0"
                            [spinButtons]="true"
                            [theme]='theme'
                            [inputMode]="'simple'"
                            ></jqxNumberInput>
                    </div>
                </div>
                
                
                <div class="form-group row row-sm">
                    <label class="col-sm-3 col-form-label text-right">Total Amount</label>
                    <div class="col-sm-9">
                        {{(lineDetail?.price) * (1-(lineDetail?.discount||0) / 100) * (lineDetail?.quantity||0) | currency}}
                    </div>
                </div>
                
            </form>
        </jqxValidator>
        <div class="mt-2x text-center">
            <button class="btn btn-sm btn-danger" (click)="closeLineDetail()"><span class="fa fa-remove"></span> Close</button>
            <button class="btn btn-sm btn-primary" (click)="checkLineValidate(true)" *ngIf="!lineDetail?.id">
                <span class="fa fa-plus"></span> Add Condition
            </button>
            <button class="btn btn-sm btn-primary" (click)="checkLineValidate()">
                <span class="fa fa-plus"></span> {{(lineDetail?.id)?'Update':'Add'}}
            </button>
        </div>
        </div>
    </div>
</jqxWindow>