
<div class="dropdown dropdown-module" *ngIf="!hidden && !layout">
    <button class="btn btn-block btn-sm btn-outline-secondary dropdown-toggle dropdown-arrow widget-dropdown" data-toggle="dropdown"
        (click)="initDropdown($event)"
        >{{label}}</button>
    <div class="dropdown-menu">
        <jqxGrid 
            *ngIf="dropDownGridSetting"
            #dropDownGrid 
            [width]="'100%'" 
            [filterable]="true"
            [showfilterrow]="true"
            [localization]="dropDownGridSetting?.localization"
            
            [sortable]="true"
            [source]="dropDownGridSetting?.source" 
            [columns]="dropDownGridSetting?.columns" 
            [theme]="theme"
            [ready]="dropDownGridSetting?.ready"
            [pageable]="true" 
            [pagesize]="50"
            [pagesizeoptions]="[50, 100, 200, 500]"
            [columnsresize]="false" 
            [autoheight]="false"
            [height]="280"
            style="'border:0'"
            (onRowclick)="dropDownGridSetting?.onRowSelect($event)"
            [virtualmode]="true"
            [rendergridrows]="dropDownGridSetting?.rendergridrows"
            onClick="event.stopPropagation();"
            >
        </jqxGrid>
        <!-- <div class="dropdown-foot text-right">
            <a (click)="switchToAdvance()"><i class="fa fa-cogs"></i> Advance</a>
        </div> -->
    </div>
</div>
<jqxWindow 
    *ngIf="layout!='grid'"
    class="widget-window"
    #window 
    [isModal]="true"
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="740" 
    [minHeight]='615'
    [keyboardCloseKey]='""'
    [keyboardNavigation]="false"
    [showCollapseButton]="false"
    [showCloseButton]="true"

    (onClose)="eventWindowClose()"
    (onOpen)="eventWindowOpen()"
    >
    <div #windowHeader>
        <b>
            Items
        </b>
    </div>
    <div style="overflow: hidden;">
        <ul class="ribon-menu">
            <!-- <li><a (click)="addNewItem()"><i class="fa fa-plus"></i><span>Add</span></a></li> -->
            <li><a (click)="clickAdd()"><i class="fa fa-plus"></i><span>Add</span></a></li>
            <li><a (click)="clickEdit()"><i class="fa fa-pencil"></i><span>Edit</span></a></li>
            <li><a (click)="clickDelete()"><i class="fa fa-times"></i><span>Delete</span></a></li>
            <!-- <li class="disabled"><a><i class="fa fa-fa-empty-set"></i><span>Clear Selection</span></a></li> -->
            <li class="driver"></li>
            <li><a  (click)="reloadGrid()"><i class="ti-reload"></i><span>Refresh</span></a></li>
            

        </ul>
        <jqxGrid 
            *ngIf="gridSetting"
            #grid
            [width]='730'
            [height]='480'
            [filterable]="true"
            [showfilterrow]="true"
            
            [sortable]="true"
            [ready]="gridSetting?.ready"

            [pageable]="true"
            [pagesize]="10"
            [pagesizeoptions]="[10, 100, 500, 1000]"


            [theme]="theme"
            [source]="gridSetting?.source" 
            [columns]="gridSetting?.columns" 

            [showtoolbar]="false"

            [virtualmode]="true"
            [rendergridrows]="gridSetting?.rendergridrows"
            

            [editable]="true"
            [editmode]='"selectedrow"'
            [selectionmode]='"singlerow"'
            (onCellbeginedit)="gridSetting?.onCellBeginEdit($event)" 
            (onCellendedit)="gridSetting?.onCellEndEdit($event)" 
            ></jqxGrid>
            <!-- 
            (onRowdoubleclick)="gridSetting?.onRowdoubleclick($event)" 
            -->
            <div class="mt-2">
                <button class="btn btn-sm btn-outline-danger" (click)="close()">CLOSE</button>
                <div class="float-right">
                    <button class="btn btn-sm btn-outline-secondary" (click)="done()">DONE</button>
                </div>
            </div>
    </div>
</jqxWindow>
<div *ngIf="layout=='grid'">
    <ul class="ribon-menu">
            <!-- <li><a (click)="addNewItem()"><i class="fa fa-plus"></i><span>Add</span></a></li> -->
            <li><a (click)="clickAdd()"><i class="fa fa-plus"></i><span>Add</span></a></li>
            <li><a (click)="clickEdit()"><i class="fa fa-pencil"></i><span>Edit</span></a></li>
            <li><a (click)="clickDelete()"><i class="fa fa-times"></i><span>Delete</span></a></li>
            <!-- <li class="disabled"><a><i class="fa fa-fa-empty-set"></i><span>Clear Selection</span></a></li> -->
            <li class="driver"></li>
            <li><a  (click)="reloadGrid()"><i class="ti-reload"></i><span>Refresh</span></a></li>
            

        </ul>
    <jqxGrid 
            *ngIf="gridSetting"
            #grid
            [width]='"100%"'
            [height]='580'
            [filterable]="true"
            [showfilterrow]="true"
            
            [sortable]="true"
            [ready]="gridSetting?.ready"

            [virtualmode]="true"
            [rendergridrows]="gridSetting?.rendergridrows"

            [pageable]="true"
            [pagesize]="10"
            [pagesizeoptions]="[10,100, 500, 1000]"

            [theme]="theme"
            [source]="gridSetting?.source" 
            [columns]="gridSetting?.columns" 

            [showtoolbar]="false"
            [editable]="true"
            [editmode]='"selectedrow"'
            [selectionmode]='"singlerow"'
            (onCellbeginedit)="gridSetting?.onCellBeginEdit($event)" 
            (onCellendedit)="gridSetting?.onCellEndEdit($event)" 
            ></jqxGrid>
            <!-- 
            (onRowdoubleclick)="gridSetting?.onRowdoubleclick($event)" 
            -->
</div>
<jqxWindow 
    class="widget-window"
    #detailWindow 
    [isModal]="true"
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="580" 
    [minHeight]='520'
    [height]="'auto'"
    [keyboardCloseKey]='""'
    [keyboardNavigation]="false"
    [showCollapseButton]="false"
    [showCloseButton]="true"
    (onOpen)="initDetailWindow()"
    >
    <div #windowHeader>
        <b>
            Items
        </b>
    </div>
    <div style="overflow: hidden;padding:0">
        <div style="height: 440px;overflow-y: auto;overflow-x: hidden;padding: 10px">
        <jqxValidator 
            #validator  
            [rules]="rules" 
            [focus]="false"
            (onValidationSuccess)="onValidationSuccess()"
            (onValidationError)="onValidationError()"
            >
            <form>
                <input type="hidden" name="id" [ngModel]="editingItem?.id" >
                <div class="row">
                    
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class=" text-muted text-right">Name</label>
                            <div class="">
                                <input 
                                    class="form-control form-control-sm txt_description"
                                    type="text"
                                    name="description" 
                                    [ngModel]="editingItem?.description"
                                    (ngModelChange)="editingItem.description = $event"
                                    >
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class=" text-muted text-right">Code</label>
                            <div class="">
                                <input 
                                    class="form-control form-control-sm txt_product_code"
                                    type="text"
                                    name="product_code" 
                                    [ngModel]="editingItem?.product_code"
                                    (ngModelChange)="editingItem.product_code = $event"
                                    >
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class=" text-muted text-right">Case</label>
                            <div class="">
                                <input 
                                    class="form-control form-control-sm txt_case"
                                    type="text"
                                    name="case" 
                                    [ngModel]="editingItem?.case"
                                    (ngModelChange)="editingItem.case = $event"
                                    >
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class=" text-muted text-right">Barcode</label>
                            <div class="">
                                <input 
                                    class="form-control form-control-sm txt_barcode"
                                    type="text"
                                    name="barcode" 
                                    [ngModel]="editingItem?.barcode"
                                    (ngModelChange)="editingItem.barcode = $event"
                                    >
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="text-muted">Unit Price</label>
                            <div class="">
                                <jqxNumberInput
                                    [ngModel]="editingItem?.unit_price"
                                    (ngModelChange)="editingItem.unit_price = $event"
                                    [ngModelOptions]="{standalone: true}"
                                    [min]="0"
                                    [width]="'100%'" 
                                    [height]="28" 
                                    [symbol]="'$'" 
                                    [spinButtons]="true"
                                    [theme]='theme'
                                    ></jqxNumberInput>
                            </div>
                        </div>
                    </div>

                    
                    <div class="col-lg-6">
                        
                    </div>
                    <div class="col-lg-12 hr">
                        
                    </div>
                    
                    
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label class="text-muted">Gen. Prod. Post.</label>
                            <div class="cbx_gen_product_ptg_code">
                                <module-ptg-gen-product  
                                    #genProdPtgCbx
                                    [key]="'code'"
                                    *ngIf="genProdPtgSetting"
                                    [ngModel]="editingItem?.gen_product_ptg_code" 
                                    (ngModelChange)="editingItem.gen_product_ptg_code = $event"
                                    [ngModelOptions]="{standalone: true}"
                                    (onOpen)="genProdPtgSetting.onOpen()"
                                    (onClose)="genProdPtgSetting.onClose()"
                                    (onChange)="genProdPtgSetting.onChange($event)"
                                ></module-ptg-gen-product>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label class="text-muted">TAX Prod. Post.</label>
                            <div class="cbx_vat_product_ptg_code">
                                <module-ptg-vat-product  
                                    #vatProdPtgCbx
                                    [key]="'code'"
                                    *ngIf="vatProdPtgSetting"
                                    [ngModel]="editingItem?.vat_product_ptg_code" 
                                    (ngModelChange)="editingItem.vat_product_ptg_code = $event"
                                    [ngModelOptions]="{standalone: true}"
                                    (onOpen)="vatProdPtgSetting.onOpen()"
                                    (onClose)="vatProdPtgSetting.onClose()"
                                    (onChange)="vatProdPtgSetting.onChange($event)"
                                ></module-ptg-vat-product>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label class="text-muted">Inventory Post.</label>
                            <div class="cbx_invt_ptg_code">
                                <module-ptg-inventory  
                                    #invtPtgCbx
                                    [key]="'code'"
                                    *ngIf="invtPtgSetting"
                                    [ngModel]="editingItem?.invt_ptg_code" 
                                    (ngModelChange)="editingItem.invt_ptg_code = $event"
                                    [ngModelOptions]="{standalone: true}"
                                    (onOpen)="invtPtgSetting.onOpen()"
                                    (onClose)="invtPtgSetting.onClose()"
                                    (onChange)="invtPtgSetting.onChange($event)"
                                ></module-ptg-inventory>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="text-muted text-right">Image</label>
                            <div class="">
                                <div class="cover big-thumb float-left mr-1 mb-1" 
                                    [ngClass]="{'active': item.udid == editingItem?.default_image}"
                                    *ngFor="let item of editingItem?.images || []; let i = index"
                                    [ngStyle]="{'background-image': 'url(' + item.url + ')'}"
                                    (click)="onSetDefaultPhoto(item.udid)"
                                    ></div>
                                <div class="cover big-thumb float-left mr-1 mb-1" 
                                    [ngClass]="{'active': item.udid == editingItem?.default_image}"
                                    *ngFor="let item of editingItem?.newImages || []; let i = index"
                                    [ngStyle]="{'background-image': 'url(' + item.photo + ')'}"
                                    (click)="onSetDefaultPhoto(item.udid)"
                                    ></div>
                                <!-- <div class="clearfix"></div> -->
                                <jqxFileUpload 
                                    #fileUpload 
                                    class="custom-upload-thumb"
                                    [accept]="'image/*'"
                                    [theme]="theme"
                                    [width]="'110px'" 
                                    [height]="'110px'"
                                    [uploadUrl]="'/'" 
                                    [fileInputName]="'fileToUpload'"
                                    (onSelect)="onSelectPhoto($event)"
                                    ></jqxFileUpload>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </jqxValidator>
        </div>
        <div class="p-2">
            <button class="btn btn-sm btn-outline-danger" (click)="closeDetail()">CLOSE</button>
            <div class="float-right">
                <button class="btn btn-sm btn-outline-secondary" (click)="checkValidate()">
                    {{editingItem?.id?'UPDATE':'CREATE'}}
                </button>
            </div>
        </div>
    </div>
</jqxWindow>