<div class="page-heading">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">{{'Finance' | translate}}</li>
        <li class="breadcrumb-item">{{'Tax Reports' | translate}}</li>
    </ol>
</div>

<div class="page-header">
    <div class="ibox flex-1">
        <ul class="nav nav-tabs tabs-line m-0 pl-3 pr-3">
            <li class="nav-item">
                <a class="nav-link" routerLink="/finance/accounts">{{'List of accounts' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/finance/tax-reports">{{'Tax Reports' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/finance/with-holding-tax">{{'With Holding Tax Report' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/finance/journal-entry">{{'General G/L Journal' | translate}}</a>
            </li>
        </ul>

        <div class="form-control">
            <label>Filter by month: </label>
            <select [(ngModel)]="selected" (ngModelChange)="onSelectYears(selected)" class="">
              <option *ngFor="let year of years" [value]=year.month>{{year.description}}</option>
            </select>
            <button class="btn btn-sm btn-primary" (click)="exportToCSV()">Export</button>
        </div>

        <div class="ibox-body">
            <table class="table ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Reg. No</th>
                        <th>Date</th>
                        <th>Doc. No.</th>
                        <th>BP Name</th>
                        <th>Base Amount (currency)</th>
                        <th>Base Amount</th>
                        <th>Tax %</th>
                        <th>Tax (currency)</th>
                        <th>Tax</th>
                        <th>Non-Deductible (currency)</th>
                        <th>Non-Deductible</th>
                        <th>Total Amount (LC) (currency)</th>
                        <th>Total Amount (LC)</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of selectedData || []; index as i">
                        <td>{{ i }}</td>
                        <td>{{ item.reg_no }}</td>
                        <td>{{ item.date }}</td>
                        <td>{{ item.doc_no }}</td>
                        <td>{{ item.bp_name }}</td>
                        <td>{{ item.base_amount_c }}</td>
                        <td>{{ item.base_amount  | number}}</td>
                        <td>{{ item.tax_pecent }}</td>
                        <td>{{ item.tax_c }}</td>
                        <td>{{ item.tax  | number}}</td>
                        <td>{{ item.non_de }}</td>
                        <td>{{ item.non }}</td>
                        <td>{{ item.total_c }}</td>
                        <td>{{ item.total  | number}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>