<div class="page-heading">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">{{'Expenses' | translate}}</li>
    </ol>
</div>

<!-- <div class="page-content">
     <div class="row module-card mt-3">
        <div class="icon-item" routerLink="/expenses" routerLinkActive="active">
            <div class="card" >
                <div class="card-body flexbox-b">
                    <div >
                        <h4 class="font-strong text-success">My expenses</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="icon-item" routerLink="/expenses/review" routerLinkActive="active">
            <div class="card" >
                <div class="card-body flexbox-b">
                    <div>
                        <h4 class="font-strong text-primary">Expenses review screen</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="icon-item">
            <div class="card">
                <div class="card-body flexbox-b">
                    <div>
                        <h4 class="font-strong text-pink">Purchase invoice draft</h4>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</div> -->
<div class="page-header" >
    <ul class="tabs">
            <li routerLink="/expenses/my" routerLinkActive="active">
                <a class="nav-link ">{{'My Expenses' | translate}}</a>
            </li>
            <li routerLink="/expenses/all" routerLinkActive="active">
                <a class="nav-link ">{{'All Expenses' | translate}}</a>
            </li>
            <li routerLink="/expenses/review" routerLinkActive="active">
                <a class="nav-link" >{{'Expenses Review Screen' | translate}}</a>
            </li>
        </ul>
    <div class="ibox flex-1 none-shadow ibox-sm"  [ngClass]="{'hidden':itemDetail}">
        <div class="ibox-body">
            <div class="">
                <div>
                    <div class="mb-2" [ngClass]="{'hidden': !setting.action.create}">
                        <button class="btn btn-info btn-sm" (click)="showDetailForm(0,1)"><span class="fa fa-credit-card"></span> {{'Add Expenses' | translate}}</button>
                        <button class="btn btn-info btn-sm" (click)="showDetailForm(0,2)"><span class="fa fa-taxi"></span> {{'Add Mileage' | translate}}</button>
                    </div>
                    <div class="mb-2" [ngClass]="{'hidden': !setting.action.approve}">
                        <button class="btn btn-info btn-sm" (click)="onApprove(2)"><span class="fa fa-check"></span> {{'Approve selected row' | translate}}</button>
                        <button class="btn btn-info btn-sm" (click)="onReject(3)"><span class="fa fa-ban"></span> {{'Reject selected row' | translate}}</button>
                    </div>
                </div>
                <jqxGrid 
                    *ngIf="gridSetting"
                    #grid
                    [width]='"100%"'
                    [height]='560'
                    [filterable]="true"
                    [showfilterrow]="true"
                    [sortable]="true"
                    [pageable]="true"
                    [pagesize]="100"
                    [pagesizeoptions]="[100, 500, 1000]"
                    
                    [selectionmode]="gridSetting?.selectionmode"
                    [virtualmode]="false"
                    [rendergridrows]="gridSetting?.rendergridrows"

                    [theme]="theme"
                    [source]="gridSetting?.source" 
                    [columns]="gridSetting?.columns" 

                    [showtoolbar]="false"
                    (onCellclick)="gridSetting?.onCellClick($event)"
                    ></jqxGrid>
                
            </div>
        </div>
    </div>
    <div class="ibox flex-1" [ngClass]="{'hidden':!itemDetail}">
        
        <form  id="addEntryFrm" action="javascript:;" class="form-horizontal">
            <input type="hidden" 
                name="type" name="type" 
                [ngModel]="itemDetail?.type">
            <div class="ibox-body" >
                <div class="row" [ngClass]="{'no-event':!editable}">
                    <div class="col-lg-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-muted text-right">{{'Date' | translate}}</label>
                            <div class="col-sm-8">
                                <jqxDateTimeInput  
                                    #dateDti
                                    [theme]="theme"
                                    [height]="28"
                                    [formatString]="'yyyy-MM-dd'"
                                    ></jqxDateTimeInput>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-muted text-right">{{'Paid by' | translate}}</label>
                            <div class="col-sm-8">
                                <label class="radio radio-primary radio-inline">
                                    <input type="radio" name="paid_by" value="1" checked="1">
                                    <span class="input-span"></span>{{'Company' | translate}}
                                </label>
                                <label class="radio radio-primary radio-inline">
                                    <input type="radio" name="paid_by" value="2">
                                    <span class="input-span"></span>{{'Employee' | translate}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-muted text-right">{{'Acctivity' | translate}}</label>
                            <div class="col-sm-8">
                                
                                
                                <module-activity 
                                    *ngIf="activitySetting"
                                    #activityMod 
                                    [ngModel]="itemDetail?.activity_id" 
                                    (ngModelChange)="itemDetail.activity_id = $event"
                                    [ngModelOptions]="{standalone: true}"
                                    (onChange)="activitySetting.onChange($event)"
                                    ></module-activity>
                                <div class="mt-1" *ngIf="itemDetail?.activity">
                                    <div class="alert alert-info alert-outline" style="padding: 4px">
                                        {{'Cr / Db' | translate}} : {{itemDetail.activity.credit_acct_code}} / {{itemDetail.activity.debit_acct_code}}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6">
                        <div class="form-group row" [ngClass]="{'hidden': itemDetail?.type!=1}">
                            <label class="col-sm-4 col-form-label text-muted text-right">{{'Cost center' | translate}}</label>
                            <div class="col-sm-8">
                                <div id="cbx_cost" role="jqx-combobox"></div>
                            </div>
                        </div>
                        <div class="form-group row" [ngClass]="{'hidden': itemDetail?.type!=2}">
                            <label class="col-sm-4 col-form-label text-muted text-right">{{'From country' | translate}}</label>
                            <div class="col-sm-8">
                                <div id="cbx_start_country" role="jqx-combobox"></div>
                            </div>
                        </div>
                        <div class="form-group row" [ngClass]="{'hidden': itemDetail?.type!=2}">
                            <label class="col-sm-4 col-form-label text-muted text-right">{{'From city' | translate}}</label>
                            <div class="col-sm-8">
                                <input id="txt_start_city" class="form-control form-control-sm" type="text" name="start_city">
                            </div>
                        </div>
                        <div class="form-group row" [ngClass]="{'hidden': itemDetail?.type!=2}">
                            <label class="col-sm-4 col-form-label text-muted text-right">{{'Distance' | translate}}</label>
                            <div class="col-sm-8">
                                <input id="txt_distance" style="width: 100px" class="form-control form-control-sm" type="text" name="distance">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-muted text-right">{{'Amount' | translate}}</label>
                            <div class="col-sm-8">
                                <input id="txt_amount" style="width: 100px" class="form-control form-control-sm" type="text" name="amount">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group row" [ngClass]="{'hidden': itemDetail?.type!=1}">
                            <label class="col-sm-4 col-form-label text-muted text-right">{{'Country' | translate}}</label>
                            <div class="col-sm-8">
                                <div id="cbx_country" role="jqx-combobox"></div>
                            </div>
                        </div>
                        <div class="form-group row" [ngClass]="{'hidden': itemDetail?.type!=1}">
                            <label class="col-sm-4 col-form-label text-muted text-right">{{'City' | translate}}</label>
                            <div class="col-sm-8">
                                <input id="txt_city" class="form-control form-control-sm" type="text" name="city">
                            </div>
                        </div>

                        <div class="form-group row" [ngClass]="{'hidden': itemDetail?.type!=2}">
                            <label class="col-sm-4 col-form-label text-muted text-right">{{'To country' | translate}}</label>
                            <div class="col-sm-8">
                                <div id="cbx_end_country" role="jqx-combobox"></div>
                            </div>
                        </div>
                        <div class="form-group row" [ngClass]="{'hidden': itemDetail?.type!=2}">
                            <label class="col-sm-4 col-form-label text-muted text-right">{{'To city' | translate}}</label>
                            <div class="col-sm-8">
                                <input id="txt_end_city" class="form-control form-control-sm" type="text" name="end_city">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label text-muted text-right">{{'Purpose' | translate}}</label>
                            <div class="col-sm-10">
                                <textarea id="txt_purpose" class="form-control form-control-sm" type="text" name="purpose"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label text-muted text-right">{{'Attachment' | translate}}</label>
                            <div class="col-sm-10">
                                <div id="jqxFileUpload" class="custom-upload" [ngClass]="{'hidden':!editable}"></div>
                                <div *ngIf="itemDetail" class="mt-1">
                                    <span *ngFor="let item of itemDetail.images || []" class="mr-1 mb-1">
                                        <img height="120" [src] = "item"/>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label text-muted text-right">&nbsp;</label>
                            <div class="col-sm-10">
                                <span [ngClass]="{'hidden':setting.page!='review' || (itemDetail && itemDetail.status!=1)}">
                                    <button class="btn btn-info" (click)="onApprove(2)"><span class="fa fa-check"></span> {{'Approve' | translate}}</button>
                                    <button class="btn btn-info" (click)="onReject(3)"><span class="fa fa-ban"></span> {{'Reject' | translate}}</button>
                                </span>
                                <button class="btn btn-primary mr-2" type="button" (click)="onAddItem()" *ngIf="editable">{{'OK' | translate}}</button>
                                <button class="btn btn-danger" type="button" data-dismiss="modal" (click)="backToList()">{{'Cancel' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

