<div class="page-heading" *ngIf="!partner_id">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/"><i class="la la-home font-20"></i></a>
        </li>
        <li 
            *ngFor="let item of router_params.breadcrumbs || [];index as i"
            class="breadcrumb-item" 
            routerLink="{{item.link}}"
            >
            {{item.text | translate}}
        </li>
        <li class="breadcrumb-item"><span *ngIf="router_params.my && 0">My </span>{{setting?.title | translate}}</li>
    </ol>
</div>
<div class="page-heading" *ngIf="partner_id">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">{{router_params.type|titlecase  | translate}}</li>
        <li class="breadcrumb-item">{{router_params.partner_type|titlecase  | translate}}</li>
        <li class="breadcrumb-item">{{setting?.title  | translate}}</li>
    </ol>
</div>

<div class="page-header" *ngIf="is360">
    <ul class="tabs">
            <li routerLink="/360/my-activity" [ngClass]="{active:isMy}">
                <a class="nav-link ">{{'My Transactions' | translate}}</a>
            </li>
            <li routerLink="/360/all-activity" [ngClass]="{active:!isMy}">
                <a class="nav-link ">{{'All Transactions' | translate}}</a>
            </li>
        </ul>
    <div class="ibox flex-1 none-shadow ibox-sm">
        <div class="ibox-body">
            <div class="activities normal" >
                <div class="item" routerLink="/360/customers/{{router_params.my?'my':''}}">
                    <div >
                        <h4 class="font-strong text-warning">{{'Customer' | translate}}</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.partner.aggregated.customers.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.partner.my_aggregated.customers.count}}</div>
                        <img src="/assets/img/icons/icon-contact.png">
                    </div>
                </div>
                <div class="item" routerLink="/360/sales/quotes/{{prefixmy}}">
                    <div >
                        <h4 class="font-strong text-info">{{'Sales Quotes' | translate}}</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.sales.open_aggregated.quotes.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.sales.my_open_aggregated.quotes.count}}</div>
                        <img src="/assets/img/icons/icon-quote.png">
                    </div>
                </div>

                <div class="item" routerLink="/360/sales/orders/{{prefixmy}}">
                    <div >
                        <h4 class="font-strong text-success">{{'Sales Orders' | translate}}</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.sales.open_aggregated.orders.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.sales.my_open_aggregated.orders.count}}</div>
                         <img src="/assets/img/icons/icon-order.png">
                    </div>
                </div>
                <div class="item" routerLink="/360/sales/invoices/{{prefixmy}}">
                    <div >
                        <h4 class="font-strong text-warning">{{'Sales Invoices' | translate}}</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.sales.open_aggregated.invoices.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.sales.my_open_aggregated.invoices.count}}</div>
                        <img src="/assets/img/icons/icon-invoice.png">
                    </div>
                </div>
                <div class="item" routerLink="/360/sales/credit-notes/{{prefixmy}}">
                    <div >
                        <h4 class="font-strong text-danger">{{'Sales Credit Notes' | translate}}</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.sales.open_aggregated.credit_notes.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.sales.my_open_aggregated.credit_notes.count}}</div>
                        <img src="/assets/img/icons/icon-sales-credit.png">
                    </div>
                </div>

                <div class="item" routerLink="/360/suppliers/{{router_params.my?'my':''}}">
                    <div >
                        <h4 class="font-strong text-info">{{'Suppliers' | translate}} &nbsp;</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.partner.aggregated.suppliers.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.partner.my_aggregated.suppliers.count}}</div>
                        <img src="/assets/img/icons/icon-company.png">
                    </div>
                </div>
                <div class="item" routerLink="/360/purchases/orders/{{prefixmy}}">
                    <div >
                        <h4 class="font-strong text-success">{{'Purchase Orders' | translate}}</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.purchases.open_aggregated.orders.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.purchases.my_open_aggregated.orders.count}}</div>
                        <img src="/assets/img/icons/icon-order.png">
                    </div>
                </div>
                <div class="item" routerLink="/360/purchases/invoices/{{prefixmy}}">
                    <div >
                        <h4 class="font-strong text-warning">{{'Purchase Invoices' | translate}}</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.purchases.open_aggregated.invoices.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.purchases.my_open_aggregated.invoices.count}}</div>
                        <img src="/assets/img/icons/icon-invoice.png">
                    </div>
                </div>
                <div class="item" routerLink="/360/purchases/credit-notes/{{prefixmy}}">
                    <div >
                        <h4 class="font-strong text-danger">{{'Purchase Credit Notes' | translate}}</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.purchases.open_aggregated.credit_notes.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.purchases.my_open_aggregated.credit_notes.count}}</div>
                        <img src="/assets/img/icons/icon-purchase-credit.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content" *ngIf="!partner_id && !is360">
     <div class="row module-card mt-3">
        <div class="icon-item" routerLink="/purchases/suppliers/{{prefixmy}}" routerLinkActive="active" *ngIf="actived_items.includes('supplier')">
            <div class="card">
                <div class="card-body flexbox-b">
                    <div >
                        <h4 class="font-strong text-success">{{'Supplier' | translate}} &nbsp;</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.partner.aggregated.suppliers.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.partner.my_aggregated.suppliers.count}}</div>
                        <img src="/assets/img/icons/icon-company.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="icon-item" routerLink="/finance/purchases/invoices/{{prefixmy}}" routerLinkActive="active" routerLinkActive="active" *ngIf="actived_items.includes('invoices')">
            <div class="card" >
                <div class="card-body flexbox-b">
                    <div >
                        <h4 class="font-strong text-success">{{'Purchases Invoices' | translate}}</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.purchases.open_aggregated.invoices.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.purchases.my_open_aggregated.invoices.count}}</div>
                        <img src="/assets/img/icons/icon-invoice.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="icon-item" routerLink="/finance/purchases/credit-notes/{{prefixmy}}" routerLinkActive="active" routerLinkActive="active" *ngIf="actived_items.includes('credit-notes')">
            <div class="card" >
                <div class="card-body flexbox-b">
                    <div>
                        <h4 class="font-strong text-primary">{{'Purchases Credit Notes' | translate}}</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.purchases.open_aggregated.credit_notes.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.purchases.my_open_aggregated.credit_notes.count}}</div>
                        <img src="/assets/img/icons/icon-purchase-credit.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="icon-item" routerLink="/purchases/orders/{{prefixmy}}" routerLinkActive="active" routerLinkActive="active" *ngIf="actived_items.includes('orders')">
            <div class="card" >
                <div class="card-body flexbox-b">
                    <div>
                        <h4 class="font-strong text-pink">{{'Purchase Orders' | translate}}</h4>
                        <div class="text-muted" *ngIf="!isMy">{{summary?.purchases.open_aggregated.orders.count}}</div>
                        <div class="text-muted" *ngIf="isMy">{{summary?.purchases.my_open_aggregated.orders.count}}</div>
                        <img src="/assets/img/icons/icon-order.png">
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="page-content" >
    <div class="row mt-3">
        <div class="col-lg-2">
            <div class="card mb-3" style="height: 141px;">
                <div class="card-body">
                    <h3>{{summary?.purchases.open_aggregated_on_this_month[type.replace('-', '_')].count}}</h3>
                    <div class="text-muted">{{'Total new' | translate}} {{setting.title | translate}} {{'this month' | translate}}</div>
                </div>
            </div>
            
        </div>
        <div class="col-lg-8">
            <div class="">
                <div class="p-2 bg-white">
                    <div class="">
                        <div class="d-flex justify-content-between mb-4">
                            <div class="">
                                <h3 class="m-0">{{setting.title | translate}} - {{'Analytics' | translate}}<sub></sub></h3>
                            </div>
                            <div class="rel">
                                <a class="dropdown-toggle text-white" data-toggle="dropdown"><i class="ti-settings font-16"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item"><i class="la la-upload"></i>Export</a>
                                    <a class="dropdown-item"><i class="la la-file-excel-o"></i>Download</a>
                                    <a class="dropdown-item" data-action="print" data-target="#diagram_1"><i class="la la-print"></i>Print</a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <canvas id="line_chart2" style="height:80px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card mb-3" style="height: 141px;">
                <div class="card-body">
                    <h3>{{summary?.purchases.open_aggregated_on_this_month[type.replace('-', '_')].total|number}}</h3>
                    <div class="text-muted">{{'Total Value of' | translate}} {{setting.title | translate}} {{'this month' | translate}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
                
<div class="page-header" >
    <div class="ibox flex-1 ibox-sm"  [ngClass]="{'hidden':isCreateAction}">

        <div class="ibox-body">
            <div class="mb-1x">
                <button class="btn btn-primary btn-sm" (click)="clickAdd()"><span class="fa fa-plus"></span> {{'Create a new' | translate}} {{setting?.title | translate}}</button>
            </div>
            <jqxGrid 
                #grid
                [width]='"100%"'
                [height]='560'
                [filterable]="true"
                [showfilterrow]="true"
                [sortable]="true"
                [pageable]="true"
                [pagesize]="100"
                [pagesizeoptions]="[100, 500, 1000]"
                [virtualmode]="true"
                [rendergridrows]="gridSetting?.rendergridrows"
                [theme]="theme"
                [source]="gridSetting?.source" 
                [columns]="gridSetting?.columns" 
                [localization]="gridSetting?.localization"

                (onCellclick)="gridSetting?.onCellClick($event)"
                ></jqxGrid>
        </div>
    </div>
    <div class="ibox flex-1" [ngClass]="{'hidden':!isCreateAction}">
        <div class="ibox-body">
            <div class="d-flex align-items-center">
                <span class="mr-4 static-badge badge-pink"><i class="ti-shopping-cart-full"></i></span>
                <div>
                    <h5 class="font-strong" *ngIf="!itemDetail?.id">{{'Create a new' | translate}} {{setting?.title | translate}}</h5>
                    <div class="text-light">{{setting.title | translate}}</div>
                    <div class="pull-right">
                        
                    </div>
                </div>
            </div>
        </div>
        <form  id="addEntryFrm" action="javascript:;" class="form-horizontal">
        <div class="ibox-body" [ngClass]="{'no-event':!itemDetail?.editable}">
                <jqxValidator 
                    #validator
                    [rules]="rules" 
                    [focus]="false"
                    (onValidationSuccess)="onValidationSuccess()"
                    (onValidationError)="onValidationError()"
                    >
                    <div class="row">
                        <div class="col-lg-6">
                            

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{'Vendor' | translate}}</label>
                                <div class="col-sm-8 ">
                                    <div class="cbx_business_partner_id">
                                        <module-partner  
                                            #customerCbx
                                            [key]="'id'"
                                            [type]="2"
                                            *ngIf="customerSetting"
                                            [ngModel]="itemDetail?.business_partner_id" 
                                            (ngModelChange)="itemDetail.business_partner_id = $event"
                                            [ngModelOptions]="{standalone: true}"
                                            (onChange)="customerSetting.onChange($event)"
                                            (onOpen)="customerSetting.onOpen()"
                                            (onClose)="customerSetting.onClose()"
                                        ></module-partner>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{'Name' | translate}}</label>
                                <div class="col-sm-8">
                                    <input 
                                        class="form-control form-control-sm txt_partner_name"
                                        type="text"
                                        name="partner_name" 
                                        [ngModel]="itemDetail?.partner_name"
                                        (ngModelChange)="itemDetail.partner_name = $event"
                                        >
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{'Document Date' | translate}}</label>
                                <div class="col-sm-8">
                                    <div class="txt_date">
                                        <jqxDateTimeInput 
                                            #dateTxt
                                            [width]="180" [height]="32" 
                                            [formatString]="'yyyy-MM-dd'"
                                            [theme]="theme"
                                            [ngModel]="itemDetail?.date"
                                            (ngModelChange)="itemDetail.date = $event"
                                            [ngModelOptions]="{standalone: true}"
                                            >
                                        </jqxDateTimeInput>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" >{{'Due Date' | translate}}</label>
                                <div class="col-sm-8">
                                    <div class="txt_due_date">
                                        <jqxDateTimeInput 
                                            #dueDateTxt
                                            [width]="180" [height]="32" 
                                            [formatString]="'yyyy-MM-dd'"
                                            [theme]="theme"
                                            [ngModel]="itemDetail?.due_date"
                                            (ngModelChange)="itemDetail.due_date = $event"
                                            [ngModelOptions]="{standalone: true}"
                                            >
                                        </jqxDateTimeInput>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">{{'Comment' | translate}}</label>
                                <div class="col-sm-10">
                                    <textarea  
                                        maxlength="50" 
                                        class="form-control form-control-sm txt_comment" 
                                        type="text" name="comment"
                                        [ngModel]="itemDetail?.comment"
                                        (ngModelChange)="itemDetail.comment = $event"
                                        ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-1" [ngClass]="{'hidden':!itemDetail?.editable}">
                                <button class="btn btn-success  btn-sm" (click)="showAddLineForm()">
                                    <i class="fa fa-plus"></i> {{'Add' | translate}}
                                </button>
                            </div>
                            <div id="lines-grid" role="jqx-grid"></div>
                            <jqxGrid
                                *ngIf="lineGridSetting" 
                                #lineGrid
                                [showaggregates]="true"
                                [showstatusbar]="true"
                                [statusbarheight]="25"
                                [autoheight]="true"
                                [width]='"100%"'
                                [theme]="theme"
                                [source]="lineGridSetting?.source" 
                                [columns]="lineGridSetting?.columns" 
                                [localization]="lineGridSetting?.localization"
                                
                                [editable]="true"
                                [selectionmode]="'singlecell'"
                                (onCellbeginedit)="lineGridSetting?.onCellBeginEdit($event)" 
                                (onCellendedit)="lineGridSetting?.onCellEndEdit($event)" 
                                ></jqxGrid>
                            <div class="text-right">
                                <table class="table table-condensed table-sm mt-2" style="float: right;width: auto;">
                                    <thead>
                                        <tr>
                                            <td>{{'Total Amount Excl. Tax' | translate}}</td>
                                            <td  colspan="2" id="lbl_total">{{(itemDetail.total_with_tax - itemDetail.total_tax) | number}}</td>
                                        </tr>
                                        <tr>
                                            <td>Total Tax Amount</td>
                                            <td  colspan="2" id="lbl_total">{{itemDetail.total_tax | number}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'Total Amount Incl. Tax' | translate}}</td>
                                            <td  colspan="2" id="lbl_total">{{itemDetail.total_with_tax | number}}</td>
                                        </tr>
                                        <tr style="display: none">
                                            <td>{{'Discount' | translate}}</td>
                                            <td width="80">
                                                <div class="txt_total_discount" [ngClass]="{'hidden':true || !itemDetail?.editable}">
                                                    <jqxNumberInput
                                                        [ngModel]="itemDetail?.discount"
                                                        (ngModelChange)="itemDetail.discount = $event"
                                                        [ngModelOptions]="{standalone: true}"
                                                        [min]="0"
                                                        [max]="100"
                                                        [width]="60" 
                                                        [height]="28" 
                                                        [spinButtons]="true"
                                                        [theme]='theme'
                                                        [digits]="3"
                                                        [decimalDigits]="0"
                                                        [inputMode]="'simple'"
                                                        ></jqxNumberInput>
                                                </div>
                                            </td>
                                            <td width="160" id="lbl_discount">{{(itemDetail.total_with_tax) * ((itemDetail?.discount||0)/100) | number}}</td>
                                        </tr>
                                        <tr style="display: none;">
                                            <td>{{'Total Amount Incl. Tax after discount' | translate}}</td>
                                            <td colspan="2" id="lbl_total">{{(itemDetail.total_with_tax) * (1-(itemDetail?.discount||0)/100) | number}}</td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                </jqxValidator>
        </div>
        <div class="ibox-footer">
            <button class="btn btn-primary mr-2" type="button" (click)="checkValidate()" *ngIf="itemDetail?.editable"><span class="fa fa-save"></span> {{'Save' | translate}}</button>
            <button class="btn btn-warning" (click)="checkValidateByConvertToInvoices()" *ngIf="(itemDetail?.type == 1) && itemDetail.status ==1"><span class="fa fa-retweet"></span> {{'Convert to Purchase Invoice' | translate}}</button>
            <button class="btn btn-danger" type="button" (click)="backToList()"><span class="fa fa-remove"></span> {{'Cancel' | translate}}</button>
        </div>
        </form>
    </div>
</div>
<jqxWindow 
    class="widget-window"
    #detailWindow 
    [isModal]="true"
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="720" 
    [height]="'auto'"
    [keyboardCloseKey]='""'
    [keyboardNavigation]="false"
    [showCollapseButton]="false"
    [showCloseButton]="true"
    (onOpen)="initDetailWindow()"
    [title]="'Add Item Line' | translate"
    >
    <div style="overflow: visible;">
        <div style="height: 470px;padding: 20px">
            <jqxValidator 
                #lineValidator  
                [focus]="false"
                (onValidationSuccess)="onLineValidationSuccess()"
                (onValidationError)="onLineValidationError()"
                >
                <form>
                    <div class="form-group row">
                        <label class="col-sm-4">{{'Item Type' | translate}}</label>
                        <div class="col-sm-8 item_type  mh-32">
                            <jqxDropDownList *ngIf="itemTypeSetting"
                                #item_typeCbx
                                [theme]="theme"
                                [width]="160" 
                                [height]="32" 
                                [selectedIndex]="0" 
                                [source]="itemTypeSetting?.source" 
                                [ngModel]="lineDetail?.item_type"
                                [displayMember]="itemTypeSetting?.displayMember" 
                                [valueMember]="itemTypeSetting?.valueMember"
                                [ngModelOptions]="{standalone: true}"
                                (onChange)="itemTypeSetting?.onChange($event)"
                                >
                            </jqxDropDownList>
                        </div>
                    </div>
                    
                    <div class="form-group row" >
                        <label class="col-sm-4 col-form-label">{{'No.' | translate}}</label>
                        <div class="col-sm-8 cbx_line_code">
                            <div class="cbx_line_product_id mh-32" [ngClass]="{hidden:lineDetail?.item_type!=1}">
                                <module-items  
                                    #itemsCbx
                                    [key]="'id'"
                                    *ngIf="itemsSetting"
                                    [ngModel]="lineDetail?.product_id" 
                                    (ngModelChange)="lineDetail.product_id = $event"
                                    [ngModelOptions]="{standalone: true}"
                                    (onChange)="itemsSetting.onChange($event)"
                                    (onOpen)="itemsSetting.onOpen()"
                                    (onClose)="itemsSetting.onClose()"
                                ></module-items>
                            </div>
                            <div class=" mh-32" [ngClass]="{hidden:lineDetail?.item_type!=2}">
                                <module-none-item-setup  
                                    #noneItemSetupCbx
                                    [key]="'code'"
                                    [gen_posting_type]="2"
                                    *ngIf="noneItemSetupSetting"
                                    [ngModel]="lineDetail?.code" 
                                    (ngModelChange)="lineDetail.code = $event"
                                    [ngModelOptions]="{standalone: true}"
                                    (onOpen)="noneItemSetupSetting.onOpen()"
                                    (onClose)="noneItemSetupSetting.onClose()"
                                    (onChange)="noneItemSetupSetting.onChange($event)"
                                ></module-none-item-setup>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">{{'Description' | translate}}</label>
                        <div class="col-sm-8">
                            <input 
                                class="form-control form-control-sm txt_line_name"
                                type="text"
                                name="name" 
                                [ngModel]="lineDetail?.name"
                                (ngModelChange)="lineDetail.name = $event"
                                >
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">{{'Unit Price' | translate}}</label>
                        <div class="col-sm-8">
                            <jqxNumberInput
                                [ngModel]="lineDetail?.price"
                                (ngModelChange)="lineDetail.price = $event"
                                [ngModelOptions]="{standalone: true}"
                                [min]="0"
                                [width]="160" 
                                [height]="32" 
                                [spinButtons]="true"
                                [theme]='theme'
                                [inputMode]="'simple'"
                                ></jqxNumberInput>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">{{'Quantity' | translate}}</label>
                        <div class="col-sm-8">
                            <jqxNumberInput
                                [ngModel]="lineDetail?.qty"
                                (ngModelChange)="lineDetail.qty = $event"
                                [ngModelOptions]="{standalone: true}"
                                [min]="0"
                                [width]="100" 
                                [height]="32" 
                                [spinButtons]="true"
                                [theme]='theme'
                                [max]="1000"
                                [digits]="4"
                                [decimalDigits]="0"
                                [inputMode]="'simple'"
                                ></jqxNumberInput>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">{{'Discount' | translate}}</label>
                        <div class="col-sm-8">
                            <jqxNumberInput
                                [ngModel]="lineDetail?.discount"
                                (ngModelChange)="lineDetail.discount = $event"
                                [ngModelOptions]="{standalone: true}"
                                [min]="0"
                                [max]="100"
                                [digits]="3"
                                [width]="100" 
                                [height]="32" 
                                [decimalDigits]="0"
                                [spinButtons]="true"
                                [theme]='theme'
                                [inputMode]="'simple'"
                                ></jqxNumberInput>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">{{'TAX' | translate}}</label>
                        <div class="col-sm-8">
                            <div class="cbx_vat_product_ptg_code">
                                <module-ptg-vat-product  
                                    #vatProdPtgCbx
                                    [key]="'id'"
                                    [type]="2"
                                    *ngIf="vatProdPtgSetting"
                                    [ngModel]="lineDetail?.vat_product_ptg_code" 
                                    (ngModelChange)="lineDetail.vat_product_ptg_code = $event"
                                    [ngModelOptions]="{standalone: true}"
                                    (onOpen)="vatProdPtgSetting.onOpen()"
                                    (onClose)="vatProdPtgSetting.onClose()"
                                    (onChange)="vatProdPtgSetting.onChange($event)"
                                ></module-ptg-vat-product>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">{{'Total Amount Excl. Tax' | translate}}</label>
                        <div class="col-sm-8">
                            <div class="form-control form-control-sm">
                                {{(lineDetail?.price) * (1-(lineDetail?.discount||0) / 100) * (lineDetail?.qty||0) | number}}
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">{{'Total Amount Incl. Tax' | translate}}</label>
                        <div class="col-sm-8">
                            <div class="form-control form-control-sm">
                                {{(lineDetail?.price) * (1-(lineDetail?.discount||0) / 100) * (lineDetail?.qty||0) * (1+(lineDetail?.tax||0)/100) | number }}
                            </div>
                        </div>
                    </div>
                </form>
            </jqxValidator>
            <div class="pt-2x text-right">
                <button class="btn btn-sm btn-danger" (click)="closeLineDetail()"><span class="fa fa-remove"></span> {{'Close' | translate}}</button>
                <button class="btn btn-sm btn-primary" (click)="checkLineValidate(true)" *ngIf="!lineDetail?.id">
                    <span class="fa fa-plus"></span> {{'Add additional Item' | translate}}
                </button>
                <button class="btn btn-sm btn-primary" (click)="checkLineValidate()">
                    <span class="fa fa-plus"></span> {{((lineDetail?.id)?'Update':'Add') | translate}}
                </button>
            </div>
        </div>
    </div>
</jqxWindow>