<div class="page-heading">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">{{'Finances' | translate}}</li>
    </ol>
</div>
<div class="page-content">
    
            
        
        <div class="row module-card mt-3">
            <div class="icon-item" >
                <div class="card" routerLink="/finance/accounts">
                    <div class="card-body flexbox-b">
                        <div >
                            <h4 class="font-strong text-success">{{'Finances' | translate}}</h4>
                            <div class="text-muted"></div>
                            <img src="/assets/img/icons/icon-piechart.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="icon-item" routerLink="/finance/bank">
                <div class="card">
                    <div class="card-body flexbox-b">
                        <div>
                            <h4 class="font-strong text-primary">{{'Bank' | translate}}</h4>
                            <div class="text-muted"></div>
                            <img src="/assets/img/icons/icon-receipt.png">
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="icon-item" routerLink="/finance/activity">
                <div class="card">
                    <div class="card-body flexbox-b">
                        <div>
                            <h4 class="font-strong text-pink">Activity</h4>
                            <div class="text-muted"></div>
                            <img src="/assets/img/icons/icon-journal.png">
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="icon-item">
                <div class="card">
                    <div class="card-body flexbox-b">
                        <div>
                            <h4 class="font-strong text-pink">Aged</h4>
                            <div class="text-muted"></div>
                            <img src="/assets/img/icons/icon-calendar.png">
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="icon-item">
                <div class="card" routerLink="/finance/sales/invoices">
                    <div class="card-body flexbox-b">
                        <div>
                            <h4 class="font-strong text-pink">{{'Sales' | translate}}</h4>
                            <div class="text-muted"></div>
                            <img src="/assets/img/icons/icon-invoice.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="icon-item">
                <div class="card" routerLink="/finance/purchases/invoices">
                    <div class="card-body flexbox-b">
                        <div>
                            <h4 class="font-strong text-pink">{{'Purchase' | translate}}</h4>
                            <div class="text-muted"></div>
                            <img src="/assets/img/icons/icon-purchase.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="-page-header -bg-white">
    <div class="row">
        <div class="col-xl-8">
            <div class="ibox">
                <div class="ibox-body">
                    <div class="d-flex justify-content-between mb-4">
                        <div>
                            <h3 class="m-0">{{'Profitability' | translate}}</h3>
                        </div>
                    </div>
                    <div>
                        <canvas id="profitability_chart" style="height:260px;"></canvas>
                    </div>
                </div>
                <!-- <hr>
                <div class="ibox-body">
                    <div class="row">
                        <div class="col-6 pl-4">
                            <h6 class="mb-3">GENDER</h6>
                            <span class="h2 mr-3"><i class="fa fa-male text-primary h1 mb-0 mr-2"></i>
                                <span>56<sup>%</sup></span>
                            </span>
                            <span class="h2 mr-3"><i class="fa fa-female text-pink h1 mb-0 mr-2"></i>
                                <span>32<sup>%</sup></span>
                            </span>
                            <span class="h2"><i class="fa fa-question text-light h1 mb-0 mr-2"></i>
                                <span>12<sup>%</sup></span>
                            </span>
                        </div>
                        <div class="col-6">
                            <h6 class="mb-3">SCREENS</h6>
                            <span class="h2 mr-3"><i class="ti-desktop text-primary mr-2"></i>
                                <span>49<sup>%</sup></span>
                            </span>
                            <span class="h2 mr-3"><i class="ti-tablet text-pink mr-2"></i>
                                <span>29<sup>%</sup></span>
                            </span>
                            <span class="h2"><i class="ti-mobile text-success mr-2"></i>
                                <span>22<sup>%</sup></span>
                            </span>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="ibox">
                <div class="ibox-body">
                    <div class="d-flex justify-content-between mb-4">
                        <div>
                            <h3 class="m-0">{{'Cash flow' | translate}}</h3>
                        </div>
                    </div>
                    <div>
                        <canvas id="cash_flow_chart" style="height:320px;"></canvas>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-body">
                    <div class="d-flex justify-content-between mb-4">
                        <div>
                            <h3 class="m-0">{{'Income and expenses' | translate}}</h3>
                        </div>
                    </div>
                    <div>
                        <canvas id="income_and_expenses_chart" style="height:320px;"></canvas>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-body">
                    <div class="d-flex justify-content-between mb-4">
                        <div>
                            <h3 class="m-0">{{'Cash end of month' | translate}}</h3>
                        </div>
                    </div>
                    <div>
                        <canvas id="cash_end_of_month_chart" style="height:320px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox ibox-fullheight">
                <div class="ibox-head">
                    <div class="ibox-title">{{'Account Receivable' | translate}}</div>
                    
                </div>
                <div class="ibox-body">
                    <div class="mb-5">
                        <div class="flexbox-b mb-2">
                            <span class="badge-point badge-success mr-2"></span>{{'Received' | translate}} {{dashboard_data?.cash_flow.accounts_receivable.total|number}}
                        </div>
                    </div>
                    <div class="ibox-fullwidth-block">
                        <canvas id="receivable_chart" style="height:320px;"></canvas>
                    </div>
                </div>
                <div class="ibox-head">
                    <div class="ibox-title">{{'Account Payable' | translate}}</div>
                    
                </div>
                <div class="ibox-body">
                    <div class="mb-5">
                        <div class="flexbox-b mb-2">
                            <span class="badge-point badge-success mr-2"></span>{{'Payabled' | translate}} {{dashboard_data?.cash_flow.accounts_payable.total|number}}
                        </div>
                    </div>
                    <div class="ibox-fullwidth-block">
                        <canvas id="payable_chart" style="height:320px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>