<div class="page-heading">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Finance</li>
        <li class="breadcrumb-item">Sales</li>
    </ol>
</div>
<div class="page-content">
    
            
        
    <div class="row module-card mt-3">
        <!-- <div class="icon-item" >
            <div class="card" routerLink="/finance/sales/quotes">
                <div class="card-body flexbox-b">
                    <div >
                        <h4 class="font-strong text-info">Sales <br/>Quotes</h4>
                        <div class="text-muted">{{sales_info?.quotes || 0}}</div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="icon-item" >
            <div class="card" routerLink="/finance/sales/invoices">
                <div class="card-body flexbox-b">
                    <div >
                        <h4 class="font-strong text-success">Sales <br/>Invoices</h4>
                        <div class="text-muted">{{summary?.sales.open_aggregated.invoices.count}}</div>
                         <img src="/assets/img/icons/icon-invoice.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="icon-item">
            <div class="card" routerLink="/finance/sales/credit-notes">
                <div class="card-body flexbox-b">
                    <div>
                        <h4 class="font-strong text-primary">Sales <br/>Credit Notes</h4>
                        <div class="text-muted">{{summary?.sales.open_aggregated.credit_notes.count}}</div>
                        <img src="/assets/img/icons/icon-sales-credit.png">
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="icon-item">
            <div class="card" routerLink="/finance/sales/orders">
                <div class="card-body flexbox-b">
                    <div>
                        <h4 class="font-strong text-pink">Sales <br/>Orders</h4>
                        <div class="text-muted">{{sales_info?.orders || 0}}</div>
                    </div>
                </div>
            </div>
        </div> -->
        
    </div>
    <div>
            <div class="row mb-4">
                <div class="col-lg-4 col-md-6">
                    <div class="card mb-4">
                        <div class="card-body flexbox-b">
                            <div class="easypie mr-4" data-percent="73" data-bar-color="#18C5A9" data-size="80" data-line-width="8">
                                <span class="easypie-data text-success" style="font-size:28px;"><i class="ti-shopping-cart"></i></span>
                            </div>
                            <div>
                                <h3 class="font-strong text-success">720</h3>
                                <div class="text-muted">TODAY'S ORDERS</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card mb-4">
                        <div class="card-body flexbox-b">
                            <div class="easypie mr-4" data-percent="42" data-bar-color="#5c6bc0" data-size="80" data-line-width="8">
                                <span class="easypie-data text-primary" style="font-size:32px;"><i class="la la-money"></i></span>
                            </div>
                            <div>
                                <h3 class="font-strong text-primary">$5800</h3>
                                <div class="text-muted">TODAY'S PROFIT</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card mb-4">
                        <div class="card-body flexbox-b">
                            <div class="easypie mr-4" data-percent="70" data-bar-color="#ff4081" data-size="80" data-line-width="8">
                                <span class="easypie-data text-pink" style="font-size:32px;"><i class="la la-users"></i></span>
                            </div>
                            <div>
                                <h3 class="font-strong text-pink">1250</h3>
                                <div class="text-muted">TODAY'S CUSTOMERS</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8">
                    <div class="ibox ibox-fullheight">
                        <div class="ibox-body">
                            <div class="d-flex justify-content-between mb-4">
                                <div>
                                    <h3 class="m-0">Sales Analytics</h3>
                                    <div>Your shop sales analytics</div>
                                </div>
                                <ul class="nav nav-pills nav-pills-rounded nav-pills-air" id="sales_tabs">
                                    <li class="nav-item ml-1">
                                        <a class="nav-link active" data-toggle="tab" data-id="1" href="javascript:;">This Week</a>
                                    </li>
                                    <li class="nav-item ml-1">
                                        <a class="nav-link" data-toggle="tab" data-id="2" href="javascript:;">Last Week</a>
                                    </li>
                                    <li class="nav-item ml-1">
                                        <a class="nav-link" data-toggle="tab" data-id="3" href="javascript:;">Last Year</a>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <canvas id="sales_chart_1" style="height:260px;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="ibox ibox-fullheight" style="min-height:400px;">
                        <div class="ibox-head">
                            <div>
                                <div class="ibox-title">Weekly Profit</div><small class="text-lighter">24.02 - 24.09</small></div>
                            <div class="ibox-tools">
                                <a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item"><i class="la la-upload"></i>Export</a>
                                    <a class="dropdown-item"><i class="la la-file-excel-o"></i>Download</a>
                                    <a class="dropdown-item"><i class="la la-print"></i>Print</a>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-body">
                            <div class="h1 mt-4">$32,400<sup>.60</sup><i class="ti-stats-up float-right text-success" style="font-size:40px;"></i></div>
                            <div class="text-lighter">26% Higher then last week</div>
                            <div class="abs-bottom">
                                <canvas id="revenue_chart" style="height:220px;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>