<div class="page-content" [ngClass]="{'hidden':item_detail}">
    <div class="ibox">
        <div class="ibox-body">
            <h5 class="font-strong mb-4">PRODUCTS LIST</h5>
            <div class="flexbox mb-4">
                <div class="flexbox">
                    <label class="mb-0 mr-2">Type:</label>
                    <select class="selectpicker show-tick form-control" id="type-filter" title="Please select" data-style="btn-solid" data-width="150px">
                        <option value="">All</option>
                        <optgroup label="Electronics">
                            <option>TV & Video</option>
                            <option>Cameras & Photo</option>
                            <option>Computers & Tablets</option>
                        </optgroup>
                        <optgroup label="Fashion">
                            <option>Health & Beauty</option>
                            <option>Shoes</option>
                            <option>Handbags & Purses</option>
                            <option>Jewelry and Watches</option>
                        </optgroup>
                    </select>
                </div>
                <div class="flexbox">
                    <div class="input-group-icon input-group-icon-left mr-3">
                        <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
                        <input class="form-control form-control-rounded form-control-solid" id="key-search" type="text" placeholder="Search ...">
                    </div>
                    <a class="btn btn-rounded btn-primary btn-air" routerLink="/ecommerce/add_product">Add Product</a>
                </div>
            </div>
            <div class="table-responsive row">
                <table class="table table-bordered table-hover" id="products-table2">
                    <thead class="thead-default thead-lg">
                        <tr>
                            <th>ID</th>
                            <th>Code</th>
                            <th>description</th>
                            <th>Price</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
			
        </div>
    </div>
</div>
<div class="page-content" *ngIf="item_detail">
    <form class="form-horizontal" id="form-product-detail" method="post" novalidate="novalidate">
        <div class="ibox">
            <div class="ibox-head">
                <div class="ibox-title">{{item_detail.description}}</div>
            </div>
            
            <div class="ibox-body">
                <div class="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="">Name</label>
                                    <div class="">
                                        <input class="form-control" type="text" name="description" value="{{item_detail.description}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="">Product Code</label>
                                    <div class="">
                                        <input class="form-control" type="text" name="product_code" value="{{item_detail.product_code}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="">Images</label>
                                    <div *ngFor="let img of item_detail.images"><div class="thumb-cover" ><img src="{{img.url}}"/></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="">Case</label>
                                    <div class="">
                                        <input class="form-control" type="text" name="case" value="{{item_detail.case}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="">Inventory</label>
                                    <div class="">
                                        <div class="form-control">
                                            <ng-template [ngIf]="item_detail.get_u_o_m && !item_detail.item_uom">
                                                {{+item_detail.current_stock/+item_detail.case}} {{item_detail.get_u_o_m.description}}
                                            </ng-template>
                                            <ng-template [ngIf]="item_detail.item_uom && item_detail.get_u_o_m">
                                                {{+item_detail.current_stock/+item_detail.case}} {{item_detail.item_uom.description}}
                                                {{+item_detail.current_stock%+item_detail.case}} {{item_detail.get_u_o_m.description}}
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="">Base UOM</label>
                                    <div class="">
                                        <select class="selectpicker form-control" name="base_uom" data-live-search="false">
                                            <option *ngFor="let uom of uom_list" 

                                                [value]="uom.id" 
                                                [selected]="item_detail.get_u_o_m && uom.id == item_detail.get_u_o_m.id"
                                                attr.data-subtext="{{uom.description}}"
                                                >{{uom.code}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="">Item UOM</label>
                                    <div class="">
                                        <select class="selectpicker form-control" name="item_uom" data-live-search="false">
                                            <option *ngFor="let uom of uom_list" 
                                                [value]="uom.id" 
                                                [selected]="item_detail.item_uom && uom.id == item_detail.item_uom.id" 
                                                attr.data-subtext="{{uom.description}}"
                                                >{{uom.code}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="">Item Group</label>
                                    <div class="">
                                        <select class="select2_demo_2 form-control" name="item_group">
                                            <option *ngFor="let g of group_list" [value]="g.id" [selected]="item_detail.item_group && g.id == item_detail.item_group.id" >{{g.description}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="">Barcode</label>
                                    <div class="">
                                        <input class="form-control" type="text" name="barcode" value="{{item_detail.barcode}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

            <div class="ibox-body">
                <h5 class="mb-4">Supplier</h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="">
                                <select class="select2_demo_2 form-control" name="supplier">
                                    <option *ngFor="let item of suppier_list" [value]="item.id" [selected]="item_detail.supplier && item.id == item_detail.supplier.id" >{{item.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-body">
                <div class="">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="mb-4">Sales Price</h5>
                            <div class="form-group">
                                <label class="">Tax</label>
                                <div class="">
                                    <select class="select2_demo_2 form-control" name="sale_tax">
                                        <option *ngFor="let tax of tax_list" [value]="tax.id" [selected]="item_detail.sale_tax
 && tax.id == item_detail.sale_tax.id" >{{tax.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="">Price Excl. Tax</label>
                                <div class="">
                                    <input class="form-control" type="text" name="sale_price_exclude_tax" value="{{item_detail.sale_price_exclude_tax}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="">Price Inc. Tax</label>
                                <div class="">
                                    <input class="form-control" type="text" name="sale_price_include_tax" value="{{item_detail.sale_price_include_tax}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h5 class="mb-4">Purchase Price</h5>
                            <div class="form-group">
                                <label class="">Tax</label>
                                <div class="">
                                    <select class="select2_demo_2 form-control" name="purchase_tax">
                                        <option *ngFor="let tax of tax_list" [value]="tax.id" [selected]="item_detail.purchase_tax
 && tax.id == item_detail.purchase_tax.id" >{{tax.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="">Price Excl. Tax</label>
                                <div class="">
                                    <input class="form-control" type="text" name="purchase_price_exclude_tax" value="{{item_detail.purchase_price_exclude_tax}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="">Price Inc. Tax</label>
                                <div class="">
                                    <input class="form-control" type="text" name="purchase_price_include_tax" value="{{item_detail.purchase_price_include_tax}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox-footer">
                <button class="btn btn-info mr-2" type="button">Submit</button>
                <button class="btn btn-secondary" type="button" (click)="backToList()">Cancel</button>
            </div>
        </div>
    </form>
</div>