
<div class="dropdown dropdown-module" *ngIf="!hidden && !layout">
    <button  #dropDownButton class="btn btn-block btn-sm btn-outline-secondary dropdown-toggle dropdown-arrow widget-dropdown" data-toggle="dropdown"
        (click)="initDropdown($event)" (mouseenter)="initEvents()"
        ><span>{{label}}</span></button>
    <div class="dropdown-menu" style="min-width: 480px">
        <jqxGrid 
            *ngIf="dropDownGridSetting"
            #dropDownGrid 
            [width]="480" 
            [filterable]="true"
            [showfilterrow]="true"
            [sortable]="true"
            [source]="dropDownGridSetting?.source" 
            [columns]="dropDownGridSetting?.columns" 
            [theme]="theme"
            [ready]="dropDownGridSetting?.ready"
            [pageable]="true" 
            [pagesize]="50"
            [pagesizeoptions]="[50, 100, 200, 500]"
            [columnsresize]="false" 
            [autoheight]="false"
            [height]="320"
            [localization]="dropDownGridSetting?.localization"

            [groupable]="true"
            [showgroupsheader]="false"
            [groupsexpandedbydefault]="true"
            [groups]="dropDownGridSetting?.groups"
            [groupsrenderer]="dropDownGridSetting?.groupsrenderer"
            
            style="'border:0'"
            (onRowclick)="dropDownGridSetting?.onRowSelect($event)"
            [handlekeyboardnavigation]="dropDownGridSetting?.handlekeyboardnavigation"
            onClick="event.stopPropagation();"
            >
        </jqxGrid>
        <div class="dropdown-foot text-right">
            <a (click)="switchToAdvance()"><i class="fa fa-cogs"></i> {{'Advance' | translate}}</a>
        </div>
    </div>
</div>

<div *ngIf="layout=='grid'">
        <ul class="ribon-menu">
            <li><a (click)="clickAdd()"><i class="fa fa-plus"></i><span>{{'Add' | translate}}</span></a></li>
            <li class="driver"></li>
            <li class=""><a (click)="clickEdit()"><i class="fa fa-pencil"></i><span>{{'Edit' | translate}}</span></a></li>
            <li class=""><a (click)="clickDelete()"><i class="fa fa-times"></i><span>{{'Delete' | translate}}</span></a></li>
            <li class=""><a (click)="openJournalLineWindow()"><i class="fa fa-history"></i><span>{{'History' | translate}}</span></a></li>
            <li class="driver"></li>
            <li class=""><a (click)="openFormulas()"><i class="fa fa-formulas"></i><span>{{'Schedule' | translate}}</span></a></li>
            <li><a  (click)="reloadGrid()"><i class="ti-reload"></i><span>{{'Refresh' | translate}}</span></a></li>
            

        </ul>
        <jqxGrid 
            *ngIf="gridSetting"
            #grid
            [width]='"100%"'
            [height]='540'
            [filterable]="true"
            [showfilterrow]="true"
            [sortable]="true"
            [ready]="gridSetting?.ready"

            [groupable]="true"
            [showgroupsheader]="false"
            [groupsexpandedbydefault]="true"
            [groups]="gridSetting?.groups"
            [groupsrenderer]="gridSetting?.groupsrenderer"
            [localization]="gridSetting?.localization"

            

            [theme]="theme"
            [source]="gridSetting?.source" 
            [columns]="gridSetting?.columns" 

            [showtoolbar]="false"
            (onRowdoubleclick)="gridSetting?.onRowdoubleclick($event)" 

            ></jqxGrid>
            <div class="row p-2">
                <span class="mr-2">
                    <label class="checkbox">
                        <input type="checkbox"  (change)="toggleExpandAll($event)" checked="">
                        <span class="input-span"></span>{{'Expand All' | translate}}
                    </label>
                </span>
                <!-- <span>
                    <label class="checkbox">
                        <input type="checkbox"  (change)="toggleUnused($event)">
                        <span class="input-span"></span>Hide Unused Account
                    </label>
                </span> -->
            </div>
</div>


<jqxWindow 
    *ngIf="layout!='grid'"
    class="widget-window"
    #window 
    [isModal]="true"
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="650" 
    [minHeight]='648'
    [showCollapseButton]="false"
    [showCloseButton]="true"

    (onClose)="eventWindowClose()"
    (onOpen)="eventWindowOpen()"
    [title]="'G/L Account List' | translate"
    >
    <div style="overflow: hidden;">
        <ul class="ribon-menu">
            <li><a (click)="clickAdd()"><i class="fa fa-plus"></i><span>{{'Add' | translate}}</span></a></li>
            <li class="driver"></li>
            <li class=""><a (click)="clickEdit()"><i class="fa fa-pencil"></i><span>{{'Edit' | translate}}</span></a></li>
            <li class=""><a (click)="clickDelete()"><i class="fa fa-times"></i><span>{{'Delete' | translate}}</span></a></li>
            <li class=""><a (click)="openJournalLineWindow()"><i class="fa fa-history"></i><span>{{'History' | translate}}</span></a></li>
            <li class="driver"></li>
            <li class=""><a (click)="openFormulas()"><i class="fa fa-formulas"></i><span>{{'Schedule' | translate}}</span></a></li>
            <li><a  (click)="reloadGrid()"><i class="ti-reload"></i><span>{{'Refresh' | translate}}</span></a></li>
            <li class="driver"></li>
            <li>
                <div>
                    <span class="mr-2">
                        <label class="checkbox">
                            <input type="checkbox"  (change)="toggleControlAcct($event)">
                            <span class="input-span"></span>{{'Control Account' | translate}}
                        </label>
                    </span>
                </div>
                <div class="mt-1x">
                    <span>
                        <label class="checkbox">
                            <input type="checkbox"  (change)="toggleUnused($event)">
                            <span class="input-span"></span>{{'Used Account' | translate}}
                        </label>
                    </span>
                </div>
            </li>
            

        </ul>
        <jqxGrid 
            *ngIf="gridSetting"
            #grid
            [width]='630'
            [height]='480'
            [filterable]="true"
            [showfilterrow]="true"
            [sortable]="true"
            [ready]="gridSetting?.ready"

            [groupable]="true"
            [showgroupsheader]="false"
            [groupsexpandedbydefault]="true"
            [groups]="gridSetting?.groups"
            [groupsrenderer]="gridSetting?.groupsrenderer"
            [localization]="gridSetting?.localization"

            

            [theme]="theme"
            [source]="gridSetting?.source" 
            [columns]="gridSetting?.columns" 

            [showtoolbar]="false"
            (onRowdoubleclick)="gridSetting?.onRowdoubleclick($event)" 

            ></jqxGrid>
            <div class="mt-1x text-right">
                <button class="btn btn-sm btn-danger" (click)="close()"><span class="fa fa-remove"></span> {{'Close' | translate}}</button>
                <button class="btn btn-sm btn-primary" (click)="done()"><span class="fa fa-check"></span> {{'Done' | translate}}</button>
            </div>
    </div>
</jqxWindow>




<jqxWindow 
    class="widget-window"
    #detailWindow 
    [isModal]="true"
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="480" 
    [showCollapseButton]="false"
    [showCloseButton]="true"
    (onOpen)="initDetailWindow()"
    [title]="'G/L Account Card' | translate"
    >
    <div style="overflow: hidden;padding: 40px 60px" class="-no-event">
        <jqxValidator 
            #validator  
            [rules]="rules" 
            [focus]="false"
            (onValidationSuccess)="onValidationSuccess()"
            (onValidationError)="onValidationError()"
            >
            <form>
                <div class="form-group ">
                    <label class="">{{'Account Code' | translate}}</label>
                    <div class="">
                        <input 
                            class="form-control form-control-sm txt_acct_code"
                            type="text"
                            name="acct_code" 
                            [ngModel]="editingItem?.acct_code"
                            (ngModelChange)="editingItem.acct_code = $event"
                            >
                    </div>
                </div>
                <div class="form-group ">
                    <label class="">{{'Account Name' | translate}}</label>
                    <div class="">
                        <input 
                            class="form-control form-control-sm txt_acct_name"
                            type="text"
                            name="acct_name" 
                            [ngModel]="editingItem?.acct_name"
                            (ngModelChange)="editingItem.acct_name = $event"
                            >
                    </div>
                </div>
                <div class="form-group ">
                    <label class="">{{'Account Category' | translate}}</label>
                    <div class="cbx_category_id mh-32">
                        <div role="jqx-combobox" *ngIf="!cateSetting"></div>
                        <jqxDropDownList *ngIf="cateSetting"
                            #categoryCbx
                            [theme]="theme"
                            [width]="'100%'" 
                            [height]="30" 
                            [source]="cateSetting?.source" 
                            [ngModel]="editingItem?.category_id"
                            [displayMember]="cateSetting?.displayMember" 
                            [valueMember]="cateSetting?.valueMember"
                            [ngModelOptions]="{standalone: true}"
                            (onChange)="cateSetting?.onChange($event)"
                            (onSelect)="cateSetting?.onSelect($event)"
                            (onBindingComplete)="cateSetting?.bindingComplete($event)"
                            >
                        </jqxDropDownList>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="">{{'Account Parent' | translate}}</label>
                    <div class="cbx_parent_id mh-32">
                        <div role="jqx-combobox" *ngIf="!parentSetting"></div>
                        <jqxDropDownList *ngIf="parentSetting"
                            #parentCbx
                            [theme]="theme"
                            [width]="'100%'" 
                            [height]="30" 
                            [source]="parentSetting?.source" 
                            [ngModel]="editingItem?.parent_id"
                            [displayMember]="parentSetting?.displayMember" 
                            [valueMember]="parentSetting?.valueMember"
                            [ngModelOptions]="{standalone: true}"
                            (onChange)="parentSetting?.onChange($event)"
                            (onBindingComplete)="parentSetting?.bindingComplete($event)"
                            >
                        </jqxDropDownList>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="">{{'General Posting Type' | translate}}</label>
                    <div class="gen_posting_type mh-32">
                        <jqxDropDownList *ngIf="genPostTypeSetting"
                            #gen_posting_typeCbx
                            [theme]="theme"
                            [width]="'100%'" 
                            [height]="30" 
                            [source]="genPostTypeSetting?.source" 
                            [ngModel]="editingItem?.gen_posting_type"
                            [displayMember]="genPostTypeSetting?.displayMember" 
                            [valueMember]="genPostTypeSetting?.valueMember"
                            [ngModelOptions]="{standalone: true}"
                            (onChange)="genPostTypeSetting?.onChange($event)"
                            >
                        </jqxDropDownList>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="mt-1x">{{'None Item Account' | translate}}</label>
                    <label class="ui-switch switch-icon pull-right mt-1x">
                        <input type="checkbox" 
                            name="none_item"
                            [ngModel]="editingItem?.none_item"
                            (ngModelChange)="editingItem.none_item = $event"
                            >
                        <span></span>
                    </label>
                </div>
            </form>
        </jqxValidator>
        <div class="mt-4x">
            <!-- <button class="btn btn-sm btn-outline-danger" (click)="closeDetail()"><span class="fa fa-remove"></span> Close</button> -->
            <div class="text-right">
                <button class="btn btn-primary" (click)="checkValidate()">
                    <span class="fa fa-save"></span> {{(editingItem?.id?'Update':'Create') | translate}}
                </button>
            </div>
        </div>
    </div>
</jqxWindow>

<jqxWindow 
    class="widget-window"
    #journalLineWindow 
    [isModal]="true"
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="780" 
    [minHeight]='460'
    [showCollapseButton]="false"
    [showCloseButton]="true"
    (onOpen)="initJournalWindow()"
    [title]="'G/L Account History' | translate"

    >
    <div>
        <div>
            <div class="form-group" style="width: 240px">
                <label class="">{{'From - To' | translate}}</label>
                <div class="">
                    <div class="filterrange"style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">
                        <i class="fa fa-calendar mr-2"></i>
                        <span></span><b class="caret"></b>
                    </div>
                </div>
            </div>
        </div>
        <jqxGrid 
            *ngIf="journalGridSetting"
            #journalDetailGrid 
            [width]="'100%'" 
            [filterable]="true"
            [showfilterrow]="true"
            [sortable]="true"
            [source]="journalGridSetting?.source" 
            [columns]="journalGridSetting?.columns" 
            [theme]="theme"
            [ready]="journalGridSetting?.ready"
            [pageable]="true" 
            [pagesize]="50"
            [pagesizeoptions]="[50, 100, 200, 500]"
            [columnsresize]="false" 
            [autoheight]="false"
            [height]="300"
            [virtualmode]="true"
            [localization]="journalGridSetting?.localization"
            [rendergridrows]="journalGridSetting?.rendergridrows"
            >
        </jqxGrid>
    </div>

</jqxWindow>
<module-formulas #formulas [hidden]="true"></module-formulas>