<div class="page-heading">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Formulas</li>
    </ol>
</div>
<div class="page-header" >
    <div class="ibox ibox-sm">
        <div class="ibox-body">
                <module-formulas  
                    [layout]='"grid"'
                ></module-formulas>
                
        </div>
    </div>
</div>