<div class="page-heading">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">{{'Posting Group' | translate}}</li>
        <li class="breadcrumb-item">{{'None Item Setup' | translate}}</li>
    </ol>
</div>
<div class="page-header" >
    <div class="ibox ibox-sm">
        <div class="ibox-body">
            <module-none-item-setup  
                    [layout]='"grid"'
                
                ></module-none-item-setup>
        </div>
    </div>
</div>