
<div class="dropdown dropdown-module" *ngIf="!hidden && !layout">
    <button class="btn btn-block btn-sm btn-outline-secondary dropdown-toggle dropdown-arrow widget-dropdown" data-toggle="dropdown"
        (click)="initDropdown($event)"
        >{{label}}</button>
    <div class="dropdown-menu">
        <jqxGrid 
            *ngIf="dropDownGridSetting"
            #dropDownGrid 
            [width]="'100%'" 
            [filterable]="true"
            [showfilterrow]="true"
            
            [sortable]="true"
            [source]="dropDownGridSetting?.source" 
            [columns]="dropDownGridSetting?.columns" 
            [theme]="theme"
            [ready]="dropDownGridSetting?.ready"
            [columnsresize]="false" 
            [autoheight]="false"
            [height]="280"
            style="'border:0'"
            (onRowclick)="dropDownGridSetting?.onRowSelect($event)"
            [localization]="dropDownGridSetting?.localization"

            [pagesize]="1000"

            onClick="event.stopPropagation();"
            >
        </jqxGrid>
        <div class="dropdown-foot text-right">
            <a (click)="switchToAdvance()"><i class="fa fa-cogs"></i> {{'Advance' | translate}}</a>
        </div>
    </div>
</div>
<jqxWindow 
    *ngIf="layout!='grid'"
    class="widget-window"
    #window 
    [isModal]="true"
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="640" 
    [minHeight]='515'
    [keyboardCloseKey]='""'
    [keyboardNavigation]="false"
    [showCollapseButton]="false"
    [showCloseButton]="true"

    (onClose)="eventWindowClose()"
    (onOpen)="eventWindowOpen()"
    [title]="'Inventory Posting Group' | translate"
    >
    <div style="overflow: hidden;">
        <ul class="ribon-menu">
            <!-- <li><a (click)="addNewItem()"><i class="fa fa-plus"></i><span>Add</span></a></li> -->
            <li><a (click)="clickAdd()"><i class="fa fa-plus"></i><span>{{'Add' | translate}}</span></a></li>
            <li><a (click)="clickEdit()"><i class="fa fa-pencil"></i><span>{{'Edit' | translate}}</span></a></li>
            <li><a (click)="clickDelete()"><i class="fa fa-times"></i><span>{{'Delete' | translate}}</span></a></li>
            <!-- <li class="disabled"><a><i class="fa fa-fa-empty-set"></i><span>Clear Selection</span></a></li> -->
            <li class="driver"></li>
            <li><a  (click)="reloadGrid()"><i class="ti-reload"></i><span>{{'Refresh' | translate}}</span></a></li>
            

        </ul>
        <jqxGrid 
            *ngIf="gridSetting"
            #grid
            [width]='630'
            [height]='380'
            [filterable]="true"
            [showfilterrow]="true"
            
            [sortable]="true"
            [ready]="gridSetting?.ready"
            [localization]="gridSetting?.localization"



            [theme]="theme"
            [source]="gridSetting?.source" 
            [columns]="gridSetting?.columns" 

            [showtoolbar]="false"

            [pagesize]="1000"
            

            [editable]="true"
            [editmode]='"selectedrow"'
            [selectionmode]='"singlerow"'
            (onCellbeginedit)="gridSetting?.onCellBeginEdit($event)" 
            (onCellendedit)="gridSetting?.onCellEndEdit($event)" 
            ></jqxGrid>
            <!-- 
            (onRowdoubleclick)="gridSetting?.onRowdoubleclick($event)" 
            -->
            <div class="mt-2 text-right">
                <button class="btn btn-sm btn-outline-danger" (click)="close()"><span class="fa fa-remove"></span> {{'Close' | translate}}</button>
                <div class="float-right">
                    <button class="btn btn-sm btn-outline-secondary" (click)="done()"><span class="fa fa-check"></span> {{'Done' | translate}}</button>
                </div>
            </div>
    </div>
</jqxWindow>
<div *ngIf="layout=='grid'">
    <ul class="ribon-menu">
            <!-- <li><a (click)="addNewItem()"><i class="fa fa-plus"></i><span>Add</span></a></li> -->
            <li><a (click)="clickAdd()"><i class="fa fa-plus"></i><span>{{'Add' | translate}}</span></a></li>
            <li><a (click)="clickEdit()"><i class="fa fa-pencil"></i><span>{{'Edit' | translate}}</span></a></li>
            <li><a (click)="clickDelete()"><i class="fa fa-times"></i><span>{{'Delete' | translate}}</span></a></li>
            <!-- <li class="disabled"><a><i class="fa fa-fa-empty-set"></i><span>Clear Selection</span></a></li> -->
            <li class="driver"></li>
            <li><a  (click)="reloadGrid()"><i class="ti-reload"></i><span>{{'Refresh' | translate}}</span></a></li>
            

        </ul>
    <jqxGrid 
            *ngIf="gridSetting"
            #grid
            [width]='"100%"'
            [height]='380'
            [filterable]="true"
            [showfilterrow]="true"
            [localization]="gridSetting?.localization"
            
            [sortable]="true"
            [ready]="gridSetting?.ready"

            [pagesize]="1000"


            [theme]="theme"
            [source]="gridSetting?.source" 
            [columns]="gridSetting?.columns" 

            [showtoolbar]="false"
            [editable]="true"
            [editmode]='"selectedrow"'
            [selectionmode]='"singlerow"'
            (onCellbeginedit)="gridSetting?.onCellBeginEdit($event)" 
            (onCellendedit)="gridSetting?.onCellEndEdit($event)" 
            ></jqxGrid>
            <!-- 
            (onRowdoubleclick)="gridSetting?.onRowdoubleclick($event)" 
            -->
</div>
<jqxWindow 
    class="widget-window"
    #detailWindow 
    [isModal]="true"
    [autoOpen]="false"
    [resizable]="false"
    [theme]="theme"
    [width]="420" 
    [height]='auto'
    [keyboardCloseKey]='""'
    [keyboardNavigation]="false"
    [showCollapseButton]="false"
    [showCloseButton]="true"
    (onOpen)="initDetailWindow()"
    [title]="'Inventory Posting Group' | translate"
    >
    <div style="overflow: visible;min-height: 310px">
        <div class="p-2x">
            <jqxValidator 
                #validator  
                [rules]="rules" 
                [focus]="false"
                (onValidationSuccess)="onValidationSuccess()"
                (onValidationError)="onValidationError()"
                >
                <form>
                    <input type="hidden" name="id" [ngModel]="editingItem?.id" >
                    <div class="form-group ">
                        <label class="text-muted">{{'Location' | translate}}</label>
                        <div class="cbx_location_code">
                            <module-location  
                                #locationCbx
                                [key]="'code'"
                                *ngIf="locationSetting"
                                [ngModel]="editingItem?.location_code" 
                                (ngModelChange)="editingItem.location_code = $event"
                                [ngModelOptions]="{standalone: true}"
                                (onOpen)="locationSetting.onOpen()"
                                (onClose)="locationSetting.onClose()"
                                (onChange)="locationSetting.onChange($event)"
                            ></module-location>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="text-muted">{{'Inventory Posting Group' | translate}}</label>
                        <div class="cbx_invt_ptg_code">
                            <module-ptg-inventory  
                                #invtPtgCbx
                                [key]="'code'"
                                *ngIf="invtPtgSetting"
                                [ngModel]="editingItem?.invt_ptg_code" 
                                (ngModelChange)="editingItem.invt_ptg_code = $event"
                                [ngModelOptions]="{standalone: true}"
                                (onOpen)="invtPtgSetting.onOpen()"
                                (onClose)="invtPtgSetting.onClose()"
                                (onChange)="invtPtgSetting.onChange($event)"
                            ></module-ptg-inventory>
                        </div>
                    </div>
                
                    <div class="form-group ">
                        <label class="text-muted">{{'Inventory Account' | translate}}</label>
                        <div class="cbx_invt_acct_code">
                            <module-account  
                                #invtAcctCbx
                                [key]="'acct_code'"
                                *ngIf="acctSetting"
                                [ngModel]="editingItem?.invt_acct_code" 
                                (ngModelChange)="editingItem.invt_acct_code = $event"
                                [ngModelOptions]="{standalone: true}"
                                (onOpen)="acctSetting.onOpen()"
                                (onClose)="acctSetting.onClose()"
                                (onChange)="acctSetting.onAcctChange($event)"
                            ></module-account>
                        </div>
                    </div>
                        
                </form>
            </jqxValidator>
            <div class="pt-2x text-right">
                <button class="btn btn-sm btn-danger" (click)="closeDetail()"><span class="fa fa-remove"></span> {{'Close' | translate}}</button>
                    <button class="btn btn-sm btn-primary ml-2x" (click)="checkValidate()">
                        <span class="fa fa-save"></span> {{(editingItem?.id?'Update':'Create') | translate}}
                    </button>
            </div>
        </div>
    </div>
</jqxWindow>